[2021-07-30 07:56] abbasmoosavi commented on #161
@JinHao-L
This error still exists, please help me!

[2021-07-30 10:42] JinHao-L commented on #161
@abbasmoosavi
I think will have to wait for the owner to make a new release. You can make a temporary patch for it in the mean time

[2021-07-30 18:20] ammarahm-ed commented on #161
The issue is fixed on master branch. You can use it until a new version is released

[2021-07-30 18:23] ammarahm-ed commented on #197
You can simply define ref in constructor.

[code]

[2021-07-30 18:24] #197 closed

[2021-08-01 18:20] galihlprakoso opened #200 "java.lang.NullPointerException: Attempt to invoke virtual method 'void android.os.Handler.removeCallbacks"
I've checked the android native code. there is null check before calling removeCallbacks but somehow it's still throwing null pointer exception.

This is the full stack trace:
[code]

It happens on production app.

[2021-08-04 12:37] abbasmoosavi commented on #161
And in master branch exist some problems in iOS

[2021-08-16 13:23] GuillemetS opened #204 "Pod install: Error installing GoogleMobileAdsMediationFacebook - curl: (22) The requested URL returned error: 403 Forbidden"
Hello,

I try to add your library in my project but the pod install script don't working

I re-try in another empty project (in case there is a conflict with another package) but I have the same error

![Capture d’écran 2021-08-16 à 15 14 49](https://user-images.githubusercontent.com/6207052/129570656-bcf34407-f68c-459b-8dfb-67659d7336b7.png)

Do you have an idea ?

[2021-08-20 20:12] CapiPato commented on #198
Did you know how to fix it?, or any new on this?

[2021-08-24 04:14] ammarahm-ed commented on #200
I will investigate this

[2021-08-28 15:53] ammarahm-ed commented on #200
If you can send a PR that would be great.

[2021-08-28 17:25] galihlprakoso commented on #200
Sure!

Sure then!

[2021-08-28 17:29] galihlprakoso commented on #200
But I think it's already fixed by somebody wkwk. Maybe next time!

[2021-08-31 13:48] eastrd commented on #172
- Following the example code `pod 'Google-Mobile-Ads-SDK', '8.7.0'` didn't work
- Using others suggested `pod 'Google-Mobile-Ads-SDK', '7.69.0'` didn't work either, the same error as @teamzz111 mentioned above

[2021-08-31 13:51] ammarahm-ed commented on #172
Use master branch.

[2021-08-31 13:55] #192 closed

[2021-08-31 13:57] #200 closed

[2021-08-31 13:57] #196 closed

[2021-09-02 02:44] LayThankTon opened #207 "Use .png images"
First of all, your project is awesome, thanks a lot!
i would like to ask if it is possible to use star.png images instead of react-native-vector-icons library. I think using the library just to use a few characters is a waste of resources. Do you think it's reasonable? Icons in .svg format can be provided at https://icon-sets.iconify.design/?query=star and I can assist in converting .svg to .png t

[2021-09-02 07:31] ammarahm-ed commented on #207
The only reasonable modification to the current StarView would be to be able to provide your own <Icon/> Component which will be used directly instead of using icons. However I think most apps will be using at least one type of icon from react-native-vector-icon library.

[2021-09-02 09:37] LayThankTon commented on #207
Yes, a good reason is to use your Component directly and independently.
In my case, I used a set of several dozen icons in .png format, and maintaining or modifying them was intuitive and easy.
it's just an option, so if you plan to make this change in the future, let me know.
thanks so much!

[2021-09-02 10:15] ammarahm-ed commented on #142
Fixed in v0.5.0

[2021-09-02 10:15] #142 closed

[2021-09-02 10:15] #199 closed

[2021-09-02 10:15] ammarahm-ed commented on #198
Fixed v0.5.0

[2021-09-02 10:15] #198 closed

[2021-09-02 10:16] ammarahm-ed commented on #193
Fixed v0.5.0

[2021-09-02 10:16] #193 closed

[2021-09-02 10:16] ammarahm-ed commented on #204
Fixed v0.5.0

[2021-09-02 10:16] #204 closed

[2021-09-02 10:16] ammarahm-ed commented on #180
Does not work however it is implemented correctly. for now closing.

[2021-09-02 10:16] #180 closed

[2021-09-02 11:31] ammarahm-ed commented on #207
I will add support for it in future. For now I am closing this issue.

[2021-09-02 11:31] #207 closed

[2021-09-03 02:34] haresh4d opened #208 "There is a need of an all in one admob integration library"
@ammarahm-ed there is a need of an all in one admob library for react native. There are many ad formats provided by Google Mobile SDK and react-native-admob is not updated. Is there any chance that you can integrate all the ads format like interstitial, rewarded, and App Open in this library?

[2021-09-03 03:11] ammarahm-ed commented on #208
@haresh4d I think not possible.

[2021-09-03 03:11] #208 closed

[2021-09-03 04:27] haresh4d opened #209 "Component 'RNGADNativeView' re-reigistered bubbling event 'topSizeChange' as a direct event."
I am getting this error since tomorrow. Please help.
![Simulator Screen Shot - iPhone 12 mini - 2021-09-03 at 09 54 18](https://user-images.githubusercontent.com/12708202/131950489-6e39121f-4998-4fe9-8cd4-238d130841d6.png)

[2021-09-03 07:22] haresh4d commented on #209
Got the solution. I was using react-native-admob-next library which is also registering the same events as bubbliing event so it caused an issue.

[2021-09-04 08:24] ammarahm-ed commented on #209
I will fix this in the next version

[2021-09-07 06:00] galihlprakoso opened #210 "Method onNativeAdLoaded does not exist on module NativeAdMessageHandler1630993870871.5916, js engine: hermes"
Throwing invariant violation message:
[code]

React Native: 0.64.2, lib version: 0.5.0.

[2021-09-07 06:52] ammarahm-ed commented on #210
@galihlprakoso Not receiving any such error in example app which is also on RN 0.64.2. Try clearing you node_modules and run `./gradlew clean` and try again.

[2021-09-08 14:27] iLevye opened #211 "How to setup facebook and other mediation networks?"
Is there any document that I can follow for the Facebook Mediation setup?

Do I need to add any pod for ios or dependency for android?

Do I need to add anything like Facebook business ID to Info.plist or AndroidManifest.xml ?

There are a lot of documents, versions, changes about this topic and it is really confusing thing for who implements this for the first time.

[2021-09-09 07:09] a-chess opened #212 "Build error in IOS when Hermes is enabled"
When I build a example project with hermes enabled, I get a build error in IOS.

**Podfile**
[code]

**XCode**
<img src="https://user-images.githubusercontent.com/7105360/132637072-1457b06d-78c2-455d-883e-85043e82d2eb.png" width="500">

I'm not sure if this is the right way to do it, but I made the following modifications and confirmed that it works correctly.
https://github.com/a-chess/react-nati

[2021-09-10 15:56] babyrusa opened #213 "Production Ads is always loading"
Hi. I follow the example in this repo. In dev mode, when loading ads, I got the error "not enough inventory" which I understand why and resulted in `setError(true)` and `setLoading(false)`. However in production, my ads won't stop loading, therefore the View just keeps showing the spinner. I wonder what could have caused this. I want it to behave like if there is no ads then at least return an err

[2021-09-10 22:39] #213 closed

[2021-09-11 18:30] ammarahm-ed commented on #211
Setup mediation on Admob Account for Facecbook Ads. Follow the complete guide. Ads will show up from facebook.

[2021-09-14 18:09] ArnabXD commented on #73
So how do I make video ads work in a modal? I already tried a fullscreen modal with React Navigation and wrapped it with a ScrollView but nothing changed.  Video isn't showing up even after trying to scroll. So I did attach a ref to ScrollView and Triggered `scrollTo()` inside `onNativeAdLoaded`. Still, it doesn't show up. I tried the example app which works completely fine.

My Code

[code]

My R

[2021-09-14 18:49] ammarahm-ed commented on #73
Do not use flex on ScrollView. Set a fixed height for NativeAdView. Set a fixed max for ScrollView greater than NativeAdView.  For example if NativeAdView is 250 then ScrollView can be 251. Then trigger scroll so it will actually move a little and video will play.

[2021-09-18 14:55] ammarahm-ed commented on #212
@wjaykim Did you test with hermes enabled when you made those changes?

[2021-09-18 23:03] wjaykim commented on #212
No, I didn't.
But I know the solution. I made change to header file import from `#import <React/xx.h>` to `@React`. I think we have to revert these changes.

[2021-09-23 02:35] babyrusa commented on #51
@ammarahm-ed  Hello. are `refreshInterval` and `delayAdLoading` props  belong to <NativeAdView> ? I tried adding them but there was no difference. I was looking in the source code but cannot find these props. I'm using version `0.4.1` and it works if it follow the sample using FlatList but not with ScrollView

[2021-09-23 03:00] ammarahm-ed commented on #51
Both props were removed in latest version as they cause issues. You can write your own logic to refresh ad in JS and use the ref to load the ad. Read the docs and check the Migrating part to know what changed in latest version.

[2021-09-23 04:20] babyrusa commented on #51
@ammarahm-ed  thank you. Do you know why the ads wouldn't load when I'm using ScrollView but does when I use Flatlist (followed the example)? Is it because the ads will load when they are not called all at once in the list?

[2021-09-27 11:31] iLevye commented on #211
There are no additional steps for Facebook ads.

[2021-09-27 11:31] #211 closed

[2021-09-30 22:00] doranteseduardo commented on #212
I got those errors fixed by upgrading to RN 0.65.0

[2021-10-01 09:02] SergiOnGit opened #217 "App is crashing on android RN 0.65.1"
App is building but crashes as soon as I open it.

[code]
**Firebase logged error:**
[code]

I guess it has problem with expo ads, which I am using in this project.
react-native-admob-native-ads 0.4.1 version doesn't have this problem. It only happens with 0.5.0

Can anyone help?

[2021-10-02 04:11] haresh4d opened #218 "Undefined symbols for architecture x86_64: "_OBJC_CLASS_$_SKAdImpression", referenced from: objc-class-ref in FBAudienceNetwork(FBAdSKAdNetworkManager.m.o) ld: symbol(s) not found for architecture x86_64"
After installing v 5.0 I am getiting following error:

Undefined symbols for architecture x86_64:
  "_OBJC_CLASS_$_SKAdImpression", referenced from:
      objc-class-ref in FBAudienceNetwork(FBAdSKAdNetworkManager.m.o)
ld: symbol(s) not found for architecture x86_64

[2021-10-02 19:32] ammarahm-ed commented on #217
The error seems to be coming from expo ads library. I don't see any mention of this library or any of it's classes etc the error log.

[2021-10-02 19:34] ammarahm-ed commented on #217
The only reason i understand for this would be that expo ads are using older version of google admob.

The solution is to remove expo ads and use `react-native-admob/admob` library.

[2021-10-02 23:16] SergiOnGit commented on #217
@ammarahm-ed You are right. I removed expo ads and now it works.

[2021-10-02 23:16] #217 closed

[2021-10-05 20:42] forbesgillikin opened #219 "Compatibility with react-native-fbsdk-next"
An fyi for others who may have struggled with this..

react-native-fbsdk-next currently does not use the latest Facebook SDK which will cause duplicate symbol errors on build for iOS with FBSDKCoreKit and FBSDKCoreKit_basics.

To use react-native-admob-native-ads (or any other package that uses FBAudienceNetwork) with react-native-fbsdk-next you must manually add

`pod 'FBAudienceNetwork', '6.5.0'

[2021-10-11 17:00] rithiksachdev commented on #31
What is command that you used @Gio1378 ??

[2021-10-11 18:03] Gio1378 commented on #31
Sorry @ammarahm-ed, I don’t remember what kind of command I’ve used.

[2021-10-19 22:09] devGuerra opened #222 "expo bearer with native ads"
Hello,

this version has support with expo bearer ?

i getting this error, try run link but not works

![image](https://user-images.githubusercontent.com/6579736/137997540-60b97c75-9b3a-4129-b6ae-78ae08cc1579.png)

[2021-10-19 22:10] devGuerra commented on #61
me too

[2021-10-21 10:45] bobbyjcolley opened #224 "Typescript issues"
Hi RNAMA!

I've noticed an issue where the typescript typings for the NativeMediaView component callbacks are slightly off.

https://github.com/ammarahm-ed/react-native-admob-native-ads/blob/master/index.d.ts#L434-L438

I didn't see anything which leads me to think that these should be arrow functions which do not return a value. This would be the fix:

[code]

[2021-10-21 11:18] ammarahm-ed commented on #224
Hey thanks for pointing out and sending a PR. There are some ts issues, I think they can be resolved. Rewriting in typescript isn't an option at the moment.

You can set both to not required in index.d.ts file as they are not needed.

[2021-10-21 11:37] #224 closed, assigned to nobody

[2021-10-21 18:34] felire commented on #144
@ammarahm-ed Could you re open this? I am getting `Could not build module 'React'` on `RNGADNativeViewManager` file

[2021-10-22 04:37] ammarahm-ed commented on #144
What is your RN version @felire

[2021-11-05 05:36] pairohit305 opened #226 "Ad Preloading"
When will the preloading feature be fully implemented?

[2021-11-07 09:49] Salman888 opened #227 "Could not find generated setter for class com.ammarahmed.rnadmob.nativeads.RNAdmobNativeViewManager"
2021-11-07 14:58:41.889 23431-23571/com.packagename W/unknown:ViewManagerPropertyUpdater: Could not find generated setter for class com.ammarahmed.rnadmob.nativeads.RNAdmobNativeViewManager
2021-11-07 14:58:41.890 23431-23571/com.packagename W/unknown:ViewManagerPropertyUpdater: Could not find generated setter for class com.ammarahmed.rnadmob.nativeads.RNAdmobMediaViewManager
2021-11-07 14:58:41.8

[2021-11-10 13:12] FayyazAliKhan1 commented on #39
your demo application is not running properly showing this error
_TypeError: undefined is not a function (near '..._$$_REQUIRE(_dependencyMap[3], "react-native-admob-native-ads").AdManager.registerRepository...')
 ERROR  Invariant Violation: Module AppRegistry is not a registered callable module (calling runApplication). A frequent cause of the error is that the application entry file path is inco

[2021-11-10 13:46] ammarahm-ed commented on #39
@FayyazAliKhan1 Example app is working fine.

[2021-11-10 14:07] FayyazAliKhan1 commented on #39
I mean the build is successful in iOS simulator but this error displays when metro bundler loads completely and the app is showing a white screen

[2021-11-10 14:10] FayyazAliKhan1 commented on #39
further more I am using my own banner ids and it's almost 4 days that I have implemented it but still ads are not showing to me properly just the above ad logo and small purple box is showing,

[2021-11-10 14:28] ammarahm-ed commented on #39
@FayyazAliKhan1 The latest code with repositories is not released yet. Use the master branch instead if you want to try it out.

[code]

You cannot use banner ids with this ad format. You need to generate Native Ad Ids in your Admob Account. Also note that do not use your ad ids in dev mode. Use test ids provided in admob. Read the docs.

[2021-11-11 04:08] anhdo9797 opened #229 "Cannot find interface declaration for 'GADNativeAdView', superclass of 'RNGADNativeView'; did you mean 'GADNativeAd'?"
I'm getting this error:

![Screen Shot 2021-11-11 at 11 05 57](https://user-images.githubusercontent.com/60549336/141235189-0b4ee905-0d33-4a76-92b7-be9d80b4c440.png)

My dependencies: {
 "react-native": "0.64.2",
 "@react-native-firebase/admob": "^11.5.0",
 "@react-native-firebase/app": "^11.5.0",
 "react-native-admob-native-ads": "^0.5.0",
}

please help me !

[2021-11-11 07:41] FayyazAliKhan1 commented on #39
@ammarahm-ed I used the master branch but the error is in version 0.5.0 but when I used version of your repo using
`yarn add https://github.com/ammarahm-ed/react-native-admob-native-ads.git` which is version 0.6.0 is working in Android very well Thanks, but this version is failing the build of IOS, and showing the below error, please tell what should I do for IOS.
<img width="573" alt="image" src=

[2021-11-11 22:45] raffibag opened #230 "Facebook Mediation w/Header Bidding"
While I've integrated this library and have ads being served via FB Audience Network mediation using waterfall, no calls have been posted using header bidding - despite setting everything up per both AdMob and Facebook's instructions.

Is bidding fully supported in this library? And, if so, is there any additional client-side configuration that's required to make it work?

[2021-11-12 10:48] FayyazAliKhan1 opened #231 "IOS build failed in version 0.6.0"
react-native-admob-native-ads IOS build issue on version 0.6.0 working fine in android Thanks for it, but this version fails the build on IOS,
"react": "17.0.1",
 "react-native": "0.64.2"
CocoaPods installed the 0.6.0 successfully
<img width="573" alt="issue" src="https://user-images.githubusercontent.com/46970238/141454567-cbf5a36f-9800-4d0b-9831-e0dee56bae6f.png">
,
Thanks 😊

[2021-11-13 00:06] luigimannoni commented on #222
Same issue with Expo 43, does not work either with bare workflow or as a ejected project.
There's not an explicit way to eject the project after Expo 38 (or 40) but you can do it forcefully by using `expo eject` but the guys at Expo don't recommend it.

Also `react-native link` won't help...

I've recreated a quick repo showing the issue, checkout `master` branch for the Expo Bare Workflow version

[2021-11-14 06:42] Ali72 commented on #231
I sent a pull request for this bug

[2021-11-14 15:57] aleluiah opened #232 "how to close ad request"
please are there ways to close ad requests

[2021-11-14 17:23] ammarahm-ed commented on #231
Thanks for the fix @Ali72 I am closing this.

[2021-11-14 17:23] #231 closed

[2021-11-14 17:25] ammarahm-ed commented on #226
You can use the master branch if you need to use it until it is released.

[2021-11-14 17:25] #226 closed

[2021-11-14 17:26] ammarahm-ed commented on #222
@luigimannoni I will investigate this soon.

[2021-11-14 17:26] #219 closed

[2021-11-14 18:27] aleluiah opened #233 "how to preload ads"
please is there any way to preload ads

[2021-11-15 04:25] mdtechcs opened #234 "Build error while adding this package in my existing react native app. [Execution failed for task ':app:checkDebugDuplicateClasses'.]"
Hi

I am trying to install this package in my existing react native application. I am getting following build error while running on android.

[code]

I have react-native-firebase package installed in my project and I guess both libraries are not compatible. Here is my package.json

[code]

  Does anyone have any idea how to fix this?

[2021-11-15 04:26] mdtechcs commented on #76
I am facing compatibility issues. https://github.com/ammarahm-ed/react-native-admob-native-ads/issues/234
I would be really thankful if anyone have any idea.

[2021-11-15 04:30] ammarahm-ed commented on #76
Use the library provided in readme instead

[2021-11-15 04:35] mdtechcs commented on #76
you mean https://github.com/react-native-admob/admob ? I think issue is that firebase and react-native-admob-native-ads are conflicting

[2021-11-15 11:16] ammarahm-ed commented on #76
The conflict can't be fixed. Since firebase uses older version of admob and this lib uses the latest.

[2021-11-18 06:43] ammarahm-ed commented on #234
You will need to use an updated AdMob lib for other ad formats. `@react-native-firebase/admob` is outdated.

[2021-11-18 06:43] #234 closed

[2021-11-18 06:44] ammarahm-ed commented on #233
You can use the master branch if you need preloading ads.

[2021-11-18 06:44] #233 closed

[2021-11-18 06:44] ammarahm-ed commented on #232
Requests sent cannot be cancelled. However the library does not send requests to load ad on itself. You can control when you want to request a new ad.

[2021-11-18 06:44] #232 closed

[2021-11-18 06:46] ammarahm-ed commented on #229
Does not work alongside `@react-native-firebase/admob` because it is outdated. Use something else for other ad formats. Maybe the library i have put in readme.

[2021-11-18 06:46] #229 closed

[2021-11-22 06:27] wjaykim opened #235 "Android build fails on gradle 7.0+"
Android app build fails when project's gradle version is >= 7.0.

[2021-11-23 18:17] ammarahm-ed commented on #235
@wjaykim Did you investigate why that is happening?

[2021-11-25 06:03] wjaykim commented on #235
https://github.com/ammarahm-ed/react-native-admob-native-ads/blob/d4309d2e350e6606a8a6cc8dd5b80d4deaf54713/android/build.gradle#L30

Above line gives error.
And after applying [this change](https://stackoverflow.com/a/69100971), another error occurs, maybe related to line after [this line](https://github.com/ammarahm-ed/react-native-admob-native-ads/blob/d4309d2e350e6606a8a6cc8dd5b80d4deaf54713/an

[2021-11-25 09:50] ammarahm-ed commented on #235
@wjaykim I have fixed this on master. You can test and let me know.

[2021-11-25 12:06] wjaykim commented on #235
It works.

[2021-11-25 12:06] #235 closed

[2021-12-12 15:49] SergiOnGit opened #237 "Error on Mac m1 chip"
Running Xcode throws error

`Undefined symbols for architecture arm64:
  "_OBJC_CLASS_$_GADFBNetworkExtras", referenced from:
      objc-class-ref in libreact-native-admob-native-ads.a(RNGADNativeView.o)
ld: symbol(s) not found for architecture arm64`

Can anyone help?

[2021-12-14 00:08] saricden commented on #114
@PlayNprovide how did you end up solving this?

I'm encountering it now, late 2021.

[2021-12-14 00:45] saricden opened #238 "Using Native Ad components causing app to white screen"
I've established that the components imported from `react-native-admob-native-ads`, when added to the return statement of my own `InlineAd.js` functional component won't cause my app to crash, per-say, however the second they're loaded into a screen the entire app displays a white screen.

My `InlineAd.js` component looks as follows:

[code]

It's worth noting that I've tried both with and without

[2021-12-14 05:45] saricden commented on #238
Managed to solve this one.

Turned out the issue was I wasn't providing an `elevation` style prop to the `CallToActionView`.

Specifying this in the `style` object solved it.

[2021-12-14 05:45] #238 closed

[2021-12-15 12:00] hernanmateo commented on #237
I'm getting this error after upgrading to react 0.66.4 to M1 Max chip.

<img width="439" alt="image" src="https://user-images.githubusercontent.com/1542900/146182622-ca2d1405-adf6-4964-9cf6-e8310562b52f.png">

[2021-12-15 20:59] pairohit305 commented on #226
Just want to know when next version will be released & what is preventing you not to update since you have up2date code in master branch?

[2021-12-19 20:28] jamesxabregas opened #240 "Documentation issue for iOS installation"
Hi, I just wanted to point out an issue in the documentation on `Getting Started > Installation`.

Under the **iOS Setup Guide** heading it says that I should follow the [Google Mobile Ads SDK](https://developers.google.com/admob/ios/quick-start#import_the_mobile_ads_sdk) installation guide.
When I click that link and follow the guide the first item it covers is the pods that I need to add.
It say

[2021-12-20 20:40] forbesgillikin opened #241 "Inconsistent Icon loading in IconView"
When using `IconView` on iOS, the icons will often load blank even when `nativeAd.icon` exists.

Using a standard `Image` component instead of `RNGADImageView` consistently loads the icon.

What is the purpose `RNGADImageView` on iOS, and why not just use `Image`?

[code]

[2021-12-20 20:51] forbesgillikin commented on #241
Closing. I see this has been fixed in #239

[2021-12-20 20:51] #241 closed

[2021-12-21 23:00] cactisolutions commented on #61
@devGuerra same, tried react-native link react-native-admob-native-ads. But it did not work, I also tried to link manually but that did not work either.

[2021-12-22 06:21] faustoct opened #242 "Facebook Adapter not found"
Ld /Users/fausto/Library/Developer/Xcode/DerivedData/viby-gdnnyojalqxcaychaixnbedeqkrc/Build/Products/Debug-iphoneos/viby.app/viby normal (in target 'viby' from project 'viby')
    cd /Users/fausto/Projects/coding/viby/ios
    /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clang -target arm64-apple-ios11.0 -isysroot /Applications/Xcode.app/Contents/Developer

[2021-12-22 06:40] #242 closed

[2021-12-22 16:23] aleluiah opened #243 "What google supported font family can i use"
What google supported font family can i use in react native admob native ads

[2021-12-24 14:00] forbesgillikin commented on #230
I'm having this same issue

[2021-12-25 00:42] szymonzalarski98 commented on #237
I have the same issue, have you resolved it?

[2021-12-26 14:03] ammarahm-ed commented on #243
@aleluiah  I think you can use any you like.

[2021-12-26 14:03] #243 closed

[2021-12-26 14:05] ammarahm-ed commented on #240
@jamesxabregas In the next version of this library, adding facebook mediation is optional. Maybe that's why it is missing from docs but you are right. This should be mentioned.

[2021-12-26 14:08] ammarahm-ed commented on #240
Added this to docs. Closing

[2021-12-26 14:08] #240 closed

[2021-12-26 14:11] ammarahm-ed commented on #237
@szymonzalarski98 Can you try the master branch and see if you get the same issue?

[2021-12-26 14:14] ammarahm-ed commented on #230
Have you checked if AdMob Mediation supports header bidding?

[2021-12-26 20:28] RenatoSerra22 opened #244 "Android Emulator Issue"
Hello,

I have got this working on iOS correctly.
It works in android real device,
But on Android emulator i get
 `{"error": {"code": 0, "domain": "com.google.android.gms.ads", "message": "Internal error."}}`,

And on logcat logs `12-26 20:44:55.857 25388 25388 I Ads     : Received log message: <Google:HTML> Incorrect native ad response. Click actions were not properly specified
12-26 20:44:55.869

[2021-12-26 21:50] RenatoSerra22 commented on #244
Found the issue, the emulator i was using didnt have play store in it

[2021-12-26 21:50] #244 closed

[2021-12-27 06:29] kookkkookk commented on #209
I would like to ask, is there a solution after this?
I have the same problem, but the AdMob library I use [@invertase/react-native-google-ads](https://github.com/invertase/react-native-google-ads)
![simulator_screenshot_B1788456-52AD-40C5-BB9A-E245C8AA35B2](https://user-images.githubusercontent.com/16489567/147441218-fe053fba-4a07-4333-a74c-0d41c287b170.png)

[2021-12-27 10:52] faustoct opened #245 "Gradle 7"
Does it support gradle 7 ? looking forward to move to new versions of expo, react-native, etc.. does it support ?

[2021-12-27 12:20] faustoct commented on #234
with react-native-admob/admob also happens

[2021-12-27 13:08] faustoct opened #246 "Android Duplicate class"
Execution failed for task ':app:checkDebugDuplicateClasses'.

     Duplicate class com.google.android.gms.internal.measurement.zzl found in modules jetified-play-services-measurement-impl-18.0.2-runtime (com.google.android.gms:play-services-measurement-impl:18.0.2) and jetified-play-services-measurement-sdk-api-18.0.3-runtime (com.google.android.gms:play-services-measurement-sdk-api:18.0.3)
     D

[2021-12-27 17:18] forbesgillikin commented on #230
Yes.

https://support.google.com/admob/answer/9842838?hl=en

Also Facebook Audience Network no longer supports Waterfall Ad Requests and only supports Header Bidding.

https://www.facebook.com/audiencenetwork/resources/blog/audience-network-to-become-bidding-only-beginning-with-ios-in-2021

Also, the documentation needs to be updated to include `trackingAuthorized: true` for iOS in the Ad Manager

[2021-12-27 17:59] kyle-belle opened #247 "Execution failed for task ':react-native-admob-native-ads:parseDebugLocalResources'. when trying to run example app"
Cloned repo and tried to run example app

i ran npm install in both the root directory and the example directory and got this:

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':react-native-admob-native-ads:compileDebugJavaWithJavac'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run wi

[2021-12-27 18:03] kyle-belle commented on #247
actually. it somehow fixed itself after unplugging my device and plugging it back in

[2021-12-27 18:04] kyle-belle commented on #247
but now i get this:

[2021-12-27 18:52] markchen8717 opened #248 "Ads repo feature results in invalid template ID error in release mode"
I am using the Ad repository feature #216 from the master branch on an Android device (Real device, not emulator). I am able to load ads (real non-test ads) in debug mode perfectly. However, once in release mode, no ads are loaded, and results in the error `"[AD] [FAILED]: Invalid template ID: -1"`. Any help from @Ali72 @ammarahm-ed would be greatly appreciated. Please let me know if any additiona

[2021-12-27 18:54] ammarahm-ed commented on #248
Are your Ad IDs new? Did you get the recently from AdMob?

[2021-12-27 19:01] markchen8717 commented on #248
Hi ammarahm-ed, thanks for the swift reply. My Ad IDs are not new, I've had them for over a year already. Additionally, with the same IDs, the library is working in release mode without the AD repository feature (default on demand ad loading).

[2021-12-27 19:12] ammarahm-ed commented on #248
@markchen8717 try to use test ad ids in release mode and see if you get any ads then - [ ] or if there is any error thrown? Subscribe to `onAdFailedToLoad` prop

[2021-12-27 19:44] markchen8717 commented on #248
@ammarahm-ed I tried to use test ad ids in release mode and its working without any errors. I am not sure if this means my Ad IDs are the issue here since they work without the Ad repo feature in release mode as well and works with the feature in debug mode too,

[2021-12-28 00:06] faustoct commented on #246
done/fixed
upgrade firebase, react-native-admob. install expo-ads-facebook

[2021-12-28 00:06] #246 closed

[2021-12-28 00:06] faustoct commented on #245
no way home

[2021-12-28 00:06] #245 closed

[2021-12-28 14:52] markchen8717 commented on #248
Hi @ammarahm-ed, I re-installed my node_modules to get the latest #239 PR. Running the app again with my Ad ids using the Ad repo feature in release now results in the error : `"[AD] [FAILED]: Invalid template ID: -1"`. Can you please shed some light on this?

[2021-12-29 15:50] kyle-belle commented on #242
Did you ever fix this?

[2021-12-29 16:01] kyle-belle commented on #240
i think i see what you mean but isn't it a little weird to have it in the migration guide. For new users of the lib they may not check this page as they aren't migrating and it seems like an optional step only if upgrading from previous versions

[2021-12-29 16:52] ammarahm-ed commented on #248
@Ali72 You are using the lib in production. Have you seen any such error? Any idea what might be causing this?

[2021-12-29 16:55] ammarahm-ed commented on #247
@kyle-belle I think that the space in your account username in path is causing issue. Try to put the repo in C:\ root and then install node modules then run the project.

[2021-12-29 16:57] ammarahm-ed commented on #237
Maybe this issue is because you are using older version go Google Mobile Ads Sdk Library. Try running `pod install --repo-update` which might fix this

[2021-12-29 16:58] ammarahm-ed commented on #230
@raffibag `trackingAuthorized` should be set to true if tracking is authorized by the user. Otherwise not.

[2021-12-29 17:03] ammarahm-ed commented on #230
Also follow this guide to setup bidding properly: [https://developers.google.com/admob/android/mediation/facebook](https://developers.google.com/admob/android/mediation/facebook) in Admob.

[2021-12-29 18:03] Ali72 commented on #248
We use this repo in our projects (android and IOS version) without facing this issue but please answer the below questions:@markchen8717
1. What's your react-native version?
2. Did make a release with disabled minify and proguard option? (if not, disable it and build your project in release state)

[2021-12-29 19:34] markchen8717 commented on #248
Hi @Ali72 , my react-native version is 0.64.2. I am not sure about whether I have disabled minify and proguard option. The following is my build.gradle buildtypes

    buildTypes {
        debug {
            signingConfig signingConfigs.debug
        }
        release {
            // Caution! In production, you need to generate your own keystore file.
            // see https://reactnative.dev/d

[2021-12-29 19:53] ammarahm-ed commented on #248
@markchen8717  To check if proguard is enabled. See for `def enableProguardInReleaseBuilds` line in `app/build.gradle`

[2021-12-29 20:25] markchen8717 commented on #248
@Ali72 and @ammarahm-ed, it appears that I have `def enableProguardInReleaseBuilds = true`. However, even after setting `def enableProguardInReleaseBuilds = false` and `minifyEnabled false` under buildTypes in `app/build.gradle, I am still getting the error in release mode.

[2021-12-29 20:40] faustoct commented on #242
Of course sure I fucking did. `expo install expo-ads-facebook` then `pod install`. Be sure to not have a lot admob libs. I had to remove expo-ads-admob + @react-native-firebase/admob. You need only `react-native-admob-native-ads` + `react-native-admob`.

It is running perfectly on Android and iOS.

Good Luck

[2021-12-29 20:48] kyle-belle commented on #247
Maybe but I decided not to bother with the example. It works when I use the npm package in my own app

[2021-12-29 20:52] kyle-belle commented on #242
lol
i ended up fixing it:
add to podfile:

pod 'GoogleMobileAdsMediationFacebook'

they have it on the migration guide in the documentation but of course not everyone will be migrating

[2021-12-29 20:54] faustoct commented on #242
I had to do it also.

[code]

[2022-01-01 16:13] hernanmateo commented on #237
Hello, the constant kGAMSimulatorID was deprecated in the latest version of Google Mobile Ads SDK (v8.13.0)

https://developers.google.com/admob/ios/rel-notes

[2022-01-01 16:35] ammarahm-ed commented on #237
@hernanmateo you can use the next version of library by installing the master branch which uses latest version of mobile ads sdk and ad preloading. However note that it uses ad repositories to load ads and it is not documented properly. However you can read the index.d.ts file to get an idea.

[2022-01-01 17:36] raffibag commented on #230
Thank you @ammarahm-ed for the update. I confirmed everything is set up correctly - and saw confirmation of as much in the Mediation Test Suite. Seems, however, that AdMob is not recognizing my device as a test device when using the production ad unit id (works fine when I use the generic Google test ad unit id).

A few reasons why I suspect this: 1) The Mediation Test Suite does not recognize the

[2022-01-02 18:14] SergiOnGit commented on #237
@ammarahm-ed How can i install version from master branch? Yarn opens version selection where latest is 0.5.0. This error still exists and needs to be fixed.

[2022-01-02 19:19] ammarahm-ed commented on #237
@SergiOnGit

[code]

[2022-01-02 19:24] ammarahm-ed commented on #230
@raffibag have you added your device idfa to facebook audience network to get test ads? And have you registered your idfa with admob?

[2022-01-02 20:02] raffibag commented on #230
@ammarahm-ed yes - I have the test device set up using the IDFA in both AdMob and Facebook. I also tried it while passing the test device IDs in the AdManager config (e.g, `AdManager.setRequestConfiguration({ testDeviceIds: ["XXXX-XXXX-XXXXX-XXXXX"], ... })`.

I'm learning that AdMob often limits ad traffic for new services with limited usage - so it may be the ad serving limit is due to that.

Ca

[2022-01-06 04:40] markchen8717 commented on #248
Hi @Ali72  and @ammarahm-ed, I found this stackoverflow post with regards to the error. [](https://stackoverflow.com/questions/64100766/problem-with-loading-native-admob-ads-no-ads-config-or-invalid-template-error ). Do you guys have app-ads.txt setup for your ad mob account?

[2022-01-18 04:39] ammarahm-ed commented on #237
@SergiOnGit Just updating the lib won't work. You will need to install latest version o "Google Mobile Ads Sdk" in pods. Please refer to the docs. Then run `pod installl --repo-update`.

[2022-01-18 04:42] ammarahm-ed opened #251 "Release v0.6.0"
We are almost ready for releasing v0.6.0.

- [x] Implement ad repository and preloading Thanks to @Ali72 @ha-younes72
- [x] Upgrade to latest Google Mobile Ads Sdk on Android and iOS
- [x] Write docs for Ad Preloading & Repository Management

Issues to fix:

- [x] #209

[2022-01-18 04:43] #212 closed

[2022-01-18 04:45] #227 closed

[2022-01-18 04:45] #247 closed

[2022-01-18 11:41] SergiOnGit commented on #237
@ammarahm-ed Sure I have updated pods. I was checking with simulator. Now i have tested it with real device and have no problem. So looks like it's an issue with simulators.

[2022-01-19 22:18] salp13 commented on #61
@devGuerra @cactisolutions  I am also having this issue, did anyone find a solution / the problem?

[2022-01-23 16:11] SergiOnGit commented on #237
It works with real device, so I'm closing.

[2022-01-23 16:11] #237 closed

[2022-01-23 21:38] szymonzalarski98 commented on #229
@anhdo9797 Hi, did you resolve the issue?

[2022-01-25 23:29] skam22 opened #252 "clang error on fresh install without Facebook adapter"
❌  ld: framework not found FacebookAdapter
❌  clang: error: linker command failed with exit code 1 (use -v to see invocation)

the installation doesn't mention that Facebook is required for an fresh build without mediation, but it fails to build without Facebook.

[2022-01-27 06:06] arrayframe opened #253 "Test Ads not loading after updating compileSdkVersion to 30"
Test Ads works fine until project upgrade compileSdkVersion to 30.

**Current configure**

- react-native-admob-native-ads Ver 0.5.0

- I also update build.gradle in  \node_modules\react-native-admob-native-ads\android based on [this ](https://github.com/ammarahm-ed/react-native-admob-native-ads/issues/235) thread.

Project able to compile and run but Ads won't display only AdBadge Icon is showing

[2022-01-27 18:57] ammarahm-ed commented on #252
@skam22 Try the master branch

[2022-01-27 19:01] ammarahm-ed commented on #230
You will need to use your app's test IDs. Then you have to register your test device with admob to get test ads from admob.
For facebook, you must set your IDFA in facebook ads. And Get IDFA permission for your App that integrates Admob during testing so that facebook can confirm it's the same device.

[2022-01-28 06:30] serdargun commented on #252
Same error with master @ammarahm-ed

[2022-01-28 11:13] arrayframe commented on #253
@ammarahm-ed , I have no idea how to use master branch, can you guide me? and also when will you plan to next release of 0.6 Ver?

[2022-01-29 13:51] ammarahm-ed commented on #252
@serdargun Delete `node_modules` folder. Clean your project.

Run
[code]
Then navigate to `ios` folder and run `pod install --repo-update`

Try to build the app now. It should build normally.

[2022-01-29 19:22] Sheleya opened #254 "ERROR [iOS]: use of undeclared identifier 'kGAMSimulatorID'; did you mean 'kGADSimulatorID'"
node_modules/react-native-admob-native-ads/ios/RNAdmobNativeAdsManager.m:43:96: error: use of undeclared identifier 'kGAMSimulatorID'; did you mean 'kGADSimulatorID'?
        NSArray *testDevices = RNAdMobProcessTestDevices([config valueForKey:@"testDeviceIds"],kGAMSimulatorID);
                                                                                               ^~~~~~~~~~~~~~~

[2022-02-03 13:51] Kazu1247 commented on #254
Same here

[2022-02-03 15:42] csumrell commented on #252
I tried this and am still getting the error

[2022-02-03 15:49] ammarahm-ed commented on #252
Add Facebook Audience network to your pod file to get it working then

[2022-02-04 00:38] jorgegvallejo commented on #251
Eager to try this. Any estimate on when you all will get this out?

[2022-02-07 08:17] rogerkerse commented on #237
Premature closing. I am also trying to build onto simulator and it is failing with same error. Pod repo update and going for master branch doesn't help

[2022-02-07 08:19] rogerkerse opened #256 "M1 build fails"
Building latest master or 0.5.0 to iOS Simulator fails:
[code]

[2022-02-08 11:45] khushbukachchhi opened #258 "dependency is not installing"
gradle not bulid with this dependency
compileSdk  not specified,

[2022-02-08 11:47] Logicbuzz04 commented on #258
i have same issue

[2022-02-08 17:59] ammarahm-ed commented on #258
@khushbukachchhi Can you try master branch

[2022-02-09 05:40] mdadi1130 commented on #256
Came across this as well, try running this in your ios directory:

`pod deintegrate`

`arch -x86_64 pod install --repo-update`

[2022-02-09 06:41] khushbukachchhi commented on #258
yes,I try master branch and my error is :
                          error Failed to install the app. Make sure you have the Android development environment set up: https://reactnative.dev/docs/environment-setup.
Error: Command failed: gradlew.bat app:installDebug -PreactNativeDevServerPort=8081
E:\Project-RN\AadharLoan\android\app\build\generated\rncli\src\main\java\com\facebook\react\PackageList.

[2022-02-16 11:31] khushbukachchhi commented on #258
I solve this problem

[2022-02-16 13:45] ppalbuquerque commented on #254
I had the same issue here.

I solved this issue in my project by using a specific SDK version, instead of the latest version.

[code]

[2022-02-16 14:15] Zloka opened #260 "Error - No ad config"
This is not really a bug report, more so a request for help, thanks for this library!

I had been using it just fine for some time in development, but all of a sudden I seem to just get this error message:

[code]

I don't really understand why. Previously, I was getting test ads just fine. Now I cannot seem to get any, and I haven't changed my configuration. I was wondering if this is something a

[2022-02-17 10:00] RenatoSerra22 commented on #254
life saver! was stuck with this for hours

[2022-02-17 12:22] Zloka commented on #260
Notice #253 exists too, this might be a duplicate, though my case seems a tad different as I get no ads at all and an error message, whereas the author of that issue reportedly sees an "ad badge".

[2022-02-17 12:24] Zloka commented on #253
@arrayframe Were you able to resolve this issue?

I am experiencing something (potentially) similar. I do not get any ads though, and the following error message:

[code]

I see this error message by providing a logging function to the `onAdFailedToLoad`-prop, do you get any error message(s)?

[2022-02-17 14:16] ammarahm-ed commented on #260
Read this:
https://stackoverflow.com/questions/64299247/no-ad-config-on-onadfailedtoload-method-while-trying-to-load-ads

[2022-02-22 23:43] harisraza123 commented on #144
Hi @ammarahm-ed I'm having the same issue as @felire
My RN version is `0.61.2`.

[2022-02-23 00:37] harisraza123 commented on #254
Hi, I got the following error when trying to install pods with
[code]
<img width="730" alt="Screenshot 2022-02-23 at 5 36 47 AM" src="https://user-images.githubusercontent.com/69842208/155243501-9e946f97-9684-4dac-ac9d-ecd3f7b7d506.png">

[2022-02-25 06:12] Logicbuzz04 opened #262 "RNGADNativeView.m Build Failed in iOS"
* BUILD FAILED *

The following build commands failed:
        CompileC /Users/imac/Library/Developer/Xcode/DerivedData/LiveLine-dyhhmsghrjqemqcwhbismighpxyj/Build/Intermediates.noindex/Pods.build/Debug-iphonesimulator/react-native-admob-native-ads.build/Objects-normal/x86_64/RNGADNativeView.o /Volumes/Data/Chirag/LiveLine/node_modules/react-native-admob-native-ads/ios/RNGADNativeView.m normal x86

[2022-02-25 06:32] Logicbuzz04 commented on #262
if I use specific version of Google mobile ads like,
pod 'Google-Mobile-Ads-SDK', ' 8.11.0'

the error change with
** BUILD FAILED **

The following build commands failed:
        Ld /Users/imac/Library/Developer/Xcode/DerivedData/LiveLine-dyhhmsghrjqemqcwhbismighpxyj/Build/Products/Debug-iphonesimulator/LiveLine.app/LiveLine normal (in target 'LiveLine' from project 'LiveLine')
(1 failure)

[2022-02-28 10:33] hoangdaicntt opened #265 "iOS can't build when hermes is enabled"
Compiling react-native-admob-native-ads Pods/react-native-admob-native-ads » UnifiedNativeAdLoadedListener.m

❌  (node_modules/react-native-admob-native-ads/ios/RNAdMobManager/RNGADNativeView.h:1:9)

    |         ^ could not build module 'React'
  2 | @import GoogleMobileAds;
  3 | #import "AdListener.h"
  4 | @interface RNGADNativeView : GADNativeAdView <AdListener,GADNativeAdLoaderDelegate,

![

[2022-03-01 02:47] hoangdaicntt commented on #265
I updated the import again, it works perfectly #266

[2022-03-01 02:47] #265 closed

[2022-03-03 09:43] hoangdaicntt commented on #262
I have submitted an update to fix this #266

[2022-03-14 09:46] roy8119425 opened #268 "Ads from mediation are not clickable on iOS"
I've installed this package and it works well on Android, all ads from admob or mediation are clickable. But on iOS only admob ads are clickable, I can't get any response when clicking ad from any mediation including Facebook or MoPub.

Is there any additional config should be set or any idea on this problem?

[2022-03-14 13:48] alz10 opened #269 "[RN 0.67.3] Plugin with id 'maven' not found."
Any update to support `RN v0.67+`
[code]

dependencies
[code]

[2022-03-15 05:45] Logicbuzz04 commented on #262
@hoangdaicntt Thanks for answering

My problem solve with adding ( pod 'GoogleMobileAdsMediationFacebook', '6.5.1.0' ) in podfile

[2022-03-15 05:45] #262 closed

[2022-03-18 08:33] alz10 commented on #269
I had to downgrade gradle to 6.9

Folder:
`android/gradle/wrapper/gradle-wrapper.properties`

Change 7.2 to 6.9 if you're using `RN 0.67+`:
`distributionUrl=https\://services.gradle.org/distributions/gradle-6.9-all.zip`

[2022-03-18 15:32] blazerroadg commented on #269
work around solution
on file:
/node_modules/react-native-admob-native-ads/android/build.gradle
change line 31 to:
apply plugin: 'maven-publish'

and comment 139 to 143
[code]

[2022-03-18 21:56] SergiOnGit commented on #269
I can confirm that this solution works. Please fix this. We can't use RN 0.67 without it @ammarahm-ed

[2022-03-23 07:33] haresh4d commented on #256
But Why we should use -x86_64 pods? I am also getting the same error.

[2022-03-23 11:29] haresh4d commented on #237
I have used master branch and then pod install --repo-update but still having the same issue.

[2022-03-23 11:32] haresh4d commented on #256
@rogerkerse have you found the solution?

[2022-03-24 03:35] haresh4d commented on #256
`Undefined symbols for architecture arm64:
  "_OBJC_CLASS_$_GADFBNetworkExtras", referenced from:
      objc-class-ref in libreact-native-admob-native-ads.a(RNGADNativeView.o)
ld: symbol(s) not found for architecture arm64
clang: error: linker command failed with exit code 1 (use -v to see invocation)`

Getting this error no matter what I do. Please suggest any solution for this.

[2022-04-01 09:47] haresh4d commented on #256
I have confirmed that the error only comes when you run on simulator. In real device there is no problem. @ammarahm-ed can you please help?

[2022-04-14 08:58] ahtisham-gsoftconsulting opened #273 "com.android.builder.errors.EvalIssueException: compileSdkVersion is not specified. Please add it to build.gradle"
react native version 0.68
error
com.android.builder.errors.EvalIssueException: compileSdkVersion is not specified. Please add it to build.gradle

[2022-04-18 11:18] haresh4d commented on #256
Please give some solution. I am unable to run apps on simulator and its very difficult to develop with real device. Please.

[2022-04-22 05:48] mhakashcw commented on #269
In my case I am now getting this error
[code]

[2022-04-23 03:16] haresh4d commented on #256
Its been a month I am finding the sollution for this but I am unable to build on simulator. I have lots of dependency on this library as I am using it on more than 20 apps. Please @ammarahm-ed @rogerkerse If you have any suggestion or solution please let me know. I am using Xcode 13.3.1 and tried the latest react-native version also but nothing works.

[2022-04-24 14:50] KevMac19 commented on #269
Same error

[2022-04-26 17:01] mikehardy opened #274 "Want to join us at react-native-google-mobile-ads?"
Hey @ammarahm-ed :wave:!

The module you've built here is fantastic - I think you might be the only person supporting native ads at the moment on react-native?

I'm the primary maintainer of react-native-firebase on behalf of Invertase, so for a long while I was in charge of making sure [@react-native-firebase/admob](https://www.npmjs.com/package/@react-native-firebase/admob) worked as an official

[2022-04-27 03:11] haresh4d commented on #274
@ammarahm-ed and  @mikehardy together! It will be a great library. We also want native ads and other ads format at the same place.

[2022-04-27 03:21] mikehardy commented on #274
Haha I mostly want maintainers supporting each other by pooling effort, but only if it seems like a good idea to everyone of course :-), cheers

[2022-04-27 11:03] ammarahm-ed commented on #274
Hey Mike, it's actually surprising that you have considered opening an issue here and asking for contribution at [@react-native-firebase/admob](https://www.npmjs.com/package/@react-native-firebase/admob) which is rare and I thank you for that.

I just went through the work you all have put together and it looks awesome I think. And it's great that finally there is a community backed, well tested l

[2022-04-27 11:44] mikehardy commented on #274
Ramadan Mubarak @ammarahm-ed :-)

Yes the complexity is the thing that really gives me pause, but...there's no avoiding it. I waited to reach out until I was pretty sure I had worked through all the other collaborators PRs so that I would have proper time to devote to getting native ads working well. I guess we won't know if we don't try?

As with all things Open Source: there's never a rush, so w

[2022-04-27 12:40] CharlyAnd commented on #254
I'm getting the same error, even after specifying the SDK version as people have done abov
<img width="265" alt="Screenshot 2022-04-27 at 13 39 39" src="https://user-images.githubusercontent.com/94613508/165519963-d2f6e7ac-edd6-443c-95dc-a9b495b63192.png">
e

[2022-04-27 13:48] haresh4d commented on #274
Ramadan Muabarak @ammarahm-ed

I know you must be celebrating the holy festival but please if you get time in between or after the Ramadan look into the #256

Thank you for providing such a beautiful library.

[2022-04-27 14:45] ammarahm-ed commented on #274
@mikehardy It won't take very long since we already have 95% of the work completed here and native ads are in use in many production apps already. So we just have to port the code from here to there.

@haresh4d I will look into the issue.

[2022-04-27 15:14] soundaraj commented on #269
comment line 108 :)

[2022-04-27 15:47] mhakashcw commented on #269
In that case, the app doesn't even open it crashes

[2022-04-27 15:51] soundaraj commented on #269
can you give me a app crash logs

[2022-04-28 13:38] ammarahm-ed commented on #269
Also this issue is fixed on master already for v0.6.0

[2022-05-06 17:26] wditechy opened #277 "Not compatible with react-native-google-mobile-ads"
Hi you are doing a great job to support Native Ads in ReactNative, Thank you.
Please help us to fix, need a compatibility with react-native-google-mobile-ads, any plan to release a latest one?

[2022-05-08 15:05] ibrahimkanber commented on #254
I solved this issue via
I was able to fix this problem by patching

[2022-05-08 15:39] ammarahm-ed commented on #277
@wditechy Does the master branch work for you?

[code]

[2022-05-08 15:39] ammarahm-ed commented on #273
Fixed on master

[2022-05-08 15:39] #273 closed

[2022-05-08 15:40] #269 closed

[2022-05-09 12:48] ivan-mumtak commented on #269
Can you please publish v0.6.0? It will be very helpfully to have this fix soon because now I am stuck with some library updates caused by maven

[2022-05-16 12:13] wditechy commented on #277
Thanks @ammarahm-ed

[2022-05-17 03:33] haresh4d commented on #256
Tried this. But I am also using @react-native-admob/admob for interstitial ads. If I apply this workaround it says RNAdmob.modulemap is not found and the build fails immediately.

[2022-05-18 02:24] haresh4d commented on #256
Is there any solution for this?

[2022-05-18 15:11] kyimoemin commented on #254
@ibrahimkanber patch works for me, I already have Google-Mobile-Ads-SDK - 9.3.0 installed. so just add
pod 'GoogleMobileAdsMediationFacebook'. I believe it won't last if I reinstall npm so plz fix asap contributors, it's not much work.

[2022-05-22 05:30] minhchienwikipedia commented on #273
@ammarahm-ed please upgrade version as well

[2022-05-22 12:28] #277 closed

[2022-05-22 12:31] ammarahm-ed commented on #254
Issue is fixed in v0.6.0

[2022-05-22 12:31] #254 closed

[2022-05-22 12:34] ammarahm-ed commented on #256
I don't have a M1 to test and fix this.

[2022-05-22 12:36] ammarahm-ed commented on #256
Are you using facebook mediation @haresh4d? Check docs for the installation guide and add facebook mediation sdk in podfile. then try again.

[2022-05-22 12:40] ammarahm-ed commented on #256
@haresh4d If you have AnyDesk, we can connect there and I can debug this probably on your PC.

[2022-05-22 12:42] #209 closed

[2022-05-22 12:42] #251 closed

[2022-05-22 12:45] #252 closed

[2022-05-22 12:45] #258 closed

[2022-05-22 12:46] #260 closed

[2022-05-22 12:47] #253 closed

[2022-05-24 10:44] haresh4d commented on #256
@ammarahm-ed Yes, I have AnyDesk let me know whenever its suitable to you.

[2022-05-26 20:58] adamsadiq7 commented on #61
any solution?

[2022-05-30 08:05] SergiOnGit opened #284 "Issue with GoogleMobileAdsMediationFacebook"
ITMS-90863: Apple silicon Macs support issue - The app links with libraries that are not present on Mac:
@rpath/libfbobjc_ios-sdk_ads_src_FBAudienceNetwork_FBAudienceNetworkRelease.dylib

Looks like macs don't support 'GoogleMobileAdsMediationFacebook'. Can I remove this package? Or it is required and why?

What can I do to fix this?

[2022-06-01 08:53] deepakkumar089551 opened #285 "How to autoplay Google native ads without having to click play button"
How to autoplay Google native ads without having to click play button

[2022-06-02 04:18] yeshtml5 opened #286 "No ad to show"
{
 "error": {
  "message": "Request Error: No ad to show."
 },
 "target": 595
}

TestCode is working..
but real key is not working

[2022-06-02 04:58] ammarahm-ed commented on #286
@yeshtml5 Your ad ids are new. wait a day or two and ads will show up.

[2022-06-02 05:00] ammarahm-ed commented on #284
@SergiOnGit Have you added `GoogleMobileAdsMediationFacebook` to your podfile?

[2022-06-02 07:04] SergiOnGit commented on #284
Yes I have added GoogleMobileAdsMediationFacebook to my Podfile. I remember this was working maybe for 1-2 months ago. I tried on a real device and it crashes at startup. I think because of this. Development works fine. If I don't use facebook native banner then can I remove GoogleMobileAdsMediationFacebook from my podfile?

[2022-06-03 13:43] haresh4d commented on #256
@ammarahm-ed any progress? Can you please debug on my M1?

[2022-06-04 10:06] deepakkumar089551 opened #287 "error while updating property 'mediaView' of a view managed by:RNGADNativeView null the specified child already has a parent. You must call removeView() on the child's parent first."
when second time open same page then show error-
error while updating property 'mediaView' of a view managed by:RNGADNativeView
 null the specified child already has a parent.
You must call removeView() on the child's parent first.

[2022-06-04 10:23] deepakkumar089551 commented on #287
critical issue please reply fast

[2022-06-04 15:47] ammarahm-ed commented on #284
@SergiOnGit Technically you should be able to remove it and it should work fine.

[2022-06-04 15:48] ammarahm-ed commented on #287
@deepakkumar089551 Share complete crash details from adb logcat.

[2022-06-05 05:07] haresh4d commented on #284
If I remove GoogleMobileAdsMediationFacebook following error is thrown when I run the app.

` ld: framework not found FacebookAdapter`

[2022-06-05 15:17] SergiOnGit commented on #284
@ammarahm-ed Can you point us how to remove GoogleMobileAdsMediationFacebook? Removing just from Podfile throws error.

[2022-06-06 03:31] haresh4d commented on #284
Finally, I was able to run my app on Simulator by not using `@react-native-admob/admob`  and replacing it with `react-native-google-mobile-ads`

[2022-06-06 03:32] haresh4d commented on #256
Finally, I was able to run my app on Simulator by not using `@react-native-admob/admob` and replacing it with `react-native-google-mobile-ads`

[2022-06-12 03:41] ammarahm-ed commented on #284
So the issue was with the admob library. Not this one?

[2022-06-12 03:43] ammarahm-ed commented on #284
I think then you will have to remove it by patching the library. I think there's some bug with excluding the library which i will fix when I get some time.

[2022-06-12 09:39] haresh4d commented on #284
@ammarahm-ed I was solving the issue #256 and for that I removed both `react-native-admob-native-ads` and `@react-native-admob/admob`. Then I installed `react-native-google-mobile-ads` and app started running in simulator without any errors. After that I installed `react-native-admob-native-ads` and everything went just fine. But the realease build crashed on startup because of `@rpath/libfbobjc_i

[2022-06-14 19:10] SergiOnGit commented on #284
@ammarahm-ed I don't know how it was related, but after updating expo from 45.0.4 to 45.0.5 it was fixed. I have bare workflow.

[2022-06-14 19:10] #284 closed

[2022-06-16 09:25] rakeshp947 opened #288 "App is crashing frequently"
Hi Ammar,
I see that the app is crashing frequently because of this error- **java.lang.IllegalStateException
com.ammarahmed.rnadmob.nativeads.RNAdmobNativeView.setNativeAd**

### Error logs:
[code]

Please look into this error.
This is the error code from **Playstore Console.**
Thanks :)

[2022-06-17 13:52] iphonic opened #289 "Error showing ad with Production IDs"
Hi, Have used the library to set up ads in our project successfully, it works great with TestIDs from google. But when we replace the test ad ids with Production IDs created 4 days back, the ad section shows **Error showing ad** see screenshot below.. In log, all works fine, but we are receiving

`<Google> <Google:HTML> The ad request returned a no fill for the particular slot.`

![IMG_0C5D343B2F1

[2022-06-18 05:07] rakeshp947 commented on #288
Hi @ammarahm-ed any update on this?

[2022-06-19 08:24] rakeshp947 commented on #287
@ammarahm-ed Hi Ammar I think I'm having some problem please resolve my issue I have already created issue.

[2022-06-19 12:25] qhoarau opened #290 "[iOS] Use of undeclared identifier 'GADAdLoaderAdTypeNative'"
iOS build fails when builiding my app with the following error : Use of undeclared identifier 'GADAdLoaderAdTypeNative' ; did you mean 'kGADAdLoaderAdTypeNative'?

And when I replace "GADAdLoaderAdTypeNative" with "kGADAdLoaderAdTypeNative" as it is said, it works.

Version :
Xcode : 13.4.1
react-native : 0.68.2
react-native-admob-native-ads: ^0.6.0,

[2022-06-19 17:50] ammarahm-ed commented on #289
Ad ids are new. wait.

[2022-06-19 17:50] #289 closed

[2022-06-20 09:31] iphonic commented on #289
@ammarahm-ed It's been 6 days, and surprisingly it is working on Android, not on iOS..

[2022-06-20 11:01] ammarahm-ed commented on #289
Maybe you missed something related to configuration on iOS. That's my best guess. You should recheck all the steps, ad ids, app ids, skadnetwork ids etc to see if that helps. Also just to let you know, you must generate separate ids for iOS app and Playstore app on Admob console.

[2022-06-20 11:02] ammarahm-ed commented on #287
@rakeshp947 if you can provide an example that can reproduce the issue, i will look into fixing it.

[2022-06-20 11:19] iphonic commented on #289
Yes I have generated separate id for iOS and Android, I don't think there is an issue with configuration as the moment I change the ad ids with test ids, the ads starts showing, but with our ids it shows `Error showing ad` in iOS but works on Android with its id, created using the same process linked with app stores.

Can it be because of the Test Device setup? Because we don't have any for iOS.

[2022-06-24 09:35] medonagy45 opened #291 "The requested repo is not registered"
Hi ,
I am getting the following error on the onAdFailedToLoad
`AD FAILED The requested repo is not registered`
platform: android

[2022-06-24 20:23] medonagy45 commented on #291
I have figured it out All I have to do is to remove `repository` prop as i didn't register one

[2022-06-24 20:25] #291 closed

[2022-06-25 10:43] renatomserra opened #292 "[iOS] [Invariant Violation: requireNativeComponent: "RNGADImageView" was not found in the UIManager.]"
Getting this error since i updated to the latest

```[Invariant Violation: requireNativeComponent: "RNGADImageView" was not found in the UIManager.]```

Seems to be IconView that is breaking this

Any clues on how to fix?

Thank you

[2022-06-25 10:53] RenatoSerra22 commented on #292
Seems to be IconView that is breaking this

[2022-06-28 16:03] prox2 commented on #254
Hi, i have installed latest version and issue still exists.

[2022-06-30 15:11] sethcwhiting opened #293 "Android build issue: "Execution failed for task ':app:checkDebugDuplicateClasses'.""
I'm a JS/React/React Native dev who rarely needs to deal with native code and I'm struggling a bit to get my app running with this package installed. I followed each step of the [installation instructions](https://ammarahm-ed.github.io/react-native-admob-native-ads/docs/installation-3), and I was able to eventually get the project to build on iOS with a lot of help from a friend who's an iOS exper

[2022-07-02 05:40] rakeshp947 commented on #287
@ammarahm-ed  I already provided you the complete logs, please have a look - [here](https://github.com/ammarahm-ed/react-native-admob-native-ads/issues/288)
To reproduce this error add a video ad in the flatlist and scroll very fast till the end, it will happen.

[2022-07-02 06:27] emdotysru21 commented on #293
i have solved this issue by removing the all firebase dependencies and added only the dependency what the code needed.
i use Android Studio and it seems u use React Native so i hope logic are same for both

[2022-07-04 17:47] adamsadiq7 commented on #242
For me using GoogleMobileAdsMediationFacebook still doesn't work

[2022-07-06 00:47] renatomserra opened #294 "[Android] Error connecting on latest version"
On the latest version upgrade and moving to preloading, on Android my impressions dropped to zero and getting

{"error":{"code":0,"domain":"com.google.android.gms.ads","message":"Error while connecting to ad server: Failed to connect to googleads.g.doubleclick.net/:::443"}}

Working fine on iOS

[2022-07-06 17:15] sethcwhiting opened #295 "Ads not loading on Android"
I'm having issues with ads loading on Android. As you can see, they load fine on iOS:
![Simulator Screen Shot - iPhone 12 - 2022-07-06 at 13 06 11](https://user-images.githubusercontent.com/2145601/177605639-5d677466-cbe6-422d-abfd-cf05bfc372a3.png)

But nothing shows up on Android:
![Screenshot_1657127144](https://user-images.githubusercontent.com/2145601/177605670-8463b07d-78ef-4eb2-9c54-c6f39aa

[2022-07-06 19:28] sethcwhiting commented on #295
Another quick update: I changed my adUnitId to the test id in the docs (`ca-app-pub-3940256099942544~3347511713`) and got a different error message:

[code]

[2022-07-06 19:36] davidmarcos98 commented on #242
@adamsadiq7 I was having this problem too now. It's because the framework in `GoogleMobileAdsMediationFacebook` is now called
 `MetaAdapter` instead of `FacebookAdapter`.
Fixing  `GoogleMobileAdsMediationFacebook` to last version with `FacebookAdapter` solved it for me.

`pod 'GoogleMobileAdsMediationFacebook',  '6.11.0.0'`

[2022-07-06 21:23] adamsadiq7 commented on #242
No wonder! that makes so much sense, thank you very much David.

[2022-07-07 10:26] RenatoSerra22 commented on #295
I've also seen a drastic decrease in impressions on android, while ios with about the same DAU is much higher

[2022-07-07 10:30] RenatoSerra22 opened #296 "[Android/iOS] Unable to obtain a JavascriptEngine."
Hello sorry for all the issues, just trying to be helpful and report what i'm finding since upgrading to the latest.
Love this lib tho!

Having another error popping on sentry at times, since implementing preloading

`{"error":{"code":0,"domain":"com.google.android.gms.ads","message":"Unable to obtain a JavascriptEngine."}}`

[2022-07-07 10:57] sethcwhiting commented on #295
Another quick update: That 2nd adUnitId from the AdMob docs didn't work for iOS, but the 1st one from the react-native-admob-native-ads docs did, so... I'm assuming `"Invalid template ID: -1"` might be the better error to have? I'm still not sure how to resolve it though.

[2022-07-07 15:42] sethcwhiting commented on #248
I seem to be having a very similar issue to this one. @markchen8717 did you ever get this figured out?

[2022-07-09 09:16] rakeshp947 commented on #287
@ammarahm-ed Any update on this??

[2022-07-09 16:21] ashwindersk opened #297 "RNAdmobNativeAdsManager.o ld: symbol(s) not found for architecture x86_64 clang"
I am currently building a react native project on a M1 Pro chip.
I am having issues building the project for any simulator as I get the error below.

`
Simulator version (12.4) than being linked (9.0)
Undefined symbols for architecture x86_64:
  "_OBJC_CLASS_$_GADAdLoader", referenced from:
      objc-class-ref in RNAdMobUnifiedAdQueueWrapper.o
      objc-class-ref in RNGADNativeView.o
  "_OBJC_CL

[2022-07-09 17:28] adamsadiq7 commented on #274
Is there any update on the above guys? 👀

[2022-07-10 13:50] jorgegvallejo commented on #288
Hey @rakeshp947, did you ever get it resolved?

[2022-07-10 15:42] jorgegvallejo commented on #293
Hey @sethcwhiting did you solve the crash on launch?

[2022-07-10 19:38] mikehardy commented on #274
Nothing over in the other repo and we have hit the summer vacations/ travel part of my year so I will not be a great collaborator myself for about another month. But I'd still love to work together of course 🙂

[2022-07-11 06:20] aleluiah opened #298 "Comple errors on react-native 0.69.1"
Hi, thanks for the library this package and other installed package give a lot of compile errors in react-native 0.69.1 that otherwise would have worked for lower react native versions like 0.64.2.

[2022-07-11 06:41] aleluiah commented on #298
for example method toList() is not found in react native 0.69.1 but compiles on react-native 0.64.2

[2022-07-14 04:52] emdotysru21 commented on #293
Try Latest Firebase analytics dependency.

[2022-07-15 16:05] sethcwhiting commented on #293
thanks, @[emdotysru21](https://github.com/emdotysru21). When I do that, I get a bunch of other errors on Android and my iOS build breaks.
It seems to me like the best way to go about this would be to reference `com.google.android.gms:play-services-measurement:17.2.1` in `react-native-admob-native-ads`, but I'm not sure how to do that

[2022-07-23 10:18] freeworldshadow commented on #284
don't know why,but it workds,thx

[2022-08-01 22:28] ammarahm-ed commented on #274
@mikehardy Hi, I have been jam packed with work for the past few months. I hope to start off on this weekend and will open a PR soon!

[2022-08-10 12:41] Shivani12345 opened #300 "Can't customize hight and width of ad banner"
I want to show skip button and customize UI of adbanner and after 5 sec of ad playing ad.  How can I set hight and width of adbanner in view.styple prop is not working with **AdMobBanner**?

**<AdMobBanner
        adUnitID={'ca-app-pub-2423909336067009/1752802852'}
        bannerSize="banner"
        servePersonalizedAds={true}
        style={{
          padding: 20,
        }}
      />**

[2022-08-11 23:47] MamoshiSE commented on #295
Did you find any solution to this? I am encountering the exact same issue when trying to preload the ads.

[2022-08-12 09:04] luongminh2410dev opened #301 "[IOS] Multiple ads on 1 screen"
I use **2 NativeAdView**  at top and bottom on 1 screen, so if it show the same ads -> NativeMediaView of top-ads return blank.

I check firebase-analyst and only see bottom-ads be counted

Android working perfectly

My code:
**- Ads repository init** (on loading screen)
[code]
**- Ads component**
[code]

[2022-08-12 10:24] sethcwhiting commented on #295
@MamoshiSE I did resolve this a while ago. Sorry for not updating here. I think what happened was that I was trying to use the same ID in my `android/app/src/main/AndroidManifest.xml` file as in my `App.tsx` file. They shouldn't match. You get the one for your `AndroidManifest.xml` from AdMob, and the one for your `App.tsx` from the docs.

[2022-08-12 10:24] #295 closed

[2022-08-12 13:49] dorthwein commented on #252
Downgrading 6.9.0.1 fixed my issue with this.

`pod 'GoogleMobileAdsMediationFacebook', "~> 6.9.0.1"`

Solution posted in another issue... cheers!

[2022-08-13 01:14] MamoshiSE opened #302 "Dynamically load into list?"
Is there an efficient way to load in native ads to a flatlist dynamically? Currently the only way I managed to do it is hardcoding indexes and creating multiple refs for each native ad and loading which is awful for a larger list.

Would appreciate any help!

[2022-08-14 15:15] #302 closed

[2022-08-15 03:48] vuhongson-01 opened #303 "iOs: problem with GADNativeAdView and 'GADNativeAdLoaderDelegate' (cannot find)"
![Screen Shot 2022-08-15 at 09 30 47](https://user-images.githubusercontent.com/103438906/184567643-b962d4b3-7fcd-4131-8a96-1897b585d439.png)

This is my problem, this API has any error with my project, can't not find GADNativeAdView, GADNativeAdLoaderDelegate, GAMRequest, adRequest,... in RNGADNativeView.h and RNGADNativeView.m, what can I do ?:(((

[2022-08-15 18:02] dorthwein commented on #301
we're running into this as well.

[2022-08-16 05:26] dipamshujindal1993 commented on #303
I am also facing the same problem.
 "react-native-admob-native-ads": "^0.6.0",
 "@react-native-firebase/admob": "^11.5.0",
    "@react-native-firebase/app": "^11.2.0",
"react": "17.0.1",
    "react-native": "0.64.0",
How can i fix this issue?

![Screenshot 2022-08-16 at 10 54 19 AM](https://user-images.githubusercontent.com/58145191/184804079-6943c3ec-4fad-432b-80d5-a7d27b5f0a2e.png)

[2022-08-27 15:01] zoobibackups opened #304 "ld: framework not found FacebookAdapter"
not working for react-native **69.4**
[code]

**package.json**
[code]

[2022-08-27 15:01] zoobibackups commented on #298
ld: framework not found FacebookAdapter

[2022-08-27 15:03] zoobibackups commented on #284
ld: framework not found FacebookAdapter react-native 69.4

[2022-08-27 15:16] zoobibackups commented on #242
still have issue. on react-native version 69.4

[2022-08-27 15:22] zoobibackups commented on #242
it would be better if you share the  compatible versions of both sdks
pod 'GoogleMobileAdsMediationFacebook', '6.11.0.0'
  pod 'Google-Mobile-Ads-SDK'

[2022-08-27 15:29] zoobibackups commented on #284
I have same issue with react-native version 69.4. the library doest not working fine

[2022-08-27 16:39] zoobibackups commented on #252
still not working

[2022-08-27 17:06] zoobibackups commented on #284
after donwgrading I have these issues

Showing Recent Messages
Undefined symbol: _OBJC_CLASS_$_GADAdLoader

Showing Recent Messages
Undefined symbol: _OBJC_CLASS_$_GADMultipleAdsAdLoaderOptions

Showing Recent Messages
Undefined symbol: _OBJC_METACLASS_$_GADNativeAdView

Showing Recent Messages
Undefined symbol: _OBJC_CLASS_$_GADCustomEventExtras

Showing Recent Messages
Undefined symbol: _GADSimu

[2022-08-27 17:06] zoobibackups commented on #290
after donwgrading I have these issues

Showing Recent Messages
Undefined symbol: _OBJC_CLASS_$_GADAdLoader

Showing Recent Messages
Undefined symbol: _OBJC_CLASS_$_GADMultipleAdsAdLoaderOptions

Showing Recent Messages
Undefined symbol: _OBJC_METACLASS_$_GADNativeAdView

Showing Recent Messages
Undefined symbol: _OBJC_CLASS_$_GADCustomEventExtras

Showing Recent Messages
Undefined symbol: _GADSimu

[2022-08-27 17:06] zoobibackups commented on #290
any solution for this

[2022-08-27 17:07] zoobibackups commented on #256
after donwgrading I have these issues

Showing Recent Messages
Undefined symbol: _OBJC_CLASS_$_GADAdLoader

Showing Recent Messages
Undefined symbol: _OBJC_CLASS_$_GADMultipleAdsAdLoaderOptions

Showing Recent Messages
Undefined symbol: _OBJC_METACLASS_$_GADNativeAdView

Showing Recent Messages
Undefined symbol: _OBJC_CLASS_$_GADCustomEventExtras

Showing Recent Messages
Undefined symbol: _GADSimu

[2022-08-27 17:07] zoobibackups commented on #284
after donwgrading I have these issues

Showing Recent Messages
Undefined symbol: _OBJC_CLASS_$_GADAdLoader

Showing Recent Messages
Undefined symbol: _OBJC_CLASS_$_GADMultipleAdsAdLoaderOptions

Showing Recent Messages
Undefined symbol: _OBJC_METACLASS_$_GADNativeAdView

Showing Recent Messages
Undefined symbol: _OBJC_CLASS_$_GADCustomEventExtras

Showing Recent Messages
Undefined symbol: _GADSimu

[2022-08-27 17:07] zoobibackups commented on #284
after donwgrading I have these issues

Showing Recent Messages
Undefined symbol: _OBJC_CLASS_$_GADAdLoader

Showing Recent Messages
Undefined symbol: _OBJC_CLASS_$_GADMultipleAdsAdLoaderOptions

Showing Recent Messages
Undefined symbol: _OBJC_METACLASS_$_GADNativeAdView

Showing Recent Messages
Undefined symbol: _OBJC_CLASS_$_GADCustomEventExtras

Showing Recent Messages
Undefined symbol: _GADSimu

[2022-08-27 17:07] zoobibackups commented on #284
after donwgrading I have these issues

Showing Recent Messages
Undefined symbol: _OBJC_CLASS_$_GADAdLoader

Showing Recent Messages
Undefined symbol: _OBJC_CLASS_$_GADMultipleAdsAdLoaderOptions

Showing Recent Messages
Undefined symbol: _OBJC_METACLASS_$_GADNativeAdView

Showing Recent Messages
Undefined symbol: _OBJC_CLASS_$_GADCustomEventExtras

Showing Recent Messages
Undefined symbol: _GADSimu

[2022-08-27 17:08] zoobibackups commented on #240
after donwgrading I have these issues

Showing Recent Messages
Undefined symbol: _OBJC_CLASS_$_GADAdLoader

Showing Recent Messages
Undefined symbol: _OBJC_CLASS_$_GADMultipleAdsAdLoaderOptions

Showing Recent Messages
Undefined symbol: _OBJC_METACLASS_$_GADNativeAdView

Showing Recent Messages
Undefined symbol: _OBJC_CLASS_$_GADCustomEventExtras

Showing Recent Messages
Undefined symbol: _GADSimu

[2022-08-27 17:09] zoobibackups commented on #231
after donwgrading I have these issues

Showing Recent Messages
Undefined symbol: _OBJC_CLASS_$_GADAdLoader

Showing Recent Messages
Undefined symbol: _OBJC_CLASS_$_GADMultipleAdsAdLoaderOptions

Showing Recent Messages
Undefined symbol: _OBJC_METACLASS_$_GADNativeAdView

Showing Recent Messages
Undefined symbol: _OBJC_CLASS_$_GADCustomEventExtras

Showing Recent Messages
Undefined symbol: _GADSimu

[2022-08-27 17:09] zoobibackups commented on #218
after donwgrading I have these issues

Showing Recent Messages
Undefined symbol: _OBJC_CLASS_$_GADAdLoader

Showing Recent Messages
Undefined symbol: _OBJC_CLASS_$_GADMultipleAdsAdLoaderOptions

Showing Recent Messages
Undefined symbol: _OBJC_METACLASS_$_GADNativeAdView

Showing Recent Messages
Undefined symbol: _OBJC_CLASS_$_GADCustomEventExtras

Showing Recent Messages
Undefined symbol: _GADSimu

[2022-08-27 17:10] zoobibackups commented on #212
after donwgrading I have these issues

Showing Recent Messages
Undefined symbol: _OBJC_CLASS_$_GADAdLoader

Showing Recent Messages
Undefined symbol: _OBJC_CLASS_$_GADMultipleAdsAdLoaderOptions

Showing Recent Messages
Undefined symbol: _OBJC_METACLASS_$_GADNativeAdView

Showing Recent Messages
Undefined symbol: _OBJC_CLASS_$_GADCustomEventExtras

Showing Recent Messages
Undefined symbol: _GADSimu

[2022-08-27 17:11] zoobibackups commented on #164
after donwgrading I have these issues

Showing Recent Messages
Undefined symbol: _OBJC_CLASS_$_GADAdLoader

Showing Recent Messages
Undefined symbol: _OBJC_CLASS_$_GADMultipleAdsAdLoaderOptions

Showing Recent Messages
Undefined symbol: _OBJC_METACLASS_$_GADNativeAdView

Showing Recent Messages
Undefined symbol: _OBJC_CLASS_$_GADCustomEventExtras

Showing Recent Messages
Undefined symbol: _GADSimu

[2022-08-29 15:03] vuhongson-01 commented on #303
DON'T USE google-firebase-admob because this is suport in v11.5.0 => in IOs, google SDK is out date. your can use the library is suggested in react-native-admob-native-ads READ.me

[2022-08-29 15:04] #303 closed

[2022-09-02 18:40] jbaudanza commented on #304
This is because `FacebookAdapter` has changed to `MetaAdapter`, but react-native-admob-native-ads hasn't been updated.

I was able to resolve this by hardcoded the version of GoogleMobileAdsMediationFacebook.

[code]

[2022-09-13 14:42] yunusbayraktaroglu opened #305 "Full-screen native ad support"
https://developers.google.com/admob/android/native/full-screen

This feature would be great. Thank you

[2022-09-19 04:41] luongminh2410dev commented on #268
same issue

[2022-09-20 22:53] mwh1r opened #306 "Custom targeting not working on iOS"
Firstly, nice library 👏

I have custom targeting setup for ads and it works on Android but not iOS.

[Docs](https://ammarahm-ed.github.io/react-native-admob-native-ads/docs/nativeadview/targetingoptions-6#targets) define type for `targets` as array of `Target:{ key: boolean, value: string | Array<string> }` so have something like the following:
[code]

 Looking at the native code, i can see the [A

[2022-09-28 17:19] hari-react opened #307 "ios native ads installation error"
pod 'Google-Mobile-Ads-SDK'
pod 'GoogleMobileAdsMediationFacebook'
I tried to install native-ads plugin in ios  but its getting error i attached a scrrenshot of issue which i got.
<img width="475" alt="ios-nativead error" src="https://user-images.githubusercontent.com/114608141/192847637-95debbd4-de8e-40dd-8755-65da331b0ebd.png">
please help me

[2022-09-28 17:26] hari-react commented on #307
I tried vpn and  both pod install & pod install --repo -update but still am getting same issue

[2022-09-29 09:11] hari-react commented on #130
ios
 pod 'Google-Mobile-Ads-SDK',
  pod 'GoogleMobileAdsMediationFacebook',
  package  is added in podfile. and I tried Both pod install and pod install --repo -update.
  but package is not installed. error install GoogleMobileAdsMediationFacebook'

  please help

[2022-10-04 04:28] luongminh2410dev opened #308 "[BUG] adChoicesPlacement prop not working with preload ad"
Setting adChoicesPlacement not working on situation ads be preload even adChoicePlacement be placed on NativeAdView tag

AdChoicesPlacement alway show default position on both Android & IOS (top_left for IOS, top_right for Android)

AdChoicesPlacement of other ad (not preload) seem to be affect

- Preload ad
[code]
- Show ad
[code]

[2022-10-12 11:03] cap1-0 commented on #290
@zoobibackups  @qhoarau  @henrik-d  Have you found a solution yet?

[2022-10-13 12:47] ameerarx commented on #301
how did you decide?

[2022-10-17 18:24] AftabUfaq opened #310 "issue with react-native-google-mobile-ads"
Suggestion: add 'tools:replace="android:value"' to <meta-data> element at AndroidManifest.xml:26:8-29:68 to override.

[2022-10-19 09:29] cap1-0 commented on #307
i am also getting same error  @hari-react  did you solve it???

[2022-11-04 01:43] bricezele opened #311 "Error compiling on Android"
Hello, I'm facing a compilation error since a few days on Android

I have this error:

[code]

Does anyone have any idea how to solve this problem?

[2022-11-04 05:18] sainteye commented on #311
Same here. I can build it two days ago. However, today when I rebuild the app. It starts to complain these errors.

[code]

[2022-11-04 06:36] haresh4d commented on #311
Same here yesterday it was compiling today it is showing this error

[2022-11-04 07:21] RohitDhingra0786 commented on #311
Yeah, I'm facing the same issue

[2022-11-04 16:20] techday84 commented on #311
Me too. Yesterday it works, today it is showing the same error.

[2022-11-04 16:37] techday84 commented on #310
Hi @AftabUfaq, Do you have react-native-google-mobile-ads and react-native-admob-native-ads working in the same app?

[2022-11-04 21:22] mwh1r commented on #311
I don't use the facebook mediation and know little about it - but you can see in their [changelog](https://developers.google.com/admob/android/mediation/meta) that they have removed the "waterfall integration" from the SDK in `6.12.0.0` which includes some of the code this library is using. The quick solution to get up and running immediately is to use `patch-package` to fix the `com.google.ads.me

[2022-11-05 01:03] haresh4d commented on #311
I am also not using Facebook Mediation. How can I remove it from this library? Or How can I use this library without facebook mediation enabled?

[2022-11-05 09:08] sangram37 commented on #311
Yesterday it works, today it is showing the same error.

[2022-11-08 06:22] Hot-key commented on #311
install [patch-package](https://www.npmjs.com/package/patch-package)

[code]

Update package.json
[code]

Update node_modules/react-native-admob-native-ads/android/build.gradle:58
[code]

Run patch-package
[code]

[2022-11-09 08:30] SergiOnGit commented on #311
Same here. @ammarahm-ed should we expect the fix anytime soon?

[2022-11-09 16:47] kabonKoda commented on #311
i couldn’t find a way to use the patch package to get it to work, so i forked the repo and fixed the installed from my repo .....

just npm install https://github.com/kabonKoda/react-native-admob-native-ads

or do the same thing i did till author is ready for us

[2022-11-10 07:13] anhvd-iKong commented on #301
you can create a ref for NativeAdvanceAds and call loadAd again for this.

[2022-11-21 11:53] ameerarx opened #315 "Error build Android"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-admob-native-ads@0.6.0` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2022-11-28 10:38] wonderlul opened #317 "[Android] onAdImpression and onAdClicked doesn't work properly"
# Issue

onAdImpression and onAdClicked events are not being invoked immediately.

## Description

We have a problem with tracking impression and clicks. Let's say we display an ad and onAdImpression event is not being triggered. If we open the ad, onAdClicked event is not being triggered as well (onAdOpened works properly). What changes the situation is setting the app to background and then back