[2020-03-29 09:01] gvnc opened #1 "this lib does not work with expo"
I tried to run it on expo, but it gives below error on adroid phone with expo client.

_> [01:59:51] requireNativeComponent: "RNGADNativeView" was not found in the UIManager.

I see that this view is included in the src folder of this repo, but somehow it doesn't findt it,

[2020-03-29 17:53] ammarahm-ed commented on #1
https://docs.expo.io/versions/latest/introduction/faq/

I think expo does not support native modules directly according to the docs. If you want you can try the above, call expo eject and maybe this will work. I have not tested it with expo, but I will try it out tomorrow morning to see if there is a way to work this out. Till then you can check on how to run native modules with expo.

[2020-03-29 17:55] ammarahm-ed commented on #1
https://docs.expo.io/versions/latest/expokit/eject/

read more here.

[2020-03-31 17:53] perrosnk opened #2 "Any plans to make it further customizable?"
First of all congratulations for this packagee. It was something that was really missing from the community and I believe there will be great interest in it.

I wanted to ask you if you have any plans to make it further customizable in order to be able to adapt the ad to the app design, something like [this](https://github.com/callstack/react-native-fbads#native-ads).
By the way react-native-fbads

[2020-04-02 19:15] JoonJoon123 opened #3 "Native Ad Custom Style Functionality?"
Hi @ammarahm-ed

Awesome job with the easy implementation! But, the native ad template does not match my app. Can you add customization functionality like [https://github.com/callstack/react-native-fbads](url) so that there is further customization available.

Thanks in Advance.

[2020-04-03 06:04] perrosnk opened #4 "Installation guide wrong package"
Thank you so much for this library.
Unfortunately I don't know how to send a pull request but the installation guide seems wrong. It refers to `react-native-action-sheet`

[2020-04-04 20:52] ammarahm-ed commented on #3
Well I will look into it, can you give me an idea on how you want it to look like and what is not working for you specifically?

[2020-04-04 20:56] ammarahm-ed commented on #2
Well what they are doing is pretty clever though. I think it can be achieved here too, all we need is to let the native side know what is the id of each view we will use. Initially I wanted something like that but couldn't grab the idea fully. So I will look into react-native-fbads code and see what we can take from there to make our native ads work as we want them to.

[2020-04-04 20:58] ammarahm-ed commented on #4
I cant find it to be wrong anywhere. It refers to the right place, I have checked.

[2020-04-04 21:03] ammarahm-ed commented on #4
I just fixed it. Sorry i didnt see it before. I have pushed the new version

[2020-04-04 21:03] #4 closed

[2020-04-04 21:09] perrosnk commented on #2
That would be awesome! I think a lot of people are waiting for a library to support native ads on react native.

[2020-04-04 21:11] ammarahm-ed commented on #2
Well lets see what we can make of it. If it can be done, that would be great. Are the fbads customizable like normal react native views?

[2020-04-04 21:30] ammarahm-ed commented on #3
However the native ads are currrently customizable to some degree, do explain it a little more. I have seen fbads, that seems complicated but I will look into how it works.

[2020-04-04 21:44] perrosnk commented on #2
Yes, you basically receive [these](https://github.com/callstack/react-native-fbads#2-create-your-component) information and you construct your own views.
I don't know if it's because of this, but they have a huge blocker [issue](https://github.com/callstack/react-native-fbads/issues/172) and views are not logged.

[2020-04-11 18:19] ammarahm-ed commented on #2
The issue seems to be more related to facebook ads so its more about testing and trying it out. Maybe AdMob SDK will not have such a problem.

[2020-04-11 21:49] perrosnk commented on #2
Indeed you have done a great job. Thanks for that!
I believe that this library has great potential for the community, so I will be waiting for more updates in the future

[2020-04-13 05:54] ammarahm-ed commented on #2
i have started working on this, lets see where it takes us

[2020-04-13 17:16] hend-elsahli opened #5 "NativeAd crashes on release-build <java.lang.NullPointerException>"
The module crashes on release-build
Platform: Android 4.4

Samsung Galaxy S3 Neo (s3ve3g), 1536MB RAM, Android 4.4
Report 1

java.lang.NullPointerException:
  at android.util.Log.println_native (Native Method)
  at android.util.Log.d (Log.java:158)
  at com.ammarahmed.rnadmob.nativeads.i.b
  at com.ammarahmed.rnadmob.nativeads.i.a
  at com.ammarahmed.rnadmob.nativeads.e.a
  at com.google.android.g

[2020-04-13 17:59] ammarahm-ed commented on #5
The above report is obfuscated from obfuscated code. I think you are putting it here from Google Play Console. Can you test this on an emulator with android 4.4 and send me the log so I can look into the issue? And is this happening on newer android versions also?

[2020-04-14 18:36] hend-elsahli commented on #5
I was able to reproduce the issue in development ... what happened is that the app closes unexpectly without any errors-logged at all.

The ad sometimes load without any problems ... and sometimes crashes the whole app <silently>

I was able to reproduce this issue in Android 4.4 only ... newer versions are OK.

[2020-04-15 08:46] ammarahm-ed commented on #5
I will look into this and update with a fix soon after debugging on Android 4.4

[2020-04-15 17:33] #3 closed

[2020-04-16 01:50] Veid opened #6 "How is the height decided?"
Hi,

How is the height of the ad unit determined? If I place the unit in a `View` with `flex:1`, the unit is shifted such that the top of the `View` is aligned with the **middle** of the unit. The result is the unit overflowing out of the top of its parent `View`, which is a problem.

Am I missing something? Should we set a constant height on the parent `View`? How should we pick the correct heigh

[2020-04-16 03:54] ammarahm-ed commented on #6
Hi there, since all the views are generated from .xml and .xib files, the height is fixed for them. For the large size ad, its 420 i guess. and for small, it is 120 and for medium on android it is 200. However in a week or so, if things go right I will release a new version that will work similar to react-native-fbads and you can actually create whatever you want from the components so hang on tig

[2020-04-16 09:11] #1 closed

[2020-04-16 15:08] ammarahm-ed commented on #2
Implementation on android is complete in the dev branch. I will work on the ios side now. Hope to have the new version uploaded by monday. Things look promising.

[2020-04-16 19:02] Veid commented on #6
Very cool, looking forward to checking out the new version. Thanks!

[2020-04-17 07:36] ammarahm-ed commented on #2
iOS implementation is complete too. Going to do some tests and rewrite the docs.

[2020-04-18 11:28] ammarahm-ed commented on #5
I think I have fixed the issue. You can now update to v0.1.2 and see if you still face the crash on Android 4.4.

`yarn add react-native-admob-native-ads@0.1.2`

[2020-04-18 13:43] ammarahm-ed commented on #2
Okay, its ready now but I need someone to test it. So if you can, clone this repo. switch to dev branch. go to example folder and run the project on ios an android. If you face an issue report here.

[2020-04-18 15:44] dylancom opened #8 "Preloading ads"
Is their some way to preload native ads?
It would be nice if the ad could directly show up when switching screens.

[2020-04-18 17:03] ammarahm-ed commented on #8
Currently there is no way to do that, but I will add it. Right now I am rewriting the whole library to make it work like react-native-fbads with more customization. That is almost done. So next is preloading and ad storage for a specific period of time which will be added in the next version.

[2020-04-18 17:23] dylancom commented on #8
@ammarahm-ed great work so far! Will contribute where I can, highly interested in this project.

[2020-04-18 18:55] ammarahm-ed commented on #8
@dylancom any kind of help would be highly appreciated. And I am always open to ideas.

[2020-04-19 17:13] #5 closed

[2020-04-19 17:13] #6 closed

[2020-04-19 21:12] anastely commented on #8
Hey @ammarahm-ed I'm going to use your lib very soon but When will the new version be released?

[2020-04-20 07:50] ammarahm-ed commented on #8
@anastely I need some people to test it before it is released. It is almost ready

[2020-04-20 07:52] anastely commented on #8
@ammarahm-ed How can I help?

[2020-04-20 07:54] dylancom commented on #8
@ammarahm-ed Seems to work mostly fine to me. Only when I add in a testID instead of prod, I'm seeing an empty ad...

[2020-04-20 08:32] anastely commented on #8
Hey, @dylancom How you test it?

[2020-04-20 08:34] dylancom commented on #8
@anastely install the project like this: `npm install --save ammarahm-ed/react-native-admob-native-ads#pull/7/head and you will be able to test code from the pull request.
`

[2020-04-20 08:43] anastely commented on #8
It just installs [these](https://i.imgur.com/fGdAR2G.png) files,
In node_modules I can see this lib but without any example folder, so what should I do to test it 😅
 _Sorry but I'm new in open source_

[2020-04-20 08:46] dylancom commented on #8
Though of my use case where I already import it in a working project.
Anyway, you can then just clone / download the repo from here: https://github.com/ammarahm-ed/react-native-admob-native-ads/tree/dev
(the latest code is on the dev branch)

[2020-04-20 09:25] anastely commented on #8
Well, I got empty Ad
I replace AdMob App ID in AndroidManifest with mine, and in adUnitID, Should I change something else! Or for example, Follow the interstitial implementation guide to integrate the SDK?

[2020-04-20 10:49] ammarahm-ed commented on #8
Strange because I am doing all the testing on test-ads. What error are you getting in `onAdFailedToLoad`? Sometimes when changing the id, you should delete the app and reinstall it so Admob will send ads from the server, otherwise it gives error:3 or no ads in inventory.
@dylancom

[2020-04-20 10:50] dylancom commented on #8
@ammarahm-ed Figured it works great if I use: enableTestMode

[2020-04-20 10:52] ammarahm-ed commented on #8
@anastely You should test everything in example app and report here if you face a problem. Also newly generated Admob IDs will not return any ads so it is better to do the testing on test ads with test App-ID as I am or you can use your own App ID.

And remember you need to create **ad id for native ads** in Admob Console.

[2020-04-20 10:53] ammarahm-ed commented on #8
@dylancom that is not a real ad. It is a placeholder that I created just for testing incase you dont have internet or some other problem to create your design easily. Ads with test app id and adUnitID should work. Are they also not working in the example app?

[2020-04-20 10:54] dylancom commented on #8
Haven’t tried the example app. In directly testing the ads in my app.

[2020-04-20 10:54] ammarahm-ed commented on #8
@dylancom also Ad preloading is implemented on android. Still need to implement it on iOS. its on `ad-preloading-patch` branch.

[2020-04-20 11:00] anastely commented on #8
@ammarahm-ed I tested it in example App at the first time I don't change any Ad ID But I can't see any Ad So I go to AdMobconsole and create an AdMob App ID & ad Unit ID and use it in the example
But I got the same no ad I can see :\ and in Log, I see this message
`Internal error, an invalid response was received from the ad server
`

[2020-04-20 11:07] ammarahm-ed commented on #8
Ads from your own Ad Unit ID will not appear currently because you just created it so do not use those in development as it will cause your AdMob Account to be banned.

Use your own App ID and test ads:
https://developers.google.com/admob/android/test-ads

Native-Advanced or Native-Advanced-Video during development

[2020-04-20 11:11] anastely commented on #8
Ahaa, What about AdMob App ID in AndroidManifest what Should I use?

[2020-04-20 11:11] ammarahm-ed commented on #8
@anastely Try again with example app without making any changes to it. It should work directly, or tell me what error you are getting in `onAdFailedToLoad`.

[2020-04-20 11:12] ammarahm-ed commented on #8
You can use your App ID. That is not a problem. @anastely

[2020-04-20 11:21] anastely commented on #8
@ammarahm-ed Great! it works it takes time to appear 1-2min  although I don't have any issue with an internet connection

[2020-04-20 11:26] dylancom commented on #8
@ammarahm-ed When I use the adUnitID="ca-app-pub-3940256099942544/2247696110" // TEST adUnitID, nothing show and onAdFailedToLoad is trigger. The parameter doesn't contain an error object though, if I log it shows an event: "SyntheticEvent".

[2020-04-20 11:52] ammarahm-ed commented on #8
@dylancom is this happening in the example? because I am using the example and there, all ads are showing properly using test ids. `onAdFailedToLoad` must trigger one of these four errors:
[code]
and it is never empty. Atlease it should show `Unknown error`.

[2020-04-20 11:53] dylancom commented on #8
Haven’t take a look at the example yet.
I’ve just took the code from the ReadMe and adjusted it to my styling wishes.

[2020-04-20 11:55] ammarahm-ed commented on #8
[code]
You should log it like this. @dylancom

[2020-04-20 11:58] dylancom commented on #8
@ammarahm-ed Ah I see, that's returning: message: "Request Error: No ad to show."

[2020-04-20 12:01] ammarahm-ed commented on #8
@dylancom it means the server is not returning any ad from the test-id. clean up your app and build folders then try again.

[2020-04-20 12:40] dylancom commented on #8
@ammarahm-ed Xcode is showing this log btw everytime I show an ad: _<Google> User interactions must be disabled on the asset view to enable click handling.
userInteractionEnabled has been set to NO on <RCTTextView: 0x7ffcc4005d40; reactTag: 1457; text:  frame = (16 14; 327 14.3333); opaque = NO; userInteractionEnabled = NO; layer = <CALayer: 0x600000b27e80>>_

[2020-04-20 13:03] ammarahm-ed commented on #8
This is just a warning since the views are created in React Native but we can handle this I think by setting `userInteractionEnabled` to `NO` before attaching each view.

[2020-04-20 13:22] ammarahm-ed commented on #8
@dylancom I have handled the warning.

[2020-04-20 13:32] dylancom commented on #8
@ammarahm-ed Yes, I can confirm they are gone now. Awesome!

[2020-04-20 13:36] anastely commented on #8
It's time to release 🎉

[2020-04-20 13:42] dylancom commented on #8
@ammarahm-ed The test ad IDs are different for Android / iOS btw: https://developers.google.com/admob/ios/test-ads

I found that I have to use: ca-app-pub-3940256099942544/2521693316, which is for iOS "Native Advanced Video". If i'm using the test ID for "Native Advanced", it doesn't show up though...

[2020-04-20 13:45] ammarahm-ed commented on #8
@dylancom we should update the example with the correct ids.

[2020-04-20 13:57] ammarahm-ed commented on #8
@anastely It depends on the server returning the ads. Some times it does not return any ad, so a request is made after 1 minute. With ad preloading added in this week probably that problem will be gone too. So ads will show up immediately.

[2020-04-20 14:23] ammarahm-ed opened #9 "Roadmap"
So finally it is here, proper Admob Native ads support for React Native. Still there are somethings that need to be done. I will make sure that I can support this long term however I would love if you would like to contribute to any part of this library.

- [x]  Complete Ad Creation and Customization Support
- [ ]  Ad Preloading: **WIP** [ad-preloading-patch branch](https://github.com/ammarahm-ed/

[2020-04-20 16:12] ammarahm-ed commented on #2
new version released. this issue is closing.

[2020-04-20 16:12] #2 closed

[2020-04-21 06:19] sufyan297 opened #10 "[Question/Bug] Only last Ad is visible"
First of all, i appreciate your work @ammarahm-ed :)

I don't know this issue is related to your lib or admob it self, i am posting it here so maybe someone can help.

So i am trying to show multiple ads in one screen, i have created a component and call same component several times.

something like this
`      <View style={{ flex: 1, justifyContent: 'center' }}>
        <AdCard />
        <AdCard

[2020-04-21 06:33] ammarahm-ed commented on #10
You cannot show multiple ads at the same time, its not allowed by Admob. At one time, only one ad should be visible in one screen. Showing multiple ads will ban your admob account.

[2020-04-21 22:21] perrosnk opened #12 "Style props in Wrapper"
@ammarahm-ed Thank you so much for this package. I am testing it now and it's fantastic!

I am trying to put the IconView and the HeadlineView in the same row, but it doesn't work. It seems that the wrapper inside the UnifiedAdView is not getting any style props.

[2020-04-21 22:24] perrosnk commented on #12
That was a stupid, issue. Sorry about that.
Congratulations once again for the new version

[2020-04-21 22:24] #12 closed

[2020-04-22 02:32] sufyan297 commented on #10
Hello @ammarahm-ed
I have wrapped NativeAdView inside View as you shown in your example, but still it's not showing. Also updated to 0.2.1 as you suggested

You can look at my code below

[code]

I am displaying Ad inside **SectionList**, my initial loading items is 50 and has placed ads after 10 items
![image](https://user-images.githubusercontent.com/836773/79933811-a653cc00-846e-11ea-86c3-8a14a

[2020-04-22 04:46] ammarahm-ed commented on #10
You cannot load all the ads at once in a section list. You have to load them when user reaches that index, not before, so at one time, there is only one ad showing in the whole list. I think since we are not preloading the ads, each ad is requested from the server so the previous ad request is destroyed or something. But let me look into this and see what we can do.

[2020-04-22 06:00] ammarahm-ed commented on #10
Okay now I have fixed this issue, but still I would suggest you render one ad in the screen at one time.
1. Update version to **0.2.2**

Then do something like this in your AdCard Component:
[code]
And in your list

[code]
I have tested this and it is working. I am able to render multiple ads together even without wrapping them in a `<View/>` as I suggested before.

[2020-04-22 06:25] sufyan297 commented on #10
Thank you so much @ammarahm-ed appreciate your help 👍

[2020-04-22 06:25] #10 closed

[2020-04-22 06:26] ammarahm-ed commented on #10
@sufyan297 Glad that I could be of help. Tell me if you face any other issue so we can fix it ASAP. When I add, ad preloading, you should update, so ads will load without delay. maybe in a week or two.

[2020-04-24 07:44] ammarahm-ed opened #13 "Add workaround to fix view drawing issue on Android"

[2020-04-25 05:59] ammarahm-ed commented on #13
this has been fixed v0.2.4

[2020-04-25 05:59] #13 closed

[2020-04-25 16:51] perrosnk commented on #2
Just wanted to say thank you @ammarahm-ed. I have tested and used the library in production and it works perfectly! Well done!

[2020-04-25 16:51] ashishfeels commented on #9
@ammarahm-ed  thanks man i was looking for this , tried the react native admob but this seems more interesting and fine.

[2020-04-25 18:05] ammarahm-ed commented on #9
@ashishfeels Thank you! feel free to open suggestions or issues if you face a problem. react-native-admob is not actively mantained. This is however.

[2020-04-25 18:07] ashishfeels commented on #9
yes @ammarahm-ed  can you just look what im doing wrong the ads are not getting displayed as intended

[2020-04-25 18:14] ammarahm-ed commented on #9
you can find me on discord under the username ammarahm-ed

[2020-04-25 18:16] ashishfeels commented on #9
the four-digit tag is missing.

[2020-04-25 18:21] ammarahm-ed commented on #9
ammarahm-ed#3680

and you need to update to the latest version of this library. It appears that you are using the old version. And send screenshots only from the example app so I can test it here.

[2020-04-25 18:24] ashishfeels commented on #9
i just installed this from npm v0.2.4 , i will try it once more. also i tried to run the example app but it didn't ran , also i have sent you a request on discord.

[2020-04-27 04:18] paddy57 opened #14 "Video ads are not working (tried the example app)"
In your example i switched ad unit id to video ads, I have added the MediView from react-native-admob-native-ads, but with test ad unit id, i always get the this error message `"The ad request was successful, but no ad was returned due to lack of ad inventory."`

here is my code

[code]

[2020-04-27 08:43] ammarahm-ed commented on #14
remove the app from your phone. Clear the build folder and run again after changing the Ad Unit Ids

[2020-04-27 09:29] iamsubhaa opened #15 "Incompatible issue"
Incompatible issue with Gradle 7.0

[2020-04-27 10:55] paddy57 commented on #14
Yeah, it worked, any reason why it was not working with the previous build?

[2020-04-27 12:05] ammarahm-ed commented on #14
@paddy57 old cached data that google admob does not like.

[2020-04-27 12:05] #14 closed

[2020-04-27 12:07] ammarahm-ed commented on #15
@iamsubhaa which react native version are you using? the latest rn 0.62.2 uses gradle 6.0...

[2020-04-27 12:09] iamsubhaa commented on #15
0.62.2 actually problem with mergemultidex problem

[2020-04-27 12:23] ammarahm-ed commented on #15
In your project/android/app/build.gradle add this in dependancies:

[code]

and in defaultConfig set `multiDexEnabled` to true

[code]

[2020-04-27 20:32] urunky opened #16 "Performance issue"
First, thank you for your great work!!!!!
I'm very happy to use your libraray. This library is what I'm looking for.

I'm using your library for my new developing android app.
I'm using 'FlatList' and using 'renderItem' for rendering NativeAdView.
NativeAdView is top of the list items. total 13 items are rendered.

But the performance is not good as I expected.

So I tested some cases.
all the res

[2020-04-28 06:57] paddy57 opened #17 "Invariant Violation: requireNativeComponent: "MediaView" was not found in the UIManager"
I am getting this error
"react": "16.8.6",
"react-native": "0.60.5",

`Invariant Violation: Invariant Violation: Invariant Violation: requireNativeComponent: "MediaView" was not found in the UIManager`

![Screenshot_20200428-122058_Stumbler](https://user-images.githubusercontent.com/22058036/80456628-8e3aeb80-894b-11ea-8d9c-6cddad530c8c.jpg)

[2020-04-28 07:08] paddy57 opened #18 "Tried to register two views with the same name GestureHandlerRootView"
My project already have  "react-native-gesture-handler": "^1.5.6",
 "react": "16.8.6",
 "react-native": "0.60.5",

and when i installed react-native-admob-native-ads i get the following error
![Screenshot_20200428-123455_Stumbler](https://user-images.githubusercontent.com/22058036/80457524-140b6680-894d-11ea-9863-81841b1e78f9.jpg)

[2020-04-28 07:54] paddy57 commented on #18
Delete your package-lock.json or yarn.lock, delete node_modules, run npm install or yarn again
this solved above error for me

[2020-04-28 07:54] #18 closed

[2020-04-28 09:48] ammarahm-ed commented on #16
@urunky Thanks for opening this issue, I will look into why there is such performance drop and report back.

[2020-04-28 09:49] ammarahm-ed commented on #17
Can you reproduce this error in the Example App?

[2020-04-28 09:52] ammarahm-ed commented on #15
I am closing this due to inactivity

[2020-04-28 09:52] #15 closed

[2020-04-28 10:23] ammarahm-ed commented on #16
Okay so I tested it, I am getting 60fps when there is only one ad in the Flatlist at a time, If i am rendering more than one, the fps drops and that is because you should not render more than one NativeAd at a time.

With one ad, i am getting 60fps in dev mode with ui components.

[2020-04-28 10:43] Dev-AS1 opened #19 "Full screen ads"
Firstly, thank you for this awesome lib,

I just wondering is there a way to make a full-screen Ads?

Something like [this](https://imgur.com/BbUlOUV) ?
-
What I tried,
I make a full screen Modal "rn-modal"
And give it a screen width/height but the Ad does not cover all-screen "modal".

[2020-04-28 11:35] paddy57 commented on #17
Can you reproduce this error in the Example App? --> No, I'm not able to reproduce
 clear your build folder, and node_modules folder then run yarn again. --> Done this, still getting `requireNativeComponent: "MediaView" was not found in the UIManager`
I'm using
"react": "16.8.6",
"react-native": "0.60.5",
 "react-native-admob-native-ads": "^0.2.6",
 "react-native-admob": "git+https://git@github.co

[2020-04-28 14:47] dolb opened #20 "Problem with test banner add initialization."
Hello,

I wanted to give your module a try starting with a simple banner in the application. I wanted to add a simple banner to my RN app using test banner adUnitId, which according to AdMob documentation is ca-app-pub-3940256099942544/6300978111 (https://developers.google.com/admob/android/test-ads).

The problem is, that nothing was displayed, to I added onAdFailedToLoad callback with a simple l

[2020-04-28 16:14] dylancom commented on #8
@ammarahm-ed Do you have any ETA on when preloading would be available?
Now you have to wait like 2/3 seconds on every screen before a Native ad shows.

[2020-04-28 16:29] paddy57 commented on #17
The issue gets resolved for me by the following step
1. removed react-native-admob (it was installed in my project already)
2. react-native link  react-native-admob-native-ads
3. delete node_module, delete package-lock.json,
4. npm install,  clean project
5. build app

[2020-04-28 16:29] #17 closed

[2020-04-28 18:07] ammarahm-ed commented on #19
I think it should work in a modal, have you tried setting the height of the NativeAdView equal to the height of the device? then adding components like any other React Native View???

[2020-04-28 18:08] ammarahm-ed commented on #20
@dolb You need to used **Native-Advanced Ad Unit Ids** only. These are not banner ads, these are Native Advanced ads where you can create the ads as you would like.

[2020-04-28 18:13] ammarahm-ed commented on #8
@dylancom its work in progress. Android is complete. ios needs to be done. I want to get them ready as soon as I can. Just a bit of work load right now

[2020-04-28 18:33] urunky commented on #16
@ammarahm-ed Thanks for fast reply!!

Maybe my explanation was not exact.
My goal is using 2 native ads, start of list, end of list.
There are always enough items between two nativeads, user can't see more than one nativeAd at a time. I don't know this goal bans the admob nativead banner guides.

Like you said, If I use only one nativead, the performance is not bad(~40fps) in debug mode (because m

[2020-04-28 19:08] ammarahm-ed commented on #16
@urunky I will look into this to find the reason why the frames are dropping when there are multiple ads in the same screen. its a strange behavior. but until then you can make sure there is only ad rendered in the list at one time.

[2020-04-28 23:25] Dev-AS1 commented on #19
Yes i do it,
but i can't load the Ad in Modal idk why!
before give it a full width & height it's work
and i'm sure the AdUnitsID work
and when i use `onAdLoaded` it's log the ad is loaded

---

[ScreenShot](https://i.imgur.com/iE44dQS.png)

here's my code,

Ad Component

[code]

Here's a modal in Home Screen

[code]

[2020-04-29 05:35] dolb commented on #20
Ok, thanks for the clarification on this part :) Please consider this issue closed then :+1:

[2020-04-29 10:03] paddy57 commented on #16
Hello @ammarahm-ed  I'm using Samsung M30
My NativeAdView have
[code]

I have a single ad on one screen,
with video ad units - I'm getting UI 9-15 fps and Js 9-15
with image ad units -  UI 16-25 fps and Js 16-25 fps

[2020-04-29 10:35] ammarahm-ed commented on #16
@paddy57 @urunky I am investigating the issue, I hope this will be fixed soon.

[2020-04-29 10:41] #20 closed

[2020-04-29 12:46] paddy57 commented on #16
@ammarahm-ed is there any direction I can look for ? I would like to help in solving this issue

[2020-04-29 13:15] anastely commented on #19
I'm trying your code, the Ad appears with me,
 but yes as you say it does not take the full size.

[code]

@ammarahm-ed  Check this [Shot](https://imgur.com/J5RfWYL)

[2020-04-29 13:46] paddy57 opened #21 "[Question]Portraits or Landscape ads"
Is there any way to know ads are portraits or landscape ads?
I have looked on official docs from AdMob for Native ads haven't found anything related to it.
Reason - I want to set the height of mediaview component according to landscape/portrait ads

[2020-04-29 15:14] ammarahm-ed commented on #21
I think maybe we can know the width and height of the image on android. on iOS I am not sure if there is any such information. Since the MediaView also renders video and we cannot know the exact size of the video, its dimensions, it might not be possible but I will look into to, maybe we can get that info from the video also.

[2020-04-29 15:17] ammarahm-ed commented on #16
@paddy57 until now I have only been able to improve the performance incrementally at a very small level by removing some nesting of views on native side, but I am still unable to find the exact reason due to which the UI-thread is being blocked. You can look at the code on Native Android side to see if you can find any bottlenecks in code that might be the cause of the issue.

[2020-04-29 15:28] ammarahm-ed commented on #21
Okay, I checked, we can get to know the aspectRatio of the Media that is loaded with which we can set the exact width and height of the MediaView, i will add this in the next version i hope

[2020-04-29 15:37] paddy57 commented on #21
You mean to check type of child mediaView , if its imageView then to get its height, Somethign like this
[code]

[2020-04-29 16:21] paddy57 commented on #21
I think it can be done like this

Inside RNNativeWrapper.java

after ad loads, we can access image height and send it as param
so we can get them in callback onUnifiedNativeAdLoaded
` args.putInt("imageHeight", nativeAd.getMediaContent().getMainImage().getIntrinsicHeight());
`

Console log
[code]
what say ?

[2020-04-29 17:21] ammarahm-ed commented on #21
I think this would be unnecessary, all we need to do is know the aspectRatio of the mediaContent of the nativeAd and send it to React Native. then use that to set the width and height of MediaView because it will work for both image and video. The above method is good but sometimes the MediaView will load a video add, then this will not work.

[2020-04-29 17:26] paddy57 commented on #21
Yeah, it will not work if we get video, do let me know if you find solution to get aspectRatio of mediaContent and send to RN ✌🏻

[2020-04-29 17:54] ammarahm-ed commented on #21
@paddy57 I found the solution, I will add it in the next release

[2020-04-29 18:37] ammarahm-ed commented on #19
@anastely @Dev-AS1  It is working for me here properly, If you want to fill the whole screen, you need to add a media view etc and set your components inside the Modal accordingly...

[2020-04-29 18:42] anastely commented on #19
@ammarahm-ed  Do you have a media view in this lib?

[2020-04-29 19:14] ammarahm-ed commented on #19
Yea check the docs @anastely , You have to design your ad accordingly, the design in example is for a simple banner ad.

[2020-04-30 05:11] ammarahm-ed commented on #21
I have added this, check the new version.

[2020-04-30 05:11] #21 closed

[2020-04-30 09:05] beingtarkeshwar opened #22 "not working with expo"
hey,
I have been looking for such a library for long time.
so, first of all thanks for your great work.

issue is this library is not working with expo.
will you explain how can we use it in expo app.

[2020-04-30 15:37] ammarahm-ed commented on #22
We have added no support for expo. Read the expo docs to know how to eject your project to use Native Modules. Expo does not allow usage of Native Modules Unless you have ejected your project.

[2020-05-03 08:01] sufyan297 opened #23 "[Bug] Few Ads are not clickable in List"
Hello @ammarahm-ed ,

I am displaying Ads in List, now all ads are displaying correctly. But the problem is few ads are not clickable and it is acting weirdly like first Ad displayed is not clickable then second Ad is clickable then 3rd is not clickable and so on idk what's happening

I have made an separate Repository, Please have a look into it.
https://github.com/sufyan297/react-native-test-nat

[2020-05-03 09:21] ammarahm-ed commented on #23
@sufyan297 I will test this and see. However there should only one ad in the list at one time. You should add the ads to the list dynamically as the user scrolls.

[2020-05-03 09:57] ammarahm-ed commented on #23
I am fixing this issue hopefully

[2020-05-03 10:52] ammarahm-ed commented on #23
This has been fixed in 0.2.8, please update and open the issue if you face the problem.

[2020-05-03 10:52] #23 closed

[2020-05-03 12:01] sufyan297 commented on #23
@ammarahm-ed It affects the performance, the app becomes laggy now.

v0.2.8
https://photos.app.goo.gl/KVHBzKFP9jujXXdb7

v0.2.2
https://photos.app.goo.gl/PdcahPHZoyDsiAQ48

[2020-05-03 12:12] ammarahm-ed commented on #23
@sufyan297 The implementation has changed as compared to v0.2.2 earlier. The issue with performance is noticeable and it has been reported before. It occurs when more than one ad is rendered on the same screen. The only solution for this at the moment is to make sure there is only one ad rendered in your list at one time, like updating the list dynamically to show the ad where the user stops. I am

[2020-05-03 12:59] ammarahm-ed commented on #23
@sufyan297 I have found the culprit, will update to 0.2.9 soon with fix for this rendering issue

[2020-05-03 13:14] sufyan297 commented on #23
@ammarahm-ed Thank you so much man, You Rock 👍

[2020-05-03 13:49] ammarahm-ed commented on #16
@urunky @paddy57 this has been fixed, will come in 0.2.9 release. I am closing this issue now

[2020-05-03 13:49] #16 closed

[2020-05-03 15:10] ammarahm-ed commented on #23
@sufyan297 It has been fixed, also you don't need to use `delayAdLoading` prop anymore I think.

[2020-05-05 10:29] perrosnk opened #24 "European User Consent"
Under the Google EU User Consent Policy, you must make certain disclosures to your users in the European Economic Area (EEA) and obtain their consent to use cookies or other local storage, where legally required, and to use personal data (such as AdID) to serve ads. This policy reflects the requirements of the EU ePrivacy Directive and the General Data Protection Regulation (GDPR).

React-native-f

[2020-05-05 11:18] ammarahm-ed commented on #24
I think you could use something like this here: https://www.npmjs.com/package/react-native-ad-consent

[2020-05-06 00:16] enaluz opened #25 "Override Pressing Action"
Awesome work on this library @ammarahm-ed! I was looking for a library just like this one recently, and this was super convenient. I can think of a bunch of other features that would be great additions. I'm happy to help where I can.

**My Ask:**
I'm trying to override the link redirect that happens when the `<NativeAdView/>` component is pressed (assuming this component is responsible for handlin

[2020-05-06 07:57] ammarahm-ed commented on #25
@enaluz That is a great idea and would have been very convenient for the user however I have found no way to control where the ad will open since all the click events etc on the ad are handled by the `UnifiedNativeAdView`. And even if in some way we could do that, the other problem would be that the clicks won't be registered by Admob server so we are kind of stuck here. However I will check If it

[2020-05-08 01:14] shekharskamble commented on #14
@ammarahm-ed I tried above method but did not work :( be it test ids or my ad id, only media view is not loading, am I missing something?
![20200508_090915](https://user-images.githubusercontent.com/8002785/81359622-3ac75b00-910c-11ea-882f-7db83b283621.png)

[2020-05-08 19:37] iamsubhaa commented on #15
After add you have mentioned lines in build.gradle app force closed

[2020-05-08 19:38] iamsubhaa commented on #15
Check about it

[2020-05-09 06:47] ammarahm-ed commented on #14
@shekharskamble this should not happen, are you on the latest version? And you are facing this issue on android or iOS? Set a width and height for mediaView and also give it a background color to see if it is there or or not when the ad loads

[2020-05-09 06:49] ammarahm-ed commented on #15
@iamsubhaa The problem you are facing is not due to this library but something else is causing the issue. You are still facing the same problem?  Try the example App by cloning this project and report the issue there.

[2020-05-09 06:50] ammarahm-ed commented on #15
@iamsubhaa update to the latest version of the library first.

[2020-05-09 06:51] ammarahm-ed commented on #14
@shekharskamble clone this repo and try the example app, see if the problem is there in example app too.

[2020-05-09 06:53] iamsubhaa commented on #15
Example app run awesome but myapp not work
React-native 0.62.0
Gradle 7.0

[2020-05-09 17:07] ammarahm-ed commented on #15
@iamsubhaa I don't think the issue is related to this library.

[2020-05-15 12:45] codervss opened #26 "Get Website Url on onUnifiedNativeAdLoaded"
I really loved what you have made till now.
Just one Question:
Is there any way i can get the Website url when the ad is loaded?

Actually i am having my own viewComponent, so i kind of need the url.
Would be great if i could get that

[2020-05-15 13:00] #26 closed

[2020-05-19 23:57] perrosnk opened #27 "Android setup"
Do we need to complete all the steps mentioned in the Android setup [guide](developers.google.com/admob/android/quick-start) or just add the AdMob App ID to AndroidManifest.xml?

[2020-05-21 13:01] ammarahm-ed commented on #27
Just add App ID to Android Manifest.xml

[2020-05-21 15:27] #27 closed

[2020-05-22 07:07] JosephCon1998 opened #28 "Android styling not working on v0.2.9"
I'm having a problem of android not rendering the children of NativeAdView properly. I saw an older issue that had the same problem and it said was fixed in v0.2.4, but I'm still getting the issue. Any help?

![Screen Shot 2020-05-22 at 3 03 23 AM](https://user-images.githubusercontent.com/17093807/82640849-51c07f80-9bd9-11ea-9897-4160749b3b8f.png)

The left is iOS 13.4.1 and the right is API 29 f

[2020-05-22 20:05] ammarahm-ed commented on #28
@JosephCon1998 can you reproduce this in the example??

[2020-05-24 04:28] JosephCon1998 commented on #28
@ammarahm-ed I ran the example and it did work as expected. I'm pretty confused. I tried to create a whole new project see if it worked but now my android simulator keeps crashing :/ I'm gonna do some more testing and see if I find anything.

Here's a list of my dependencies in case you notice something about one of them that is causing the issue.

![Uploading Screen Shot 2020-05-24 at 12.27.34 AM

[2020-05-24 14:37] mjlabe opened #29 "D8: Cannot fit requested classes in a single dex file (# methods: 72226 > 65536)"
Getting the following error with Android:

D8: Cannot fit requested classes in a single dex file (# methods: 72226 > 65536)

[2020-05-24 15:39] #29 closed

[2020-05-24 21:44] ammarahm-ed commented on #28
@JosephCon1998 Nothing seems strange here. Its a strange issue you are facing. Try creating ad in a different screen in your app maybe... does it always render incorrectly? have you tried the example with your own design for ad?

[2020-05-25 11:13] aleluiah opened #30 "Hi, am getting an error that says invariant violation View config not found for name mediaview"
Hi, thanks for the great project, but am getting an error that says invariant violation iew config not found for name mediaview and Nativeadview.
![IMG_20200525_115518](https://user-images.githubusercontent.com/65899491/82807988-e4cf1300-9e80-11ea-8f29-2b2e72c79dd7.jpg)

[2020-05-25 14:09] shekharskamble commented on #14
@ammarahm-ed thank you so much for your reply. example app and my app-ids are working on ios but for android its still the same issue. tried changing background color and its applies. if I just enabled image ads from google ad-mob console its working there is an issue with video ads for android. I think its not from this repo.
Great work! thank you so much for putting this together.

[2020-05-25 14:40] JosephCon1998 commented on #28
@ammarahm-ed I ran the example again and the example you gave works fine. Then I copy and pasted my code into the example and its giving the same problem I had on my app. Here's a pic of the simulators with my code copy and pasted into your project.

![Screen Shot 2020-05-25 at 10 36 04 AM](https://user-images.githubusercontent.com/17093807/82822426-c44c8c00-9e73-11ea-9b64-4772218f0ea3.png)

Here'

[2020-05-25 15:40] aleluiah commented on #30
am running this from an ejected expo project

[2020-05-25 17:16] aleluiah commented on #30
![IMG_20200525_151121](https://user-images.githubusercontent.com/65899491/82831737-25df1b80-9eb1-11ea-8c7c-9ef03711d79f.jpg)

[2020-05-26 19:13] ammarahm-ed commented on #30
https://docs.expo.io/expokit/expokit/#changing-native-dependencies

Have you followed this guide to link your project properly?

The error is showing because Its unable to detect he native components

[2020-05-26 19:27] ammarahm-ed commented on #28
I will take a look, still it is strange.

[2020-05-26 19:48] ammarahm-ed commented on #28
Okay, I fixed it. Firstly I don't get why you were using `flexDirection` on `NativeAdView`. It does not work well with the custom native components. Here is how I fixed it. I basically wrapped all of it in a `View` as you can see and add the `styles` to it.

[code]

[2020-05-27 18:48] Gio1378 opened #31 "error when I try to launch the example with react-native run-android"
error Failed to install the app. Make sure you have the Android development environment set up: https://reactnative.dev/docs/environment-setup. Run CLI with --verbose flag for more details.
Error: spawn ./gradlew ENOENT
    at Process.ChildProcess._handle.onexit (internal/child_process.js:264:19)
    at onErrorNT (internal/child_process.js:456:16)
    at processTicksAndRejections (internal/process

[2020-05-28 16:56] #28 closed

[2020-05-28 16:57] #25 closed

[2020-05-28 16:57] #22 closed

[2020-05-28 16:58] ammarahm-ed commented on #31
@Gio1378 give executable & read/write permission to ./gradlew file in android folder of the example

[2020-05-29 01:45] pperron opened #32 "ANDROID: error: { message: 'The ad request was successful, but no ad was returned due to lack of ad inventory.'"
Hi,
just installed your demo app on ANDROID and get this when the app finish loading (it triggers the 'onAdFailedToLoad'):
``error:` { message: 'The ad request was successful, but no ad was returned due to lack of ad inventory.'``

I was using your lib in my project and had that problem, so I downloaded your demo app to verify what I was doing wrong, but get the same problem on the demo app too...

[2020-05-29 02:10] pperron commented on #32
Just did an other test and installed the demo app on the Android emulator (Pixel 2 API 25 x86 running Android 7.1.1) and has the same result. For the real device, I'm using a Samsung Galaxy Tab A 2019 tablet, so Android OS is recent...

[2020-05-30 20:11] ammarahm-ed commented on #32
@pperron did you test the demo app? I have no such issue in the demo app. Try it out there. The lack of inventory error occurs due to server not returning the ads, its not related to this library. You can clear the build folders etc and try again, remove the app from your phone/emulator then install fresh.

[2020-05-30 20:11] #31 closed

[2020-05-30 21:04] pperron commented on #32
Hi,
yes I was using the demo app for my testing. Tested the IOS version on my Iphone 11 and was working OK, stopped and restarted the app and get the ad displayed each time. Right now I'M trying to compile my project with your lib for IOS, getting some errors, will finish make it work and see if integrated to my project it is working OK.

After that will come back to Android to see if still have t

[2020-05-31 06:42] Gio1378 commented on #31
Build was done successfully, 🙂

[2020-06-02 09:27] hannesschmidt commented on #24
I don't think that this will be enough. Even though you can get the consent and update the status accordingly, there is currently no way of forwarding the status of consent to this library, so that the actual ad request receives the status.

Could you implement a simple personalized/non-personalized prop to the NativeAdView component? I think this can easily be achieved by simply adding a URL para

[2020-06-02 15:21] perrosnk commented on #32
@pperron Have you found any solution?

I am having the same problem.

[2020-06-02 16:47] pperron commented on #32
@perrosnk I have been testing on IOS to see if I have same problem. So far I tested the example app and it was working OK. Then waisted long time to make my project (that in using in part the lib but was not the cause of me having problems to compile) compile for IOS. When I succedded, the ads were displaying OK too. Working again on that tonight, will see if I have time to get back to the Android

[2020-06-03 04:17] ammarahm-ed commented on #24
@hannesschmidt that could be done possibly, I will look into it very soon

[2020-06-03 21:58] albertocubero commented on #32
I using only Android and I have Admob configured:
- React Native 0.61.5 version like the example
- Always removing the App in the simulator and removing the build folder in android folder.

I did 2 tests (in simulator, mac)
- using my Admob configuration:
        - In my app: NOT show Ads
        - In Example app: YES, show Ads
- using the example Admod configuration:
        - In my app: NOT show

[2020-06-03 22:06] rogerkerse commented on #18
I had the same issue but for me updating `react-native-gesture-handler` to the same version as this libraries package.json refers to worked (1.6.1)

[2020-06-05 18:36] perrosnk opened #33 "[Network Mediation] Logging impressions on FB audience network"
I have followed the Google's [guide](https://developers.google.com/admob/android/mediation/facebook) to integrate Facebook Audience Network.

I am receiving ads from fb but no impressions or clicks are logged when the ads appear on a Flatlist.

According to [this](https://developers.google.com/admob/android/mediation/facebook#impression_and_click_tracking) the FB Audience SDK is responsible for re

[2020-06-07 01:50] perrosnk opened #34 "[Network Mediation][Android] Multiple things do not work"
When using FB audience, `onUnifiedNativeAdLoaded` is never called. No children Views work apart from MediaView.

The issue appear on Android. On iOS everything works fine. Tested on both simulator and real devices.

[2020-06-07 10:05] perrosnk opened #35 "Enable donations"
I find this library so useful that I would be happy to donate for supporting the project because it's really useful for me. I also believe that is is very much needed by the community too as it is the only project in react-native that supports native ads.

[2020-06-07 23:30] rogerkerse commented on #28
I have exactly the same issue with flexDirection row that everything is covered by the call to action button, i try more, but thus far wrapping everything inside another view doesn't seem to work

[2020-06-08 00:08] rogerkerse opened #36 "Android style is broken with call to action button covering everything"
I am on the latest library.
This is what I get
![image](https://user-images.githubusercontent.com/571171/83983193-0b875200-a935-11ea-8dab-b461e64988e7.png)
but when I remove some line in code for style, hit save, re-add the line and hit save, it shows exactly like on iOS:
![image](https://user-images.githubusercontent.com/571171/83983215-340f4c00-a935-11ea-917c-484759758d8c.png)

Tried adding anot

[2020-06-08 08:00] rogerkerse opened #37 "Could this tiny "i" in the corner be styled?"
![image](https://user-images.githubusercontent.com/571171/84006367-45794800-a977-11ea-8123-51b7bf32d0bc.png)
Is it possible to style this? or move it around?

[2020-06-08 22:37] perrosnk commented on #33
I would like to present some more findings:

1. Impressions on Android devices are logged correctly comparing the report from Google and Facebook
2. Impressions on iOS devices probably are not logged correctly. Facebook reports 1/3 of Google's reported impressions

[2020-06-09 01:02] ammarahm-ed commented on #37
Right now its not possible, hopefully i will add it in the next release.

[2020-06-09 01:06] ammarahm-ed commented on #36
Do not add flexbox styling to the `NativeAdView`. See the example app to notice what you are doing wrong. `NativeAdView` should only have `backgroundColor` & `width` or `height` properties. Add another `View` inside the `NativeAdView` and put your flexbox styling to that.

[2020-06-09 01:09] ammarahm-ed commented on #35
I will add funding.xml soon. Thank you!

[2020-06-09 01:11] ammarahm-ed commented on #34
I do not understand the issue, kindly explain it more. How are you using FB audience, I have no experience with this right now

[2020-06-09 01:14] ammarahm-ed commented on #33
implementation is exactly the same on both platforms, have you tried the `onAdImpression` event to see if it is being called etc?

[2020-06-09 08:52] perrosnk commented on #34
@ammarahm-ed
I am using FB audience as a mediation network on Admob.
I have followed all the [instructions](https://developers.google.com/admob/android/mediation/facebook) to add FB SDK and use it in order to show ads both from Admob and FB through this library.

All children Views are empty/blank (on Android) apart from MediaView.
When I use testMode, the Views do work and show some text.

This o

[2020-06-09 12:40] codervss commented on #34
onUnifiedNativeAdLoaded just does not get called most of the times on Android.
Works fine on IOS.
But issue still prevails for Android.
I tested on Test ads, and get the same issue

[2020-06-09 15:29] perrosnk commented on #34
I was trying to use `onUnifiedNativeAdLoaded` in order to access the ad's assets in order to replace the children Views that aren't working.

`onAdLoaded` is triggered correctly both on iOS and Android.

[2020-06-09 17:41] harshal2030 opened #38 "Ad impressions and clicks"
Hi! I am experiencing a strange issue. onImpression is called when user click ads and return back from the link and onClick is not called when user click ads

[2020-06-10 05:56] codervss commented on #34
I too am in the same situation.
I needed the ad data to make the ad design according to the requirement.
onAdLoaded is called every time but there seems to be an issue with onUnifiedNativeAdLoaded.
It is not working most of the times in Android

[2020-06-10 23:57] rogerkerse commented on #36
There is weird anomaly  in the library that when the inner view doesn't have a background color, then layout on Android goes haywire. You can just replace the App.js file in the example project with this and see it yourself (i modified the example a bit to be left to right kind of ad).

[code]

[2020-06-11 14:31] iamshrikantjha opened #39 "Ad not showing."
Hi,
I have installed the library as per instructions. But the ad view is showing a purple block only. I tried to swap ids but the result is same

![ads](https://user-images.githubusercontent.com/22591983/84398889-1d5f4280-ac1e-11ea-810d-4fe0194d1fdb.jpeg)

Here I just need some advice am I doing it right. Or what's wrong with it.

[2020-06-11 20:39] ammarahm-ed commented on #39
Try the example app and reproduce the issue.

[2020-06-11 20:42] ammarahm-ed commented on #38
When the ad is rendered on the screen, `onImpression` is not called until the user starts interacting, clicking stuff or scrolling, then the `onImpression` is registered. `onClick` usually works. Do you see the ads clicked etc in your AdMob console?

[2020-06-11 20:45] ammarahm-ed commented on #36
I will test this

[2020-06-11 21:03] ammarahm-ed commented on #32
@albertocubero delete your app from the phone/clean build folders. Thats the only way I have fixed it ever. in android folder run `./gradlew clean` and run build again

[2020-06-11 21:10] ammarahm-ed commented on #34
@codervss what do you mean `most of the times`? do you get the event sometimes and sometimes you don't? Also if `onAdLoaded` is called, it means that the ad is loaded properly, but for some reason is `onUnifiedAdLoaded` is not called, this is probably due to something causing an `exception` on Android which prevents `onUnifiedAdLoaded` to be called.

How you can help me, run `adb logcat` , run you

[2020-06-11 21:12] perrosnk commented on #34
I was reading again the [docs](https://developers.google.com/admob/android/mediation/facebook#using_native_ads) and I noticed that "some Facebook native ad assets don't map one to one to Google native ad assets".

Could this be the reason?

[2020-06-11 21:31] ammarahm-ed commented on #35
I have added FUNDING.yml file, you can see the sponsor button now

[2020-06-11 21:31] #35 closed

[2020-06-11 21:37] perrosnk commented on #34
@ammarahm-ed I am getting this from the logcat:

[code]

[2020-06-11 22:07] ammarahm-ed commented on #34
Okay, so it is unable to get information from video controller. Can you provide an example app with this? it would be helpful to fix this quickly

[2020-06-11 22:37] perrosnk commented on #34
I am not sure how I can do that. This doesn't happen with test ads

[2020-06-11 22:40] ammarahm-ed commented on #34
maybe use this: [facebook ad testing](https://developers.facebook.com/docs/audience-network/testing)

[2020-06-11 22:42] ammarahm-ed commented on #34
I doesn't matter, facebook ad network does not expose its media assets like images etc. It loads them only into the MediaView.

[2020-06-11 22:58] ammarahm-ed commented on #34
If you are unable to provide such an, I will probably look into it myself to see where it is happening and why but if you can, it would save a ton of time.

[2020-06-11 23:28] ammarahm-ed commented on #34
Are the events such as onAdImpression and onAdClicked called or not? Because I think you have to manually log it back to the FacebookAdapter so it is logged on Facebook Audience Network too.

[2020-06-11 23:29] ammarahm-ed commented on #34
And @codervss  can you update us on whether you are getting the event sometimes and sometime no event? And usually when you get the event, is the content of the ad a video or image/slideshow etc??

[2020-06-12 06:56] harshal2030 commented on #38
I am working with test ID for now for testing. yeah, onImpression get called while scrolling but onClick doesn't get called when ad get clicked

[2020-06-12 09:45] perrosnk commented on #34
Hello @ammarahm-ed and thank you so much for your interest.
The majority of impressions and clicks are logged on Android - I cannot confirm that ALL clicks and impressions are logged. On iOS it seems that no clicks are logged and about 1/3 of impressions are logged. As a side note, my ads appear within a Flatlist.

I have been trying to find a way to build an example app, but I don't understand ho

[2020-06-12 09:55] ammarahm-ed commented on #34
Was this an issue on react-native-fb-ads too? But i think there, no impressions or clicks are logged inside the list on both android and ios. Do we need to log the impressions and clicks manually? Like have you checked if the `onAdImpression` or `onAdClicked` event is being called on android? Its available in the NativeAdView,

[2020-06-12 10:03] perrosnk commented on #34
Yes, on `react-native-fb-ads` no clicks or impressions were logged on both ios and android.

I am going to test your other questions now and revert back in a while.

[2020-06-12 10:24] perrosnk commented on #34
@ammarahm-ed
On iOS with testAds: Both clicks and impressions are logged.
On Android with testAds: Both clicks and impressions are logged

The problem is with real ads on devices:
I see a discrepancy in the number of ads impressions and clicks reported by Admob and FB.

Anyway, I believe this is a seperate issue that's why I have opened [this](https://github.com/ammarahm-ed/react-native-admob-nati

[2020-06-12 10:29] perrosnk commented on #33
As a side note, logging impressions and clicks with test ads seems to work fine, but this might be because this event (as far as I understand) is triggered by Admob and not FB SDK.
It might be that the FB SDK is not triggering those events and so are not logged as impressions and clicks on the FB account

[2020-06-12 10:41] ammarahm-ed commented on #34
The views are blank always or sometimes?

[2020-06-12 10:42] perrosnk commented on #34
Always

[2020-06-12 10:44] perrosnk commented on #34
@ammarahm-ed
On Android: the ad loads, MediaView is populated / All other Views are blank / onUnifiedNativeAdLoaded is not called
On iOS it works fine

[2020-06-12 10:46] ammarahm-ed commented on #34
How are you showing test ads in debug mode on android & iOS with facebook Mediation?

[2020-06-12 10:46] ammarahm-ed commented on #34
I think I will need to setup facebook mediation to fix this properly

[2020-06-12 10:55] perrosnk commented on #34
I don't know exactly. I believe that is because if you set eCPM of Facebook quite high, it will get a higher priority and show ads from FB

[2020-06-12 10:59] ammarahm-ed commented on #34
I have a problem, i cant claim an app on facebook monetization network, it says your business is prohibited. What if you can make a test property on facebook ads and put it in an example? can that work for you? and a test app on admob network which you can delete later?

[2020-06-12 12:31] perrosnk commented on #34
@ammarahm-ed I am really worried to publicly expose a property because I don't know if that could affect my other properties. Do you have any idea if that is true?

[2020-06-12 12:33] ammarahm-ed commented on #34
You can send it to me privately if not here on github on my email, the example so I can fix the bug and push the code here with the fix. And i dont think it will effect other properties. You can delete or disable it once we have fixed the issue.

[2020-06-12 17:58] perrosnk commented on #34
@ammarahm-ed sent you an email

[2020-06-13 23:43] KVinS commented on #39
I have the same problem...

[2020-06-13 23:58] ammarahm-ed commented on #39
Are you using your own ad ids? If so, wait for a day or two and the ads will start showing. If your app is not published on playstore, when you publish it and it goes live. Ads will start showing. This error is not related to this library but admob server.

[2020-06-14 00:00] ammarahm-ed commented on #39
For testing/development purposes please use the test ad & test app id from the admob website.

[2020-06-14 00:15] KVinS commented on #24
This option is very important for applications from Google Family.

[2020-06-14 00:46] KVinS commented on #39
I am aware of this problem and therefore used these id =\
https://developers.google.com/admob/android/test-ads

[2020-06-14 01:16] ammarahm-ed commented on #39
Did you run the example? Is it the same in the example app?

[2020-06-14 01:22] KVinS commented on #39
Lol It seems that this is my network firewall that blocked access to the admob.
Nonetheless:
- Video ads still not working
- Slightly strange component behavior if ads are not loaded
![2020-06-14_04-18-41](https://user-images.githubusercontent.com/3009807/84582603-b21c9880-adf6-11ea-9785-3715a52793eb.png)

[2020-06-14 06:54] iamshrikantjha commented on #39
Hi @KVinS how did you fixed the "network firewall" issue I am using Ubuntu and running application on real device.

[2020-06-14 08:15] ammarahm-ed commented on #39
@KVinS video ads will work when you use native-advanced-video ids. You should use `MediaView`. It will automatically load video or image based on the Ad type. You can hide the ad component from the view when ads failed to load sometimes.

[2020-06-14 18:43] KVinS commented on #39
@iamshrikantjha
I went to the router and disabled ad blocking through dns.

@ammarahm-ed, I understand this in theory. In the main example, a large square is responsible for this. However, the result is only a “simple” advertisement.
I could not get the video. = ( Can you provide a small ONLY video ad code that works for you?

[2020-06-15 01:21] ammarahm-ed commented on #39
@KVinS The same code works for me. Video ads work out of the box. You just have to use native-advanced video ad ids.

[2020-06-15 01:22] ammarahm-ed commented on #34
I will look into this very soon!!

[2020-06-15 01:31] KVinS commented on #39
I use it (
'ca-app-pub-3940256099942544/1044960115'

`[Mon Jun 15 2020 04:28:57.460]  LOG      {"error": {"message": "Internal error, an invalid response was received from the ad server."}}`

[code]

[2020-06-15 02:38] ammarahm-ed commented on #24
This will be added in the next release

[2020-06-15 02:40] ammarahm-ed commented on #39
@KVinS No you don't. The video should play anyways. The error means that the server is not sending the ads for some reason. nothing wrong with the library. check your firewall etc or something. Use a VPN app and it will work. Your network is blocking requests still

[2020-06-15 02:52] ammarahm-ed commented on #34
@perrosnk do you have anydesk/teamviewer installed? I am unable to access my admob account for some reason. I can maybe fix it on your system if possible.

[2020-06-15 02:54] KVinS commented on #39
And how does a user navigate through advertising without an interaction element?

[2020-06-15 03:12] ammarahm-ed commented on #34
Also I would suggest doing this: https://developers.facebook.com/docs/audience-network/android-network-security-config

[2020-06-15 03:46] ammarahm-ed commented on #34
https://github.com/ammarahm-ed/react-native-admob-native-ads/tree/fb-audience-fix

use this branch in your app. I think the issue with `onUnifiedNativeAdLoaded` not being called is fixed. Test and report back.

[2020-06-15 06:47] ammarahm-ed commented on #39
@KVinS I meant it is not necessary to show the button, ads work anyways. Also pressing on the icon/text etc also opens the ad and is registered as ad click.  But yea it should be added.

[2020-06-15 22:38] rogerkerse commented on #36
Can't this library add default transparent colors as a workaround so it is less likely to pop up again?

[2020-06-16 18:52] ammarahm-ed commented on #36
It will in the next version @rogerkerse

[2020-06-16 22:20] amin79 commented on #15
@iamsubhaa I have same problem. Did you find any solution? As soon as I install the library, without doing anything, my App crashes.

Build is successful but I got the message: Deprecated Gradle features were used in this build, making it incompatible with Gradle 7.0.

"react-native": "0.62.2",
classpath("com.android.tools.build:gradle:3.6.3")

I also added this line in build.gradle: implementatio

[2020-06-17 04:29] ammarahm-ed commented on #34
Any updates on this @perrosnk

[2020-06-18 20:42] perrosnk commented on #34
@ammarahm-ed Sorry for the delay. Unfortunately it still is the same. It doesn't work

[2020-06-19 02:10] KVinS commented on #39
It's work on real device (not emulator)
But crop video and with frame. Can i set auto size?
![Screenshot_2020-06-19-05-07-51-744_com howtodraw](https://user-images.githubusercontent.com/3009807/85089355-24242180-b1eb-11ea-8927-a711e49aac39.jpg)

[2020-06-19 03:00] ammarahm-ed commented on #34
Can you share the logcat report?

[2020-06-19 04:14] ammarahm-ed commented on #39
@KVinS Yes you can, use the aspectRatio value returned in `onUnifiedNativeAdLoaded`. Check the example app, it is demonstrated there how to auto size the MediaView etc.

[2020-06-19 04:41] perrosnk commented on #34
[code]

[2020-06-19 07:39] ammarahm-ed commented on #34
Aha seems like one of the error is gone but the other one is still
persisting. can we do a session on Anydesk or Teamviewer? It will be easier
to fix this

On Fri, Jun 19, 2020 at 9:41 AM perrosnk <notifications@github.com> wrote:

[2020-06-19 16:40] edoofx opened #41 "Force Close Fresh Install"
i have 2 new projects with 0.62.2 and 0.61.5, both results is force close.

- npx react-native init abc
- install react-native-admob-native-ads --save
- add AndroidManifest
- npx react-native run-android ( force close before starting splashscreen )

am i missing something?

[2020-06-19 17:50] ammarahm-ed commented on #34
@perrosnk update me on this when you are free. Its a small bug, wont take much time hopefully

[2020-06-20 01:10] KVinS commented on #37
@ammarahm-ed  Many would have had just the choice of color design.
Light / Dark / Gray
I understand that this icon should stand out and just want a white background instead of gray.

[2020-06-20 04:03] ammarahm-ed commented on #37
It has no background, why is it black? For me it is always white.. Maybe you have added some color etc to main app theme on native side??

[2020-06-20 13:25] KVinS commented on #37
I'm talking about the background "i"

[2020-06-20 15:11] ammarahm-ed commented on #37
It cannot be changed, it is an image recieved from admob server.

[2020-06-20 15:12] ammarahm-ed commented on #41
add Admob App IDs to your AndroidManifest.xml and info.plist on iOS respectively

[2020-06-22 06:37] perrosnk commented on #34
@ammarahm-ed I have replied to your email

[2020-06-22 06:56] ammarahm-ed commented on #34
@perrosnk just checked and replied back

[2020-06-23 05:41] prasanthsd commented on #39
We are testing with test ads and on some android devices native ads are having issues and on other devices it works great. Anyone else having similar experience?

[2020-06-24 05:18] prasanthsd commented on #34
We are using everything default and onUnifiedNativeAdLoaded is never called on some android devices and on some others it gets called. We are testing with the test ads.

[2020-06-25 11:45] andresd opened #42 "Can't use with typescript"
When I want to use a NativeAdView in a component inside a tsx file, I get the error: "'NativeAdView' cannot be used as a JSX component". if I convert the tsx to js then it works fine.

[2020-06-25 11:51] andresd commented on #42
same error also in jsx files...

[2020-06-25 23:23] KVinS commented on #39
@ammarahm-ed  I launched the application today and it again stopped displaying ads :D
(Simple banner)
Was there some kind of update or something?

[2020-06-26 05:54] prasanthsd commented on #39
Google sometime wont have the icon with the ad. This isn't handled by the lib that was our issue with native ads.

[2020-06-26 12:11] KVinS commented on #39
The action button works. The load event is raised.
But there is no text and image.
![2020-06-26_15-11-12](https://user-images.githubusercontent.com/3009807/85855711-5fac8600-b7bf-11ea-8be7-4013d84d3715.png)

[2020-06-26 13:38] dan-lee commented on #41
I'm experiencing the same. Not sure if too helpful but my ADB logs say:

[code]

[2020-06-26 15:54] ammarahm-ed commented on #41
The log you have sent does not say anything about this library. Run yarn, clean build folders etc and check your project. Seems above that flipper is causing the crash.

[2020-06-26 16:20] dan-lee commented on #41
Yeah I also noticed that, but that's the only thing that changes when I install this library. Just wanted to add this information

[2020-06-26 16:22] ammarahm-ed commented on #34
@prasanthsd @perrosnk Can you test the `fb-audience-fix` branch now to see if it is working properly.

[code]

[2020-06-26 16:22] ammarahm-ed commented on #42
No idea how to fix it since i only use .js files in my projects. You can look at the `index.d.ts` file and see what might be the issue. The components are not written in typescript, I have only added a declaration file which works well with javascript. No idea about typescript. If you know how to fix, PR is welcome

[2020-06-26 20:12] ammarahm-ed commented on #41
@dan-lee share details about your React Native version / react version & if you are using hermes or JSC. You can also check the example app to see what you might be missing.

[2020-06-26 20:16] ammarahm-ed commented on #39
Check if you are getting ´onUnifiedNativeAdLoaded´ event called with the ad data or not. Also run adb logcat to see if there is any error exception reports logged?

[2020-06-26 20:29] KVinS commented on #39
Update - in the sense that "every minute an advertising update is replaced."
[code]

I get an event "onAdLoaded".  I can click on the button and go to the site.
But no information is displayed.

[2020-06-28 11:29] ammarahm-ed commented on #39
Try the example app and see if you can find the issue there also?

[2020-06-28 12:50] KVinS commented on #39
Can you send apk to me, please?

[2020-06-28 13:24] ammarahm-ed commented on #39
You can clone this project and run the example from the example folder.

[2020-06-28 20:11] KVinS commented on #39
This is difficult for me to do. I installed NPM for only one project.

[2020-06-29 13:16] halaei opened #44 "testDevices should not be a prop"
As described in https://developers.google.com/admob/android/test-ads, the process of setting test device ids can be done only once, and after that all the ads, no matter if native, or banner, or other types, will be test ads. However, in this package the NativeAdView components have a testDevices prop, with the default of empty array. So I need to set the prop everywhere in the code I need an ad,

[2020-06-30 09:01] viveKing21 opened #46 "its not working"
after install this library
i'm not able to run app on android [react-native run-android]
` Task :app:mergeDexDebug FAILED`

showing this can anyone please help me

[2020-06-30 14:15] techday84 opened #47 "white space when it doesn't return ads"
Hi, I have tried the library and the ads appear with my id correctly, but sometimes when it doesn't return an ad it render a blank space with the same widht and height that the ad. How could I make sure that if there is no ad, it doesn't render that space?  Thanks in advance.

[2020-07-01 04:25] ammarahm-ed commented on #47
Use the events on the view to handle cases where ad is not returned, and hide the NativeAd using state.

[2020-07-01 04:25] #47 closed

[2020-07-01 04:26] ammarahm-ed commented on #46
Please share the complete log & tell what is your react-native version.

[2020-07-01 04:28] ammarahm-ed commented on #44
I think we can do it with a Native Module already present in the project and loading our configuration on app start. I will add this in the next release in a few days.

[2020-07-01 11:11] techday84 commented on #47
Hi, I try to do this, but If the ads doesn't show, it render a white  space
and when it occours never pass into onAdFailedToLoad event.

El mié., 1 jul. 2020 a las 6:25, Ammar Ahmed (<notifications@github.com>)
escribió:

[2020-07-01 11:25] perrosnk commented on #34
@ammarahm-ed No, it's not working. Same issues

[2020-07-02 04:00] ammarahm-ed commented on #34
@perrosnk maybe we need to sit again on anydesk to fix this properly. Actually some part of the code was disabled, we need it for Admob ads, i think it is throwing exception there.

[2020-07-02 09:00] sayem314 commented on #46
#### Enable Multidex

Open the `android/app/build.gradle` file. Under `dependencies` we need to add the module, and then enable it within the `defaultConfig`:

[code]

Once added, rebuild your application:
[code]

[2020-07-03 09:00] dev-yakuza opened #48 "[Android] ImageView is working, but MediaView is not working."
Fist, Thanks for making a great library!

I have an issue to display `MediaView` on Android. If I use `MediaView` on Android, the image or video is not shown up.
However, If I use `ImageView`, the image is shown up.

I don't have any trouble with iOS.

I used the code below with `styled-componets`.

[code]

[2020-07-05 03:02] ammarahm-ed commented on #48
Compare your implementation with the example project to see where you might me going wrong.

[2020-07-06 00:19] dev-yakuza commented on #48
Thanks for replying! 🙇‍♂️

I will test again with no test mode!

[2020-07-06 02:13] KVinS commented on #39
@ammarahm-ed Can you send an apk example with a test id?

[2020-07-06 02:41] ammarahm-ed commented on #39
Use the ´delayAdLoading´ prop instead and see if it works for you.  Also compare your code with the example app.

[2020-07-06 03:59] KVinS commented on #39
I have tried it.
`delayAdloading={1000 + id * 1000}`

[2020-07-06 09:13] ammarahm-ed commented on #44
This has been implemented for **v0.3.0**

[2020-07-06 09:13] #44 closed

[2020-07-06 09:13] ammarahm-ed commented on #41
closing due to inactivity

[2020-07-06 09:13] #41 closed

[2020-07-06 09:14] ammarahm-ed commented on #37
closing. the customization that was possible has been added for **v0.3.0**

[2020-07-06 09:14] #37 closed

[2020-07-06 09:15] ammarahm-ed commented on #36
fixed in for **v0.3.0**

[2020-07-06 09:15] #36 closed

[2020-07-06 09:15] #32 closed

[2020-07-06 09:15] #19 closed

[2020-07-06 09:16] ammarahm-ed commented on #24
this is added for **v0.3.0**

[2020-07-06 09:16] #24 closed

[2020-07-06 09:19] #46 closed

[2020-07-06 10:40] ammarahm-ed commented on #39
Its ´delayAdLoading´ actually, not ´delayAdloading. The documentation has a bug.

[2020-07-06 12:25] halaei commented on #44
@ammarahm-ed Thank. But I guess you haven't yet remove testDevices prop. The default value is an empty array which cancels out any previous calls to setRequestConfiguration.
If you like to keep the prop, maybe setting the default to null instead of an empty array and not calling setRequestConfiguration when prop is null can help.

[2020-07-06 12:27] halaei commented on #44
https://github.com/ammarahm-ed/react-native-admob-native-ads/blob/c78aaeae8262e4640765365c37dc0426b1dc2355/src/index.js#L126

[2020-07-06 12:54] KVinS commented on #39
Did not help.

[2020-07-06 12:56] ammarahm-ed commented on #39
See if you can reproduce the issue in the example since I do not see it in the example app and also update to the latest version 0.3.0 just published today

[2020-07-06 14:05] ammarahm-ed commented on #34
Release a new version `v0.3.1` today. test it and if you still face the same problem, share  Log from Logcat.

[2020-07-06 18:16] KVinS commented on #39
I liked the previous version more...
![2020-07-06_21-10-34](https://user-images.githubusercontent.com/3009807/86625554-e9cdc900-bfcd-11ea-8e9f-e8cfa1c998a7.png)

[2020-07-08 10:45] paddy57 commented on #16
@ammarahm-ed can you tell me how did you inform the frame rate?

[2020-07-08 10:47] ammarahm-ed commented on #16
The issue was relatef to a Hack that i was using to make sure views were rendered properly but I realized it was doing more bad than good. You can update to the latest release.

[2020-07-09 03:44] #48 closed

[2020-07-09 03:49] ammarahm-ed commented on #39
@KVinS clone this project and run the example app.

[2020-07-09 08:21] ammarahm-ed commented on #39
Try the latest release 0.3.3

[2020-07-11 02:45] aleluiah commented on #30
thanks bro, resolved the issue on bare react native project without using expo

[2020-07-11 02:48] aleluiah opened #49 "does admob require adBadge for video ads"
hi, please does google admob native ads require adBadge for video ads

[2020-07-12 04:00] ammarahm-ed commented on #49
I think it does.

[2020-07-13 03:53] #49 closed

[2020-07-13 03:53] ammarahm-ed commented on #42
Fix in version **v0.3.5**

[2020-07-13 03:53] #42 closed

[2020-07-13 03:54] ammarahm-ed commented on #38
This is fixed in **v.0.3.5**

[2020-07-13 03:54] #38 closed

[2020-07-13 03:55] ammarahm-ed commented on #30
I am closing this

[2020-07-13 03:55] #30 closed

[2020-07-13 03:57] harshal2030 commented on #38
okk, thanks for this awesome package

[2020-07-13 11:23] bhavikgajera92 commented on #39
Hi @ammarahm-ed

I am using this package to show native advanced video ads. In iOS it is showing perfectly fine but in the android It is throwing this kind of error. (Screenshot attached here with.) I am here using the test app Id and test unit Ids provided by Google Ad Mob.

    Android App Id : ca-app-pub-3940256099942544~3347511713
    androidAdUnitCode: 'ca-app-pub-3940256099942544/1044960115'

[2020-07-13 13:18] ammarahm-ed commented on #39
@bhavikgajera92 you are seeing this error because ad is not recieved from the server.   Try to use a vpn app etc or something to be sure your network or phone etc are not blocking it. Also be sure you use Android test Ad Ids to show ads on android. The issue is not related to this lib. Also delete your app from phone. Clear build folders and run again.

Try the Example app to see if you are seeing

[2020-07-14 06:33] bhavikgajera92 commented on #39
Hi @ammarahm-ed
I have checked with VPN also ads are not loading and I tried the Test Ad Ids as well. For the iOS it is working perfectly well for the same internet but for android it is not. Attaching the screenshot for iOS.
<img width="1008" alt="Screenshot 2020-07-14 at 11 58 19 AM 8" src="https://user-images.githubusercontent.com/5483578/87392224-c4dae680-c5c9-11ea-83c6-1f634fc1c774.png">

And

[2020-07-14 08:45] ammarahm-ed commented on #39
No there are no extra settings. The ad should be returned. Try to run the Example App from the project.

[2020-07-14 10:31] bhavikgajera92 commented on #39
Hi @ammarahm-ed

Yes I tried to run Example Project and for Native_Ad_Id I am getting the ads. Attaching the screenshot here with. Perfectly fine in Android as well.
<img width="1222" alt="Screenshot 2020-07-14 at 3 55 07 PM" src="https://user-images.githubusercontent.com/5483578/87415333-98839200-c5ea-11ea-93e4-07ffe9b65d63.png">

But for NATIVE_AD_VIDEO_ID I am not able to see any video ads. For

[2020-07-14 10:32] ammarahm-ed commented on #39
Server is not returnings ads. Not an issue with this lib.

[2020-07-15 12:40] KVinS commented on #39
@bhavikgajera92, Welcome to the club.
Video ads for me only work on a real device.

@ammarahm-ed Hi. Have you added a parameter pass for the [GDPR](https://developers.google.com/admob/android/eu-consent?hl=ru)?

[code]

[2020-07-15 12:42] ammarahm-ed commented on #39
Yes added. After getting the consent, pass true or false and rest is handled

[2020-07-15 12:43] ammarahm-ed commented on #39
Check the docs. There is a prop to pass consent for EU users.

[2020-07-15 12:46] KVinS commented on #39
Thank! In which version did you add requestNonPersonalizedAdsOnly?
You can slightly update the description. Now there is the same California Consumer Privacy Act (CCPA) and The Brazillian LGPD (Lei Geral de Proteção de Dados).

[2020-07-15 12:52] ammarahm-ed commented on #39
After **v0.3.1** but update to the latest version to save yourself from bugs in older version.

[2020-07-15 14:02] joshuadiezmo commented on #39
I also encounter this problem. any updates on this?

[2020-07-15 14:59] bhavikgajera92 commented on #39
@KVinS what is this piece of code about ?

[2020-07-15 15:04] KVinS commented on #39
This is for the [GPDR](https://developers.google.com/admob/android/eu-consent).

[2020-07-15 18:24] KVinS commented on #39
@ammarahm-ed
I upgraded to the latest version
(0.3.5)
Now the first ad is showing.
But instead of the second emptiness.
The third is shown again.

[2020-07-16 00:28] yusufsancakk opened #51 "Ads not showing on feed"
I am trying to make 3 news and 1 advertising cycle in FlatList, but it gets broken when I put 2 ads in a row. Only 1 ad is working properly

**if i render 1 ad item:**
<a href="https://ibb.co/FBLCh9m"><img src="https://i.ibb.co/brMD6xQ/Screenshot-1594859169.png" alt="Screenshot-1594859169" border="0"></a>
**if i render 2 ad item: (overlaps and empty)**
<a href="https://ibb.co/JjvF75r"><img src="ht

[2020-07-18 16:46] karakusnavy commented on #51
can you try map() funct ?

[2020-07-18 16:49] yusufsancakk commented on #51
Can you share a small sample? For Ads or For Data? I ask because; I am doing Array Map operation with FlatList

[2020-07-18 16:58] karakusnavy commented on #51
You can use it for Ads and Data.

`arrayList.map(item=>

i % 3 == 0 ?
 <Ads />
:
<YourRender />

)`

[2020-07-18 16:59] karakusnavy commented on #51
You can use it for Data and Ads.

[code]

[2020-07-18 17:15] yusufsancakk commented on #51
I understood that, but I did not understand its use in FlatList. It may be for ScrollView, but there are performance issues.

[2020-07-18 17:20] karakusnavy commented on #51
< Flatlist data={this.state.data}
        keyExtractor={(item) => item.id}
        renderItem={({item}) => (
          item.id % 3 == 0  ?
          < Ads / >
         :
          < RenderItem/>
        )}
      />`

[2020-07-18 17:57] yusufsancakk commented on #51
I tried what you said but it is impossible to create more than one at the same time :/ .

[2020-07-18 22:46] Nox04 commented on #51
Hey @yusufsancakk !

I have been facing the same issue in latest versions. I have found a way to solve that problem, it's not the most optimal way, but it's at least rendering multiple ads in a similar scenario.

The trick for me was delaying the rendering of the NativeAdView component itself.

[code]
And then you can render the component passing the delay value which indicates how many seconds th

[2020-07-18 23:41] yusufsancakk commented on #51
Thank you for answering.  @Nox04
I am testing the solution right away, but I have a question in my mind: When we do infinite scroll, doesn't it load the 100th object in hundreds of seconds?

[2020-07-18 23:52] Nox04 commented on #51
@yusufsancakk

In that case, you can render the components as you go down. Also, you can delay every new render changing the useInterval value. It doesn't matter how long you delay the rendering 1 second or 100 ms.

[2020-07-19 03:53] ammarahm-ed commented on #39
@KVinS  Please share Logcat so we can fix the error

[2020-07-19 03:57] ammarahm-ed commented on #51
When working with lists, please use `delayAdLoading` prop and delay each ad load incrementally. `delayAdLoading={500 * index}`. This will fix the issue hopefully.

[2020-07-19 04:51] ammarahm-ed opened #54 "Ensure each NativeAdView Registers its own Event Listener"

[2020-07-19 04:52] Nox04 commented on #51
@ammarahm-ed I tried that before, but the ads weren't rendering. The onUnifiedNativeAdLoaded event was triggered successfully for every component, but the ad wasn't appearing. Not even the empty layout.

[2020-07-19 04:59] ammarahm-ed commented on #51
Its happening because the same NativeAdView is called on every event call. Usually the last one in the list. @Nox04 I am still looking at how to fix this.

[2020-07-19 11:19] yusufsancakk commented on #51
Others may disappear even if the last one appears. Sometimes ads load but UI does not show up. I think I will use Banner ads until the problem is resolved

[2020-07-21 06:58] ammarahm-ed commented on #51
@yusufsancakk the solution provided above appears to work, I still dont understand why it might be happening in the first place. @Nox04

[2020-07-22 09:43] yusufsancakk commented on #51
it is not working. because scroll is mixed and after seeing 3 items, the whole flow is broken. I think I will use banner ads to you review the codes again.

[2020-07-24 12:24] henrik-d commented on #54
@ammarahm-ed Does this address the problem, that _all_ instances of NativeAdView receive the `onUnifiedNativeAdLoaded` callback, when _any_ of the ads is loaded?

[2020-07-25 11:36] juandoplt opened #55 "[BUG] Tried to register two views with the same name"
I run into this bug, Tried to register two views with the same name  GestureHandlerRootView. Run crazy about it because nothing seemed to get rid of it.

Until i found in some forums that maybe there was two instances of 'react-native-gesture-handler'.

I ran find . -name react-native-gesture-handler, and i saw this.
[code]
![Screenshot_1595674358](https://user-images.githubusercontent.com/4550203

[2020-07-26 17:21] Arwantys commented on #55
Hi, I removed the node module react-native-gesture-handler installed in react-native-admob-native-ads and everything worked again.

[2020-07-28 09:12] paddy57 opened #56 "Can we have multiple instance of ads inside flat list ?"
I have a flat list, where I'm rendering three instance of ads on current, previous, and next items of a flat list.
Which is making my flatlist performance slow.
Is it ideal to have multiple instances of ads in list?

[2020-07-28 11:49] haresh4d commented on #8
How can I enable Pre Loading? because right now it is taking too long to display an ad.

[2020-07-30 13:41] techday84 commented on #51
Hi, I try to put the ads in a flatlist, always in the position 0 and 3. I don't know why sometimes prints the area of the ads in white. When it ocurs, it never pass by onAdFailedToLoad function.
someone with the same problem? I need that if the ads is a white space, doesn't print it. The white space has the same widht and height that the ads.  Thanks!

[2020-07-31 12:12] deepslam commented on #55
I have the same

[2020-07-31 17:42] Jean-Kenned commented on #56
I 'm having the same problem now, I have been tried to follow tips about FlatList performance like setting windowSize, maxToRenderPerBatch and removeClippedSubViews props, but the performance in FlatList is still slow. Furthermore, I already tried to use all the solution mentioned in #13413 but anything works effectively in this case. In fact, I noticed that decreasing the frequency that ads are s

[2020-08-01 16:11] deepslam opened #57 "MediaView and CallToActionView are not clickable"
Hello!

Thank you for the awesome package.
It works but in my case, MediaView and CallToActionView are not clickable.
I've copied a sample code but there is no action when I click on the image or action button.
Have I missed something or this is the bug?

Thank you!

--
Regards, Dmitry

[2020-08-04 14:47] cristea2017 commented on #56
you shoul try [https://github.com/Flipkart/recyclerlistview](url)
with this you can use multiple ads 100%

[2020-08-05 08:21] tlweiii6465 opened #58 "Can this package support React Native 0.55.4 ?"
Hi, im using react native 0.55.4, can this package support it?

[2020-08-10 05:51] samuely4ng commented on #56
@cristea2017 +1 to that. In general you shouldn't use FlatList (for anything) if recyclerlistview is an option.

[2020-08-10 10:42] bhavikgajera92 commented on #8
Hi @ammarahm-ed

At present when video ads are loading by default they are muted. How can we make them by default unmuted ?
Is there any way we can do it ?

Thanks

[2020-08-12 04:04] ammarahm-ed commented on #58
I haven't tested it with older versions, you can try and let me know. You will have to manually link the library.

[2020-08-12 04:05] ammarahm-ed commented on #57
Can you test this in the example app provided in the project? The views are clickable, also mention your react-native version.

[2020-08-12 04:10] ammarahm-ed commented on #56
@paddy57 @Jean-Kenned There must be something you are doing that is causing that, I have tested the ads in a FlatList by loading more than 100 ads at once. It was working perfectly, make sure you are on the latest version of this library when you test. Also you can try this in the example app inside this library. However I will test this again. @cristea2017 +1 to that too.

[2020-08-12 04:13] ammarahm-ed commented on #55
The error comes when you have two different versions of react-native-gesture-handler and one of them is already installed, clearing the node_modules folder fixes this, I will see if we can not add it to the dependancies

[2020-08-12 05:18] tlweiii6465 commented on #58
Thanks for your reply, can i have step of manually link to this package?

[2020-08-12 05:20] tlweiii6465 commented on #58
Thanks for your reply, can you let me know what is the step for manual link this package to library?

[2020-08-12 08:57] mrousavy commented on #9
@ammarahm-ed your approach by setting the Ads to a global instance and fetching those in your NativeAd View is not typical for native modules, is there a reason you're doing that instead of e.g. fetching an Ad which is literally a variable in JS (state) and then passing that in your JSX to the NativeAd view? Would make more sense to me and give more control over the Ads.

[code]

Or with a hook ap

[2020-08-12 15:33] paulbargaoanu commented on #51
Hi, @ammarahm-ed! Thanks for the work you've put into this.
I'm getting the same issue on an Android device. Every ad seems to render just fine on an iOS device, though. I've tried the suggested workarounds with the `delayAdLoading` prop, however nothing seems to change. I'm using a custom component which wraps the `NativeAdView` and styles the ads and I've even tried to 'manually' delay the rende

[2020-08-13 12:29] mrousavy commented on #57
@ammarahm-ed I've also noticed that `<CallToActionView>` is not clickable. The MediaView and ImageView shouldn't be clickable, as per Google's Admob's recommendations, but the CallToActionView ("Install"/"Open" button) definetly should. Other Text elements such as Title (`<HeadlineView>`) or Description (`<TaglineView>`).

Using React native 0.63.2, so the new Pressability API, but that shouldn't

[2020-08-14 08:04] mrousavy commented on #57
Also, sometimes the elements are clickable, sometimes not.
Here's an example:

<table>
<tr>
<th>Clickable</th>
<th>Not clickable</th>
</tr>
<tr>
<td><img src="https://user-images.githubusercontent.com/15199031/90227652-369a9000-de15-11ea-910d-da9f8855a663.gif"></td>
<td><img src="https://user-images.githubusercontent.com/15199031/90227634-2f738200-de15-11ea-8a52-bcaff461410a.gif"></td>
</tr>
</tab

[2020-08-16 12:19] olkunmustafa opened #61 "requireNativeComponent "RNGADNativeView" was not found in the UIManager erro"
Whenever I tried to use this library throws error below
"**requireNativeComponent "RNGADNativeView" was not found in the UIManager**"

The versions are like below
"react": "16.8.3",
"react-native": "0.59.9",
"react-native-admob": "^2.0.0-beta.6",
"react-native-admob-native-ads": "^0.3.5",
"react-native-gesture-handler": "1.6.1"

I am not using expo. That is bare react native project.

![Simulator

[2020-08-17 04:39] bhavikgajera92 commented on #8
Hi @ammarahm-ed

At present when video ads are loading by default they are muted. How can we make them by default unmuted ?
Is there any way we can do it ?

Thanks

[2020-08-20 04:00] ammarahm-ed commented on #61
Link the project manually.

[2020-08-20 04:04] ammarahm-ed commented on #57
Try to use `delayAdLoading` prop to delay ad loading by 1000 ms

[2020-08-20 04:16] ammarahm-ed commented on #8
@haresh4d  preloading has not been implemented yet. @bhavikgajera92 You will have to fork and modify the native code to do that. Right not it is not supported by the library.

[2020-08-20 04:20] ammarahm-ed commented on #9
@mrousavy We are using React Context because we need the native ad information in all the child views that the user of library will add. Using context makes it simple to pass that information around in state and update it dynamically.

[2020-08-20 11:11] mrousavy commented on #9
@ammarahm-ed what native ad information are we talking about here?

[2020-08-21 00:01] ammarahm-ed commented on #9
Everything from text to images.

On Thu, Aug 20, 2020, 4:12 PM Marc Rousavy <notifications@github.com> wrote:

[2020-08-21 17:58] pk936 opened #62 "App does not open."
I installled it.

Then ran react native run android, an issue occurrred said the limit of 64 k is reached and thus build failed.

I fixed it by

[code]

In AndroidManifest.xml

[code]

Buid created. Started the server, but now the app does not open says App Has Stopped.

[2020-08-21 19:21] RodolfoGS opened #63 "Create CHANGELOG.md file"
Hi guys, thank you so much for create this awesome library. Please considere create a CHANGELOG.md file to keep tracking and know what is new and what change in each version. This is a good practice and it's easy to mantain.

Again, thank you so much for this awesome library! 🎉

[2020-08-22 04:29] #63 closed, assigned to nobody

[2020-08-22 07:39] #62 closed, assigned to nobody

[2020-08-25 11:11] manuhook commented on #57
Hi @ammarahm-ed, thanks so much for your work.
I'm still having the issue on v0.3.6. iOS and Android (RN 62.3). CallToActionView is not firing anything when pressed.
I'm using the same code as AdView.js in Example with a delay.

[2020-08-25 17:21] manuhook commented on #57
I've tried to build the Example and it's fine...
I really have no idea what can provoque this conflict.
I'm using :
- React Native 62.3
- React Native Navigation 6.12
- React Native Firebase 8.3 (for Admob banners)

if you have any idea ... thanks !

[2020-08-25 19:47] manuhook commented on #57
On CallToActionView.js, replacing **RawButton** and **GestureHandlerRootView** by **View** made it work on iOS but not on Android.

[2020-08-28 07:27] henrik-d opened #64 "Support MediaAspectRatio"
I have an image in my native ad. I would prefer to get landscape images only, because the ads become very large otherwise.

Could you add support for [setMediaAspectRatio()](https://developers.google.com/admob/android/native/options)?

[2020-08-28 08:55] neocative opened #66 "Faded rectangle in CallToActionView button on Android, when rendering ads with react-native-snap-carousel"
Hello!

Thank you for this awesome library.

I am trying to use this with [react-native-snap-carousel](https://github.com/archriss/react-native-snap-carousel) to render the native ads as a carousel. Now, on iOS it works perfectly fine, but on Android, it has a faded square under the text when rendering the `CallToActionView` button.

**Version:** 0.3.6

### iOS
All good here

![iOS](https://user-i

[2020-08-28 16:33] haresh4d commented on #8
@ammarahm-ed I have used this library in my few apps. Actually I am getting below 50% impressions for ad requests. Yesterday the number of ad request was 1000 and impressions were only 200. Whats the problem?

[2020-08-29 03:17] huyhai opened #67 "ads overlap sometime"
![Screenshot_20200829-101245_2](https://user-images.githubusercontent.com/10529783/91627287-a2b5f000-e9e0-11ea-8b80-fda10b14cd58.png)
i put native ads inside Flatlist, sometime this happen. Cannot reproduce for now

[2020-08-30 12:56] jaeyoonlim opened #68 "Can't perform a React state update on an unmounted component"
Thank you for your nice module.
I want to suggest idea that check NativeAdView is mounted before update ad

**ISSUE**

Can't refresh ad in FlatList

[code]

**IDEA**

[code]

Like this.
If is it okay, I will write pull request.
Thank you!

[2020-08-31 09:33] mrousavy commented on #68
If the `updateAd` function is called before the component is mounted, then that update gets lost, no?

[2020-08-31 10:25] mrousavy commented on #64
I second this! Only need square ads in my case

[2020-08-31 10:33] jaeyoonlim commented on #68
@mrousavy Right,
If NativeAdView is in FlatList as a item, Can't update ad.

[2020-08-31 10:42] mrousavy commented on #68
We could implement a small queue-like system, where the ad first gets set as a normal property (like `useRef`) and then `componentDidMount` reads that ref and sets it to state. If the ad gets updated **after** the component gets mounted, it just writes directly to the state.

[2020-08-31 12:00] mrousavy opened #71 "Ads not loading! Possibility to add async loader?"
Hi!

The ads are really slow on load times, and sometimes don't load at all! So my box appears blank.

The problem only is, I cannot hide my ads until they are loaded. I have to display an ugly white box which is empty for some time. I would really appreciate a somewhat not declarative way of loading ads, so instead of just rendering a `<NativeAd` in JSX, I would like a function I can call, like t

[2020-08-31 12:02] mrousavy commented on #71
With the second approach, we can still use the React Context you were talking about in https://github.com/ammarahm-ed/react-native-admob-native-ads/issues/9#issuecomment-677016109 and just let it use the ad we supply via the `<NativeAd ad=` property.

[2020-08-31 15:33] jaeyoonlim commented on #68
This bug is not about that,
Can't update ad when ```NativeAdView``` is **unmounted** in ```FlatList```, not the first mount.

[2020-09-01 06:38] Niveditha29 opened #73 "MediaView with video doesn't play on load in Android"
Thank you for this great package.

This is the code used to render video ad.

` <NativeAdView
        onAdLoaded={_onAdLoaded}
        onAdFailedToLoad={_onAdFailedToLoad}
        onAdLeftApplication={() => {
          console.log('ad has left the application');
        }}
        onAdClicked={_onAdClicked}
        onAdImpression={_onAdImpression}
        onUnifiedNativeAdLoaded={_onUnifiedNativeA

[2020-09-02 20:31] neghani opened #74 "Deprecated Gradle features were used in this build, making it incompatible with Gradle 7.0."
Deps
`"jetifier": "^1.6.6",
    "moment": "^2.27.0",
    "react": "16.13.1",
    "react-native": "0.63.2",
    "react-native-admob-native-ads": "^0.3.6",
    "react-native-files-share": "^0.1.3",
    "react-native-fs": "^2.16.6",
    "react-native-inappbrowser-reborn": "^3.4.0",
    "react-native-loader": "^1.3.1",
    "react-native-modal-animated": "^0.0.2",
    "react-native-modalbox": "^2.0.0",

[2020-09-02 20:47] neghani commented on #74
Some How the below  solution worked for me in debug mode, fingers crossed for production:

https://stackoverflow.com/questions/48249633/errorcannot-fit-requested-classes-in-a-single-dex-file-try-supplying-a-main-dex

[2020-09-03 10:43] #74 closed

[2020-09-03 10:44] neghani opened #75 "CallToActionView button not working need to check"

[2020-09-03 14:15] manuhook commented on #75
Do you use react-native-navigation ?

[2020-09-06 05:44] ammarahm-ed commented on #75
Provide some information?

[2020-09-06 05:45] ammarahm-ed commented on #73
Wrap it in a ScrollView. See the example app. Video plays when an interaction is detected, usually that does not happen in the React Native Views.

[2020-09-06 06:06] ammarahm-ed commented on #71
The only way to properly fix the issue is implementing Ad Preloading in native code. Let's say we get 5 ads on app load, where ever you navigate or move, ads are always present for x amount of time. The feature is partially implemented on Android in a separate branch. [ad-preloading-patch](https://github.com/ammarahm-ed/react-native-admob-native-ads/blob/ad-preloading-patch) It still loads the ad

[2020-09-06 06:15] ammarahm-ed commented on #64
That could be added!

[2020-09-06 06:18] ammarahm-ed commented on #66
Something in the carousel is causing the non-active screen elements to be transparent on Android which is causing this issue. remove elevation and this will go away.

[2020-09-06 06:18] #58 closed

[2020-09-06 06:22] ammarahm-ed commented on #8
@haresh4d  Because the user moves away from the screen many times in your app when ad is loaded. Lets say I go to Home, ad is loading, I tap on another screen and go there.

Or maybe in a List, you load ads after every 10 items, now the ads are loaded but impressions are not recorded so there are more requests and less impressions.

You need to optimize this yourself.

[2020-09-06 06:23] ammarahm-ed commented on #67
delay the ad loading, check the example app.

[2020-09-06 06:46] huyhai commented on #67
yes it's work, thank you, close for now

[2020-09-06 06:46] #67 closed

[2020-09-06 12:21] #68 closed

[2020-09-07 11:11] ammarahm-ed commented on #71
On Preloading ads: This will also fix the issue of low impressions and high number of ad requests since it is highly likely that the user might navigate away from the screen before the ad is shown(but is loaded till then) hence impressions are not recorded. @mrousavy

[2020-09-08 18:27] urunky commented on #75
In my case, I haved fixed the version of 'react-native-gesture-handler' '**1.6.1'**. not '^1.6.1' in package.json.
and  then, delete package-lock.json and node-modules directories
reinstall all node-modules
CallToActionView works again.

[2020-09-09 06:53] neocative commented on #66
Hello @ammarahm-ed

Thanks for the tip. Removing the elevation did not work, but setting it to 0 worked.

Given that the problem seems to arise from `CallToActionView`, is this something that should be fixed?

[2020-09-10 13:43] bhavikgajera92 commented on #71
Good Morning @ammarahm-ed

When I tried to run the native video ads. By default it is coming muted. In Android we fixed it but in iOS we are not able to find it. Can you please tell us what is the possible workaround for that ?

I tried by editing in RNGADNativeView.m
[GADMobileAds sharedInstance].applicationMuted = No
But it returned with error: property ‘applicationMuted’ not found on object of

[2020-09-11 08:13] bhavikgajera92 commented on #73
Hi @ammarahm-ed
Thank you for this awesome package.

I have checked example app code regarding the above issue @Niveditha29 posted. I do have same kind of issue in my App as well. If I run the app on broadband internet connection then upon slight scroll the video starts to play/sometimes autoplay as well. But If I run the app on mobile internet then upon slight scroll or phone rotate it does not p

[2020-09-11 13:10] kabus202 commented on #75
same for me, not working   "react-native-gesture-handler": "^1.8.0",

but the any other click in the ad is working just fine

[2020-09-12 10:35] bartzy opened #76 "Using this library alongside React Native Firebase for other ad formats"
Thank you for this awesome library!

I was wondering if it's possible to use both this library and React Native Firebase (https://rnfirebase.io/admob/usage) in the following way:
1. Show Interstitial, Banner & Rewarded Video ads by using React Native Firebase
2. Show Native ads from react-native-admob-native-ads.

Will that include two versions of the AdMob SDK in the binary? Will it interrupt any

[2020-09-12 17:25] bartzy commented on #8
@ammarahm-ed Do you have an update regarding preloading? The library works great but without a way to preload - it currently takes 2-3 seconds to load an ad which makes it problematic for most of our usecases.

Thanks!

[2020-09-14 07:04] neghani commented on #75
Sorry for late in reply, I had to drop the framework from my project, because mutliple compnent(from other frameworks) regrstration were duplicated.

The issue was with my code, so closing with this commment

[2020-09-14 07:04] #75 closed

[2020-09-14 09:03] dylancom opened #77 "Suggestion: integrate with Appodeal"
Appodeal is a mediation network which has a React Native package: https://github.com/appodeal/react-native-appodeal
Currently most ad formats are available to React Native, except for "Native Ads".

I'm not sure how reusable the code in this package is but this would have the potential to easily display Native ads from many networks: "Admob, AppLovin, BidMachine, Facebook, Flurry, InMobi, MyTarget

[2020-09-19 06:36] viveKing21 opened #78 "Itss affecting app's performance"
before using this library, app was working perfectly and smooth no lags, after placing this ad on my home screen drawer started shuttering and scrolls too.
is there any solution????

[2020-09-20 02:11] JoonJoon123 commented on #78
Hi @viveKing21

I was facing the same issue, but I found a way to have smooth 60fps scrolling on my app.
What I did was put all ui views into a flatlist. The flatlist usually does it's magic by itself for 60fps smooth scrolling but in the case of using native ads, either Facebook native ads or admob native ads is to **set windowsize to 3 or 4**.

If the user scrolls too quickly, they might get bla

[2020-09-20 04:24] viveKing21 commented on #78
[code]
like this???
I think it's better than before (can't say)
but drawer still lagging
i dont have much content to scroll too much
actually app isnt lagging badly but still i want to make it smooth as before it was, when app loaded and native ad's banner shows (i'm using only onenative ad's banner for each screen)
then app started lagging for a sec and sometime drawer dosent work smoothly not on

[2020-09-21 17:33] pedro-tentaculo commented on #76
Hi @bartzy I also have the same question. Can you tell me if you have tried to setup both libraries in the same project yet?

[2020-09-22 07:23] ammarahm-ed commented on #76
@bartzy They will work together

[2020-09-23 03:37] magneutron opened #79 "[Flatlist] always request when scorlling"
After embed ads into flatlist, when I scrolling the flatlist, it would re-render ads , request again and again.
Any method to prevent that problem to pervent duplicate request?

[2020-09-23 14:49] gabriel-tentaculo opened #80 "Example install problem: No such property: username for class: java.lang.String"
When running yarn android to test on emulator I get the following error:

[code]

Any idea what that could be and how to fix it if it's something on my side?

[2020-09-25 03:20] fatzhou opened #81 "IDFA will be unavailable by default on iOS 14"
Starting in iOS 14, IDFA will be unavailable by default, until the app calls the  App Tracking Transparency  framework to present the app-tracking authorization request to the end user. If an app does not present this request, the IDFA will automatically be zeroed out.

Can you add support for such case? Thanks!

[2020-09-25 03:37] ammarahm-ed commented on #81
You can use this library, [react-native-permissions](https://github.com/zoontek/react-native-permissions/releases/tag/2.2.0l) to request for the permission on App Launch. @fatzhou

[2020-09-25 03:39] ammarahm-ed commented on #79
@magneutron no way to stop it yet I think. We need to implement ad-preloading on native code to fix this issue.

[2020-09-25 03:41] ammarahm-ed commented on #78
Check your code and refactor it so that flatlist is rerendered only when it actually needs to. Same for the flatlist items. Maybe user Recyclerlistview

[2020-09-25 03:48] ammarahm-ed opened #82 "Implement Ad Preloading - Postponed"
Initially when I made this library I worked on ad-preloading for sometime but left it off due to other bugs and rendering issues. But it seems that without ad-preloading the library is not as useful as it should be. A simple example is user staying on a screen for 3 to 4 seconds, If you want to show that ad, it takes 2 to 3 seconds to show and sometimes it is missed which means less impressions an

[2020-09-25 03:51] ammarahm-ed commented on #77
Great idea, Currently we are stuck of FB-Mediation, some bug I tried to fix but still lingering around. I dont have admob account to check what is causing the issue. If we are able to fix that, we can put support for more networks.

[2020-09-25 03:52] ammarahm-ed commented on #8
closing this issue, opened a new one.

[2020-09-25 03:52] #8 closed

[2020-09-25 03:52] #81 closed

[2020-09-25 03:54] #76 closed

[2020-09-25 03:56] ammarahm-ed commented on #66
@neocative yes probably. Maybe it is the react-native-gesture-handler library causing the problem.

[2020-09-25 04:00] ammarahm-ed commented on #9
closing this issue

[2020-09-25 04:00] #9 closed

[2020-09-25 04:16] magneutron commented on #79
This is a temporary solution
https://stackoverflow.com/questions/56921293/rendering-admob-banner-within-react-native-flatlist-items

[2020-09-25 04:20] ammarahm-ed commented on #79
@magneutron good workaround, I hope it is working for you. A proper solution will come soon.

[2020-09-26 20:46] aleluis777 commented on #80
the same problem

[2020-09-28 02:36] a26364177 commented on #80
+1

[2020-09-29 12:00] aminghorbankhani commented on #82
Dear Ammar Ahmed,

Thanks for your time and efforts in implementing such a great package. As we absolutely need this feature, I would appreciate it if you could give us an estimate of the time this task would take. Furthermore, is there any way to cooperate in order to get the work get done faster?

Thanks again for your consideration.

[2020-09-30 06:09] ammarahm-ed commented on #80
I cant reproduce this issue here. Have you tested on a real device? @aleluis777  @a26364177  and @gabriel-tentaculo

[2020-09-30 16:59] gabriel-tentaculo commented on #80
@ammarahm-ed I have not tested it on a real device. Will try it out and get back to you

[2020-10-01 06:59] neocative commented on #66
@ammarahm-ed Thanks! In the meantime setting `elevation` can be used as a workaround.

[2020-10-01 13:38] fahdlaouad opened #83 "Ionic admob"
How to use this plugin in angular ionic
can you help me

[2020-10-01 15:24] gabriel-tentaculo opened #84 "Please help me understand requirements for networks (FB and Verizon)"
Hello @ammarahm-ed ,
my goal using this library is to be able to show ads from facebook and verizon media through ADB being the mediator.

I have added the library into my project with no problem using the AdView file from the examples folder:
https://github.com/ammarahm-ed/react-native-admob-native-ads/blob/master/example/AdView.js

I have changed the ID to my own ids and test ads load fine on an

[2020-10-01 23:06] aleluiah opened #85 "How do i implement the ad with full size image"
please how do i implement the ads with full size image

[2020-10-02 22:08] kabus202 opened #86 "Building fails on simulator with Xcode12 with release scheme"
Some problems building with the release scheme on xcode12 simulator, on real device building is working fine.

`ld: in /Users/x/CoreApp/x/ios/Pods/GoogleAppMeasurement/Frameworks/GoogleAppMeasurement.framework/GoogleAppMeasurement(APMEExperiment_b2a748bf275090fe4fe9f58d85ea296b.o), building for iOS Simulator, but linking in object file built for iOS, file '/Users/x/CoreApp/x/ios/Pods/GoogleAppMeas

[2020-10-06 23:27] NiwotSmitty opened #87 "Unable to run example; missing Colors from src/utils.js"
Hi,

This looks like a great library, so I wanted to give it a try, but when I build/run the example app (iOS), as soon as it starts to run, I get the following errors on the (Javascript) console:

[code]

I assume the example library is a little out of date with the current master tip?  Can you either fix, or provide some guidance so I can move forward?

Thanks in advance for your assistance!

[2020-10-08 16:11] yaroslavnikiforov commented on #57
Hi, @ammarahm-ed thanks for the great package. Is there a way to make only the CallToActionView clickable? As according to the Google policies:

[https://support.google.com/admob/answer/6329638?ref_topic=7384666](https://support.google.com/admob/answer/6329638?ref_topic=7384666)

[2020-10-09 10:57] yaroslavnikiforov commented on #32
It loads on Android only ones after installing the app (use this unit id: ca-app-pub-3940256099942544/1044960115). After I have the same error. Only with this test native video unit id. If I delete the app and install it again it will load.

[2020-10-10 12:40] peteroid opened #88 "ImageView doesn't show the image when enableTestMode = true"
According to the implementation [1], should we change the following line?
[code]

[1]
https://github.com/ammarahm-ed/react-native-admob-native-ads/blob/04ebf80b0e290eb6f996f9056f63a4307a6fa6ac/src/ImageView.js#L25

[2020-10-10 16:04] yaroslavnikiforov commented on #73
I have the same issue. To start the video on Android need to trigger the scroll event (when connected to wifi). And with mobile internet need to press start button.

[2020-10-10 17:04] yaroslavnikiforov commented on #32
So this happens if you don't immediately render the ad components inside the NativeAdView, for example:
`
<NativeAdView>
   {isVisible && <MediaView />}
</NativeAdView>
`

[2020-10-15 15:16] pk936 commented on #61
I tried react-native link react-native-admob-native-ads. But it did not work.

[2020-10-17 17:46] skull6225 opened #89 "{"error": {"message": "Request Error: No ad to show."}, "target": 169} IOS"
Hi all. I have some problems showing ads on the iPhone. Ads does not show on ios devices. On emulator ios and android ads show on test mode! On Android devices, ads(no test mode) show normal. But if I open my proj on iphone(use lightning) onAdFailedToLoad show me next error:  **{"error": {"message": "Request Error: No ad to show."}, "target": 169}**
<img width="489" alt="image" src="https://user-i

[2020-10-19 23:42] sslava commented on #57
Fixed a couple of mistakes in the original implementation. Don't have enough time for proper PR at the moment, but here is what worked out for me:

[code]
Main things to notice:
- replaced createRef with useRef
- wrap onLayout with useCallback
- fixed useEffect deps.

[2020-10-24 05:02] for4neutron opened #90 "Tried to register two views with the same name MediaView"
Wen I install react-native-fbads, this error app appeared.
It look like both library use component call MediaView.

Using more than one ad network can help us achevie 100% fill rate.
Or would you consider support  admob Mediation? It is powerful function

[2020-10-28 14:43] ammarahm-ed commented on #82
I haven't got the time to work on it recently but I will very soon.

[2020-10-29 12:23] ammarahm-ed commented on #87
Hey there, I just fixed the example. You can try it out now.

[2020-10-29 12:23] #87 closed

[2020-10-29 12:28] ammarahm-ed commented on #88
fixed!

[2020-10-29 12:28] #88 closed

[2020-10-29 12:29] ammarahm-ed commented on #83
only react-native

[2020-10-29 12:29] #83 closed

[2020-10-31 04:04] ammarahm-ed commented on #89
reproduce in example app.

[2020-10-31 04:06] #85 closed

[2020-10-31 04:07] ammarahm-ed commented on #80
fixed

[2020-10-31 04:07] #80 closed

[2020-10-31 04:08] #78 closed

[2020-10-31 04:09] ammarahm-ed commented on #73
That is because ads have built in feature to save data on Mobile Data. Not an issue.

[2020-10-31 04:09] #73 closed

[2020-10-31 04:33] #66 closed

[2020-10-31 04:34] #71 closed

[2020-10-31 04:40] ammarahm-ed commented on #57
@sslava I have added these changes, I will test this out before next release

[2020-10-31 04:40] #57 closed

[2020-10-31 04:41] ammarahm-ed commented on #84
mediation is not supported at the moment

[2020-10-31 04:41] #84 closed

[2020-11-01 10:28] GeorgeBarlow commented on #86
Work around: make the following adjustments below in build settings.
<img width="372" alt="Screenshot 2020-11-01 at 10 23 59" src="https://user-images.githubusercontent.com/27292008/97800334-5d09e380-1c2c-11eb-856c-fbf33b7ab1dd.png">

**This is an issue with Xcode 12 ( credited source: https://stackoverflow.com/a/64139830 )**

[2020-11-03 11:21] gabriel-tentaculo commented on #84
Oh no, mediation with admob to show facebook and verizon ads are the only reason I need to implement this...
Is there something I can do to make it work by changing your library code somehow? Is there a workaround or another library you would recommend me using for this case?

[2020-11-09 07:15] ha-younes72 commented on #82
That's great to hear and thanks for your time, looking forward to the new release. Would you mind pushing the native android part in a branch that we can use it before the whole other parts are done, please?

[2020-11-12 05:34] aftabaminzoobiapps opened #93 "when the ad is not fully loaded and I navigate back from that screen it creates this warning, how to fix."
` Warning: Can't perform a React state update on an unmounted component. This is a no-op, but it indicates a memory leak in your application. To fix, cancel all subscriptions and asynchronous tasks in the componentWillUnmount method.
    in NativeAdView (at native_ad.js:28)
    in AdView (at gallery_twitter.js:21)
    in RCTView (at View.js:34)
    in View (at gallery_twitter.js:20)
    in RCTView

[2020-11-12 17:29] ammarahm-ed commented on #82
@ha-younes72 you will have to wait until release since there are many undocumented breaking changes in the next version.

[2020-11-16 10:43] laithfawwaz commented on #51
I'm still having the same issue of blank ad area, I'm using v0.3.6, and `delayAdLoading` prop

[2020-11-17 19:04] ammarahm-ed commented on #90
You can test facebook mediation and report back the issues you face.

[2020-11-17 19:05] #89 closed

[2020-11-17 19:05] #86 closed

[2020-11-17 19:05] ammarahm-ed commented on #93
fixed

[2020-11-17 19:05] #93 closed

[2020-11-17 19:08] ammarahm-ed commented on #84
You can test out mediation with the library and we can fix the issues we will face. Its possible to add mediation. Might work out of the box. Check #33 and #34 issues

[2020-11-17 19:10] ammarahm-ed commented on #51
@laithfawwaz try the latest release

[2020-11-17 19:10] #90 closed

[2020-11-17 21:04] gabriel-tentaculo commented on #84
Thanks for letting me know, this implementation was finished a few weeks ago but right now no mediation is being served as the partner networks are still being configured, but normal google ads are being displayed without problems.
As soon as mediation starts to be used I'll let you know if it works or not

[2020-11-18 06:33] vgo4autobot opened #96 "-[GADUnifiedNativeAd responseInfo]: unrecognized selector sent to instance 0x600003353950"
I run this lib on iOS, it will crash at this:
NSInvalidArgumentException: -[GADUnifiedNativeAd responseInfo]: unrecognized selector sent to instance 0x600003353950;

what is the problem?

XCode 11
React Native 0.63

[2020-11-18 22:54] yaroslavnikiforov opened #97 "Error: Unable to resolve module `./components/StarView` from `node_modules/react-native-admob-native-ads/src/StarRatingView.js`"
components folder is not present in the src directory for some reason when installing v.0.3.8.

<img width="1372" alt="Screenshot 2020-11-19 at 00 22 30" src="https://user-images.githubusercontent.com/42115630/99596102-65209c00-29fe-11eb-9a25-695b692e4e7e.png">

[2020-11-19 05:48] ammarahm-ed commented on #96
fixed on 0.3.9

[2020-11-19 05:48] #96 closed

[2020-11-19 05:48] ammarahm-ed commented on #97
fixed on 0.3.9

[2020-11-19 05:48] #97 closed

[2020-11-20 08:04] faz1993 opened #98 "Mediation instruction"
is there any instruction about how to enable mediation or implement other networks ?

[2020-11-21 04:32] ammarahm-ed commented on #98
Check Admob official docs and test out mediation.

[2020-11-21 04:32] #98 closed

[2020-11-21 16:57] azcodia opened #99 "Admanager not running"
why is the test device to show the test ad status false ??
solution please

[2020-11-23 10:00] aftabaminzoobiapps opened #101 "Issue on IOS"
Task orphaned for request <NSMutableURLRequest: 0x2823172d0> { URL: https://lh3.googleusercontent.com/proxy/yJ_uUcMQY24FSFbannE6KRnl56KleIuwFkrugKZAFEA5sZZtLuNd6oghQpme-KyzPXKmKKsey9KL7yLltqUPqhV8w1esX9TERZ0TDapMQ1bY7oymPpGWjj-jUmwQuKOJnpxJMpqMBCnSsX8aCd_BBEQ6zQQNo8y6pQxxKRG_OnhKOa6gTKxFhPTyXxbSgGWBFmJrjrm9-G_id6X7Kxe5wfVZxqhG=w128-h128-n-e7-l80-rj }

[2020-11-24 08:18] henrik-d commented on #64
@ammarahm-ed Any plans to support this soon?

[2020-11-24 09:00] ammarahm-ed commented on #101
Please provide a complete log

[2020-11-24 09:01] ammarahm-ed commented on #99
explain your issue.

[2020-11-24 09:16] ammarahm-ed commented on #64
@henrik-d will come in the next major release

[2020-11-24 10:27] azcodia commented on #99
i want to use
const config = {
  testDeviceIds: ["YOUR_TEST_DEVICE_ID"],
  maxAdContetRating: "MA",
  tagForChildDirectedTreatment: false,
  tagForUnderAgeConsent: false,
};

AdManager.setRequestConfiguration (config);

but when I check the debug status is false, how do I use it so I can use the Admob test, or this won't affect my ads,
please work it out, sorry my English is quite messy

[2020-11-30 16:55] ajoykarmakar opened #104 "Invariant Violation: requireNativeComponent: "MediaView" was not found in the UIManager."
After update to the latest version of this plugin. I am facing this error.

![image](https://user-images.githubusercontent.com/32778214/100639196-dfd0ac00-335a-11eb-9094-5d21ba14b95d.png)
![Screenshot_1606755301](https://user-images.githubusercontent.com/32778214/100639223-e8c17d80-335a-11eb-9159-cdc44cd3bd94.png)

[2020-12-01 05:38] ammarahm-ed commented on #104
clean your node_modules folder and clean android the build folders by running `./gradlew clean` inside `your_project/android/` folder.

[2020-12-04 05:04] aftabaminzoobiapps commented on #101
when ever I tried to load an add. and the image comes from http link then it is showing the warning.

[2020-12-06 11:34] viveKing21 opened #105 "Task :app:processDebugResources FAILED"
[code]

im getting this error after install this package, when im running this command 'react-native run-android'
im getting this issue with this version of react-native-admod-native-ads  (0.3.9)
but its woring on 0.3.6

[2020-12-06 11:41] yaroslavnikiforov opened #106 "Include video duration"
Is it possible to include video duration into the data that onUnifiedNativeAdLoaded accepts, to be able to show some progress bar depending on that time?

[2020-12-08 02:04] faz1993 commented on #105
same

[2020-12-08 09:25] aftabaminzoobiapps opened #107 "Memory Consumption in IoS"
I am using this library. and when I show ads on different screens then there is an issue. with navigation to a screen where there I am showing native ad the memory is increasing by 2MB. Here is my Code.
           `import React, {useState, useEffect, useRef} from 'react';
import { Platform, View, Image, Dimensions} from 'react-native';
import NativeAdView, {CallToActionView,HeadlineView,IconView,S

[2020-12-08 10:39] aftabaminzoobiapps commented on #107
for details please check the example file and memory usage. I am using iPhone 6 .

[2020-12-08 21:43] perrosnk commented on #79
I believe that another workaround is to wrap the Ad component with `React.memo`

[2020-12-12 15:20] Jean-Kenned opened #108 ""The ad request was successful, but no ad was returned due to lack of ad inventory" using test ID"
The last release always returns this error from ad mob server. It is very strange because the first release (v0.1.0) that I have been using for months do not show this error, and when I upgraded the lib to the last release this error suddenly appears, and I am using the same test ID. Any ideas? I already cleaned the android build and removed the node_modules but anything worked. Thanksss!

[2020-12-12 16:14] ajoykarmakar commented on #82
How is it progressing?

[2020-12-13 10:44] ammarahm-ed commented on #108
@Jean-Kenned Issue is not related to the library. Remove your app from android phone, remove all build folders in project/android and project/android/app folders too. Install it again and hopefully it will work. The error is just that admob server is not returning the ads. You can try the example app to test.

[2020-12-13 10:48] ammarahm-ed commented on #107
Please explain your issue in detail, does the app crash when showing alot of ads or is it that the ads are not cleared from memory, so you keep navigating and the memory keeps on increasing by 2 MB. Provide a simple example so I can debug this.

[2020-12-14 09:59] harshalpro224 opened #109 "Execution failed for task ':app:bundleReleaseResources'."
/home/admin12/Downloads/react-native-admob-native-ads-master/example/android/app/build/intermediates/bundle_manifest/release/processReleaseManifest/bundle-manifest/AndroidManifest.xml:13: AAPT: error: unexpected element <queries> found in <manifest>.

[2020-12-14 12:38] aftabaminzoobiapps commented on #107
as I explain in the issue. running the example in the Github repository has also this issue. ads are not cleaning from memory.

[2020-12-15 09:40] bartzy commented on #82
@ammarahm-ed As I understand, your plan is to prefetch some ads (5?) and store them for 5-10 minutes. When an ad is needed for display, you will just pick one ad from that cached list.
Will you remove the ad after picking it? Otherwise, it seems to me that it could be problematic from AdMob's side to show the same ad twice?

Thanks!

[2020-12-15 12:11] ha-younes72 commented on #82
@ammarahm-ed I have forked the project, and there is an Android implementation of the preloading. These are the details if you would mind: ([you can find the project here](https://github.com/ha-younes72/react-native-admob-native-ads/tree/ad-preload))

Here is a list of requirements we had in mind when working on this branch. It will be nice if you consider them as well:
1. We have a configuration

[2020-12-17 17:22] bartzy opened #110 "Ads keep refreshing even if they're in a screen that's not displaying"
Hi,

I see that ads keep getting refreshed even when they're in a screen that's currently in the navigation stack but not on top (several view controllers away even).

Am I doing something wrong? Otherwise, this seems very wasteful and problematic.

Thanks!

[2020-12-19 06:52] aftabaminzoobiapps commented on #107
Any updates for this.

[2020-12-25 20:29] b15h0y opened #111 "Production ads not showing but requests are being sent to google!"
Hello, I have been using this package for a week now in an android app. the test banners are working fine but in the production mode, no ads are showing. When I check my google admob account, I find that requests are being made successfully but they aren't showing in the app. Anyone facing this issue?

![image](https://user-images.githubusercontent.com/57562898/103141669-32a24700-4700-11eb-9828-29

[2020-12-26 17:03] patrickbattisti commented on #32
Same issue. It loads on Android only ones after installing the app, after I have the same error "The ad request was successful, but no ad was returned due to lack of ad inventory."

[2020-12-28 07:14] cokepizza commented on #64
I only need a four square (non-rectangular) ad.

https://developers.google.com/admob/android/native/options?hl=en
https://support.google.com/admanager/answer/7031536?hl=en

Looking at the guidelines for native ads, it seems that aspect ratio can be set to 1:1, but this library does not seem to provide such a function yet.

Maybe because I'm using the test unit id, it doesn't mean that there is a p

[2020-12-28 07:36] cokepizza opened #112 "Is there a way to get a square ad instead of a rectangle?"
https://support.google.com/admanager/answer/7031536?hl=en
https://developers.google.com/admob/android/native/options?hl=en

According to the guidelines, I can receive ads by setting native ads in a 1:1 ratio. I have to use the setMediaAspectRatio method in order to receive only ads that fit the 1:1 ratio, but there is no way to set this in the current library.

If there is any way I can adjust the

[2020-12-29 13:53] PlayNprovide opened #113 "incompatible with expo/vector-icons"
I'm doing a project with expo in bare-project
the ads shows up without problems
but the icon is only visible when built in debug mode
when I start the app without debug I got this warning and got no icon on the screen
screenshots :
https://lh3.googleusercontent.com/8ELno9MLh9twfAgiqSKfv__Q6yq7ilu0gVJJXgKJwrIa-Ez-uJ3WCxrt_rNzUPeUg1KORIxgw2XnT_p74JuWiC8okKAagXdY9Vz_jSylFqHlZEXmgVZT0qc2Z5bOfHRfV-kcMo

[2020-12-30 08:02] PlayNprovide opened #114 "blank white screen on release mode"
everything works fine when built in debug mode
but  when I run release version It gives me white blank screen

when I tried this code to get more details
**gradlew assembleRelease --warning-mode all**

It gives me this error message

The maven plugin has been deprecated. This is scheduled to be removed in Gradle 7.0. Please use the maven-publish plugin instead. Consult the upgrading guide for furt

[2021-01-01 06:46] #114 closed

[2021-01-02 11:48] ArchitGarg1 opened #115 "Crash: Unable to find JSIModule for class UIManager"
I've created a component to show ads in my app.
It's running perfectly on most of the app screens, but on some screens, the app crashes just after the touch event on the ad,
I don't understand the issue as it is fine on most of the screens, and the same component is used everywhere

This is the crash log
[code]

How to fix this?

[2021-01-02 21:55] Island-Life-Exotics commented on #111
I am facing the same issue. where its showing in Google Admob but the ads aren't shown in the app.

[2021-01-02 22:26] Island-Life-Exotics commented on #111
For me I just recently released my application, I read that Google can take a while before they start sending adds so I will wait a couple more weeks and see if they start showing up.

[2021-01-04 02:29] b15h0y commented on #111
I have been waiting for more than a week. is it a matter of time or how many people download your app?

[2021-01-04 19:37] oron11 opened #116 "Failed to load UI in IOS simulator after library installation"
Hello,

First I installed the expo-ads-admob successfully.
Afterwards, I installed the library as instructed:
- npm install react-native-admob-native-ads
- npx pod-install

The build finished but I cannot load any UI:
I can see the error: "Component 'ViewManagerAdapter_ExpoAdsAdMobBannerView' re-registered bubbling event 'topSizeChange' as a direct event
<img width="303" alt="Screen Shot 2021-01-0

[2021-01-04 21:05] Terfender commented on #107
When adding only 3 native ads on main screen using the example blow, the app becomes really really slow. When removing them, the app works fine.

[code]

[2021-01-07 22:33] Island-Life-Exotics commented on #111
according to google support

[2021-01-08 15:45] viveKing21 opened #117 "getting app:processDebugResources error when im try to build"
[code]

[2021-01-11 04:16] aftabaminzoobiapps commented on #107
this is because the native adds or consuming a lot of memory. and is not releasing.i tried my best to resolve this issue but didn't found any one.

[2021-01-11 11:09] ha-younes72 commented on #82
Dear @ammarahm-ed,

I have been testing the implemented version of the preloading branch of yours for android. but when the preloaded ad has media view, it just shows a black screen for the first preloaded ad and it shows the media view after refreshing the ad.

I will appreciate it if you have any suggestions.

[2021-01-11 13:48] yaroslavnikiforov commented on #34
Hi @perrosnk, according to the [docs](https://developers.google.com/admob/ios/mediation/facebook#advertising_tracking_enabled) you need to add this line somewhere in the code: ```[FBAdSettings setAdvertiserTrackingEnabled:YES];```
I guess it should be in AppDelegate.m, but not sure where exactly. Can you help and provide where should I add this line?

[2021-01-12 18:38] cokepizza opened #118 "how to get store url or trigger event?"
Is there any way I can get the store url or trigger a touch? Currently, I am looking for an action to give the same effect as pressing an advertisement.

[2021-01-13 13:26] yaroslavnikiforov commented on #34
I have the same issue - `onUnifiedNativeAdLoaded` is never called when using mediation with Facebook Audience Network. And all Views are empty. Here is logs from Logcat:
[code]

[2021-01-13 16:15] ammarahm-ed commented on #118
@cokepizza It is possible but not implemented in this library at the moment.

[2021-01-13 16:15] #118 closed

[2021-01-13 16:16] ammarahm-ed commented on #116
expo is not supported. I have never tested this lib with expo projects

[2021-01-13 16:16] #116 closed

[2021-01-13 16:18] ammarahm-ed commented on #112
Currently not supported

[2021-01-13 16:28] ammarahm-ed commented on #82
hey @ha-younes72 i will look into this. Can you reproduce the issue on the example branch too?

And on your previous comment, while I have implemented some part on android, the current implementation does not destroy the ads but keeps them for 5 to 10 minutes, and in that duration, those ads are shown repeatedly, so no new requests to admob server.

I need to fix that and make sure that once an ad

[2021-01-17 17:35] b15h0y commented on #111
Did your issue get solved? @Island-Life-Exotics

[2021-01-18 06:35] ammarahm-ed commented on #115
@ArchitGarg1 Can you provide more detail

[2021-01-18 09:28] ammarahm-ed commented on #117
update version of gradle to 3.5.4 minimum in `project/android/build.gradle` file:

`classpath("com.android.tools.build:gradle:3.5.4")`

[2021-01-18 09:28] #117 closed

[2021-01-18 09:35] ammarahm-ed commented on #113
I will look into it

[2021-01-18 09:37] ammarahm-ed commented on #111
@b15h0y and @Island-Life-Exotics The issue is not related to this library but Google. It usually takes some to to show ads. Also you should check if you have provided complete info in AdMob Console like name, location, phone etc. If some information is missing, ads might not show up.

[2021-01-18 09:37] #111 closed

[2021-01-18 09:38] ammarahm-ed commented on #113
From the example it appears that you are using expo/vector-icons outside the AdView so the issue is not related to this library.

[2021-01-18 09:38] #113 closed

[2021-01-18 09:39] ammarahm-ed commented on #110
@bartzy I think you are right, maybe we need to pause ad loading when user leaves the screen.

[2021-01-18 09:40] #108 closed

[2021-01-18 09:41] ammarahm-ed commented on #34
Fixed on master

[2021-01-18 09:41] #34 closed

[2021-01-18 09:42] ammarahm-ed commented on #77
@dylancom you can test the master branch as it supports mediation now hopefully. Facebook is working. Haven't tested other mediation networks but they should.

[2021-01-18 09:47] ammarahm-ed commented on #107
@aftabaminzoobiapps I will look into it. I have investigated it a bit but couldn't find the bug. needs more investigation. Can you provide an example of exactly how to reproduce the issue and how many ads did you load?

[2021-01-18 09:47] #104 closed

[2021-01-18 09:48] ammarahm-ed commented on #105
duplicate of #117

[2021-01-18 09:48] #105 closed

[2021-01-18 09:50] ammarahm-ed commented on #109
duplicate of #117

[2021-01-18 09:50] #109 closed

[2021-01-18 17:25] #77 closed

[2021-01-20 04:50] aftabaminzoobiapps commented on #107
I have ads on multiple screens. I have a test that on iPhone 6 real device and iPhone 9 and iPhone X simulators. if I don't load any ads the memory is the consumption is the same. but when I add native Ad from this library the memory consumption is increasing each time ai navigate to the screen. I have also tested [https://github.com/ammarahm-ed/react-native-admob-native-ads/tree/master/example](U

[2021-01-20 04:54] ammarahm-ed commented on #107
@aftabaminzoobiapps Does the memory stay allocated even after destroying the ads?

[2021-01-20 05:08] ammarahm-ed commented on #33
Fixed on master

[2021-01-20 05:08] #33 closed

[2021-01-20 05:17] aftabaminzoobiapps commented on #107
yes sir. after continuous loading ads for 5 to 6 minutes, the app getting
slow and crashed on iPhone 6 real device.

On Wed, 20 Jan 2021 at 09:54, Ammar Ahmed <notifications@github.com> wrote:

[2021-01-21 17:49] ammarahm-ed opened #119 "Road to 0.4.0"
After working on the preloading branch for some time i have stepped away from this feature until further research is done  so we can implement it properly. There are more important issues at the moment that need my attention.

 **Android**

- [x] mediaAspectRatio support .
- [x] remove auto ad refreshing
- [x] Support mute/unmute a video
- [x] Support of video controller events / video duration et

[2021-01-21 17:54] ammarahm-ed commented on #107
@aftabaminzoobiapps hey, can you test the master branch on iOS to check if this is fixed. I have tried to fix it.

[2021-01-21 17:54] pairohit305 commented on #82
Postponed ?? When we can expect to b completed ?

[2021-01-21 17:58] ammarahm-ed commented on #82
@pairohit305 currently do not expect it to be completed anytime soon. Probably i will look into it again after 0.4.0 release

[2021-01-22 07:43] aftabaminzoobiapps commented on #107
ok, I will test it later.

On Thu, 21 Jan 2021 at 22:54, Ammar Ahmed <notifications@github.com> wrote:

[2021-01-24 01:06] illusi03 opened #120 "Incompatible with gradle 7.0"
Hello bro, thanks for build this package.
But i have a problem with this package, can this package install in gradle 7.0 version ?
Thanks in advice

![image](https://user-images.githubusercontent.com/52351532/105618530-e2abc280-5e1a-11eb-8cb1-f94a8ab1ae07.png)

[2021-01-26 11:04] sametpalitci commented on #120
Same problem, did you fixed?

[2021-02-01 13:41] zoobibackups commented on #107
I have tested my app and there is still some issue. before that fix @ammarahm-ed when I was navigating through the screens per ad memory consumption was 2MB.  no, when I navigate 10 times the memory consumption was like this. before it was 193 MB and after 10 times of navigation it was about 207 MBs . and after some time it was reduced to 197 MB. so for 10 navigation  it is consuming 4 MBs.

[2021-02-01 18:40] ammarahm-ed commented on #107
The garbage collector on iOS runs after a while I think. Maybe if we remove
the ad refreshing logic it will lower down even more. Currently this seems
to have reduced the memory consumption overall. True?

On Mon, Feb 1, 2021, 6:41 PM zoobibackups <notifications@github.com> wrote:

[2021-02-02 12:21] zoobibackups commented on #107
yes. i is reduced but still to have check on real devices.

[2021-02-04 15:05] ammarahm-ed commented on #120
Share more details about the error. the example builds normally so compare your project files with it.

**This may help**
update your `android/build.gradle` file as follows:

[code]

[2021-02-08 22:40] illusi03 commented on #120
Update gradle has fixed the issue, thanks in advance

[2021-02-09 04:49] CarlOmega opened #121 "onAdFailedToLoad Passes raw native event on error"
Line 38 in src/index.js is
`this.props.onAdFailedToLoad(event);`
But should be
`this.props.onAdFailedToLoad(event.nativeEvent);`
Otherwise you have to unwrap the event making it confusing to use. It helps debugging a lot if you know what the server is responding.

Sorry if this has been mentioned before but I needed to do this fix on newest release.

[2021-02-09 06:28] zoobibackups commented on #8
I have the test ad ideas but it is giving the error below from the last 4 days.
{"error": {"message": "The ad request was successful, but no ad was returned due to lack of ad inventory."}}

[2021-02-09 06:31] zoobibackups opened #122 "Ads Loading Issue"
I have the test ad ideas but it is giving the error below from the last 4 days.
{"error": {"message": "The ad request was successful, but no ad was returned due to lack of ad inventory."}}
and sometimes this error
` {"error": {"message": "Invalid ad request, possibly an incorrect ad unit ID was given."}}`
the same was working in my previous project now it is not working I have tried all the things

[2021-02-09 06:50] ammarahm-ed commented on #8
It's because the server is not sending ads. Not an issue with this library.
Try to remove the app from phone. And run `. /gradlew clean` in /android
folder. Similarly clear project on iOS in xcode.

On Tue, Feb 9, 2021, 11:29 AM zoobibackups <notifications@github.com> wrote:

[2021-02-09 07:20] ammarahm-ed commented on #122
Not an issue with the library but AdMob server.

[2021-02-09 07:23] ammarahm-ed commented on #121
i'll make this change, thanks for pointing it out.

[2021-02-09 07:44] #122 closed

[2021-02-09 07:44] zoobibackups commented on #122
solved

[2021-02-09 09:00] CarlOmega commented on #121
More than welcome thanks for creating the package.

[2021-02-09 23:46] CarlOmega opened #123 "Call To Action text is has event trigger that opens Ad not the whole button."
Not sure if this is by design, but I read in policies that it can be either: "Button or text field that encourages user to take action". We wanted to use the whole button to make it more like our app design and got around this by only styling the textStyle prop.

I could help write a prop to bind the action of the button or the text based on developers choice but thought I would bring this up.

[2021-02-10 04:24] ammarahm-ed commented on #123
We use `<Text/>` as a button to register clicks because Buttons/Touchables provided by React Native cannot be registered as clickable in android and ios Native code and they do not work. One way is to use `react-native-gesture-handler`'s `RawButton` which can be clicked from native code.

[2021-02-10 05:48] ammarahm-ed commented on #121
fixed on master

[2021-02-10 05:48] #121 closed

[2021-02-10 05:49] #120 closed

[2021-02-10 05:49] ammarahm-ed commented on #112
support added in master

[2021-02-10 05:49] #112 closed

[2021-02-10 05:50] ammarahm-ed commented on #106
added for next release

[2021-02-10 05:50] #106 closed

[2021-02-10 05:50] ammarahm-ed commented on #107
fixed properly for 0.4.0 on master

[2021-02-10 05:50] #107 closed

[2021-02-10 05:51] ammarahm-ed commented on #110
fixed

[2021-02-10 05:51] #110 closed

[2021-02-10 05:51] #79 closed

[2021-02-10 05:52] ammarahm-ed commented on #101
fixed

[2021-02-10 05:52] #101 closed

[2021-02-10 05:52] ammarahm-ed commented on #64
support added.

[2021-02-10 05:52] #64 closed

[2021-02-11 05:42] zoobibackups opened #124 "Installation Issue With React-native 63.3"
[code]

Here are my `package.json` file

[code]

if I Install With --force command then i am getting the following issue.

`/node_modules/react-native-admob-native-ads/ios/RNGADNativeView.h:6:54: No type or protocol named 'GADUnifiedNativeAdLoaderDelegate'`

`/Users/umairhassan/repos/videodownloader/node_modules/react-native-admob-native-ads/ios/RNGADNativeView.h:6:30: Cannot find interface declar

[2021-02-11 05:53] zoobibackups commented on #124
same issue.

[2021-02-11 07:09] janotama commented on #124
for me, this issue is solved by downgrading Google-Mobile-Ads-SDK from version 8.0.0 to 7.69.0

[2021-02-11 07:33] zoobibackups commented on #124
how can downgrading Google-Mobile-Ads_SDK

[2021-02-11 07:36] janotama commented on #124
you can put :

`pod 'Google-Mobile-Ads-SDK', '7.69.0'`

on your podfile

[2021-02-13 04:09] ammarahm-ed commented on #124
Yeah, they renamed everything in 8.0.0 literally breaking everything.

[2021-02-13 04:09] ammarahm-ed commented on #124
The next version is almost done and will be out soon, fixing this and many other errors.

[2021-02-14 20:38] CarlOmega commented on #123
We just styled the text to fill the container to get around this. I was unaware of this restriction, Its all good for us now.

[2021-02-14 20:38] #123 closed

[2021-02-17 04:25] #124 closed

[2021-02-18 10:12] luatnd opened #125 "Did this lib support "Android & iOS app code""
Hi I wanna view ads by native view instead of webview underneath,
Does this library support [Android & iOS app code](https://support.google.com/admanager/answer/7661908)

[2021-02-18 11:31] ammarahm-ed commented on #125
These are native ads.

[2021-02-18 18:40] #125 closed

[2021-02-19 14:00] zoobibackups opened #126 "Native Ads Load issue in native module"
Hello i am working on load nativeAd on android native overlay window, load added successfully i received the complete UnifiedNativeAd Object in return, but issue is the when i am Assigning nativeAd object into NativeAdView object so its throw me the error of thread,

its thow me error when i am assigning any data to unifiedNativeAdView Object.
   unifiedNativeAdView.setNativeAd(nativeAd);

Only th

[2021-02-21 07:26] Long2k1708 opened #127 "Can't build iOS with the latest version (8.1.0) of Google-Mobile-Ads-SDK"
Please check this problem. It has been occurred after I upgraded Google-Mobile-Ads-SDK to 8.1.0 with `pod install --repo-update`
<img width="1512" alt="Screen Shot 2021-02-21 at 14 23 03" src="https://user-images.githubusercontent.com/18576670/108618430-af2b7a80-7450-11eb-90c3-256f24f1d4fa.png">

[2021-02-21 19:21] benjaminfiliatrault commented on #127
+1

[2021-02-22 07:02] ammarahm-ed commented on #127
@benjaminfiliatrault @Long2k1708 Its fixed on master for 0.4.0. You can use master as its complete, only docs are to be rewritten or use `7.69.0` version of google mobile-ads library on iOS

[2021-02-23 14:37] bartzy commented on #119
@ammarahm-ed Are you going to release 0.4.0 to npm only after finishing with documentation updates, or do you have more fixes/changes you need to do?

Thanks!

[2021-02-23 15:30] ammarahm-ed commented on #119
@bartzy release after docs

[2021-03-03 10:35] vendeza opened #129 "How to get the ads URL before redirection"
Hello.
Can I get ads deep link for a banner? Just want to get the ads URL before redirection.
Thanks

[2021-03-03 18:06] ammarahm-ed commented on #129
its not possible for admob ads.

[2021-03-03 18:43] #127 closed

[2021-03-03 18:44] #129 closed

[2021-03-03 18:44] #115 closed

[2021-03-03 18:45] #99 closed

[2021-03-03 18:45] #119 closed

[2021-03-03 18:46] ammarahm-ed commented on #126
I cannot solve the problems not related to this library

[2021-03-03 18:46] #126 closed

[2021-03-04 02:45] ArchitGargPro commented on #115
It was having some conflict with my carousel view library, I replaced the carousel view, now it works like a charm

[2021-03-04 08:12] tanwanjern opened #130 "[Migrating to 0.4.0] Build failed in iOS: Semantic issue"
Hi, I'm migrating 0.3.9 to 0.4.0, but I'm getting this error when I build the iOS app.

What I did
- Pod install
- Delete and rebuild the app
- Remove derived data folder

![image](https://user-images.githubusercontent.com/23072805/109931795-42439a80-7d04-11eb-8121-ce96bd91b17e.png)
![image](https://user-images.githubusercontent.com/23072805/109931475-dcefa980-7d03-11eb-9bd2-59685251ebff.png)

[2021-03-04 10:34] Hassan709 commented on #8
i want to load native media ads before ender but fail .how its possible

[2021-03-04 10:35] Hassan709 commented on #8
i am using react native ads mob to display native ads but ads load after some interval. how its possible to pre load ads?

[2021-03-04 13:49] ammarahm-ed commented on #130
update your Google Mobile Ads Library to `>=8.0.0` in Podfile.

Add these to your Podfile.
`
pod 'Google-Mobile-Ads-SDK'
pod 'GoogleMobileAdsMediationFacebook'
`
run `pod update Google-Mobile-Ads-SDK`

and it will build

[2021-03-04 18:34] tanwanjern commented on #130
I see, but if I upgrade my Google Mobile Ads Library to >=8.0.0 in Podfile, I will be not able to use [react-native-admob](https://github.com/sbugert/react-native-admob) or [react-native-firebase/admob](https://github.com/invertase/react-native-firebase) to display banner and interstitial ads

Issue: https://github.com/sbugert/react-native-admob/issues/554

[2021-03-04 22:36] ammarahm-ed commented on #130
Then you need to stay on 0.39 for now until they update their library to support the new version. @tanwanjern

[2021-03-05 10:33] Hassan709 commented on #130
undefined is not an object (evaluating '_utils.AdOptions.mediaAspectRatio[this.props.mediaAspectRatio]') in react-native-admob-native-ads

[2021-03-05 10:34] Hassan709 commented on #130
whats an issue please tell me i can use version 0.0.4 library

[2021-03-05 11:18] Hassan709 commented on #130
Getting this error on android =>Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have mixed up default and named imports.

[2021-03-05 11:22] Hassan709 commented on #130
there are multiple issues in 0.4.0

[2021-03-05 13:29] ammarahm-ed commented on #130
@Hassan709 post your implementation of the library here. The code. Also check the example app since everything is working in the example.

[2021-03-06 13:53] Hassan709 commented on #130
i can use updated library but could not work for me.

[2021-03-06 13:57] Hassan709 commented on #130
i can also read migration guide and followed it.

[2021-03-06 13:59] ammarahm-ed commented on #130
Compare your implementation with the example or post your code here.

[2021-03-06 13:59] Hassan709 commented on #130
ok

[2021-03-06 14:18] Hassan709 commented on #130
when i can install this lib  [Error: undefined Unable to resolve module `./src/MediaView` from `node_modules\react-native-admob-native-ads\index.js`:

[2021-03-06 15:56] ammarahm-ed commented on #130
@Hassan709 If you read the Migration Guide. It says MediaView has been renamed to NativeMediaView

[2021-03-07 04:20] Hassan709 commented on #130
@ammarahm-ed  Thanks for Replying .... I can implements 0.4.0 library but issues is that when i can switch to next screen native ads is reload. I want ads is load before rendering screen. And when screen navigate immediately shown an ads  not coming delay.

[2021-03-07 04:22] ammarahm-ed commented on #130
Not possible. The ad loads from server so it will take time. No preloading

[2021-03-07 04:25] Hassan709 commented on #130
so you ca handle  this from loader

[2021-03-07 04:27] Hassan709 commented on #130
My boss requirement is ads pre load i can  try from 5 days but fails. please help me thanks

[2021-03-07 04:59] Hassan709 commented on #130
can i apply shimmer on container ?

[2021-03-07 04:59] Hassan709 commented on #130
place of loading

[2021-03-07 08:10] faz1993 opened #131 "Admob Mediation Facebook Doesnt Open"
@ammarahm-ed  The facebook ads show up everything work well the only problem is when i try to open it it doesnt open at all
maybe im wrong in implementation or maybe my code is wrong i have used only

`const mediation = {
		nativeBanner: true
};`
`<NativeAdView ref={nativeAdViewRef} adUnitID={NATIVE_AD_ID} mediationOptions={mediation}>
</NativeAdView>`

if iam wrong please correct me

[2021-03-07 08:23] ammarahm-ed commented on #131
Why have you set nativeBanner to true? Also is the problem on iOS or android

[2021-03-07 08:25] faz1993 commented on #131
@ammarahm-ed  no i did not add NativeMediaView

[2021-03-07 08:26] ammarahm-ed commented on #131
Add it then try again

[2021-03-07 08:29] faz1993 commented on #131
@ammarahm-ed NativeMediaView is for video right ? when i enable mediationOptions its for video not for nativeBanner ad mediation?

[2021-03-07 08:29] ammarahm-ed commented on #131
Yes, set native banner to false

[2021-03-07 08:31] faz1993 commented on #131
@ammarahm-ed i have removed it completly and i also choosed in facebook audience native banner its still doesnt open its show up the facebook native banner but when i press on blue button or on ad it doesnt open

[2021-03-07 08:33] ammarahm-ed commented on #131
Not sure then why it's not working. Try showing video/image ads instead

[2021-03-07 08:35] faz1993 commented on #131
@ammarahm-ed its showing ads normal like of admob and its showing in status of admob mediation optimization in progress the facebook ads are showing i did not add any facebook sdk or something else can you show me or give me an exemple for enable admob mediation with facebook ?

[2021-03-07 08:37] ammarahm-ed commented on #131
For mediation you have to follow guide on Google Admob Mediation for Facebook. Search on Google to find it.

Also once mediation is approved you can show ads that are clickable. Try to show test ads from Facebook until then

[2021-03-07 08:42] faz1993 commented on #131
@ammarahm-ed all what i did is i installed the package latest one react-native-admob-native-ads i enabled admob mediation from the platform and i created the ads from the facebook audience as mentioned in google for mediation created ad source etc.... thats all what i need ? and i wait till the optimisation finish for its be clickable ?

[2021-03-07 08:43] ammarahm-ed commented on #131
Yes I think so that's all you need to do and it should work. Until then maybe try showing test ads from facebook ads instead of real ones

[2021-03-07 09:38] Hassan709 commented on #130
@ammarahm-ed  where we can apply shimmer place of loading tell me please
import React, { useEffect, useRef, useState } from 'react';
import { ActivityIndicator, DeviceEventEmitter, Text, View } from 'react-native';
import NativeAdView, {
    AdvertiserView,
    CallToActionView,
    HeadlineView,
    IconView,
    StarRatingView,
    StoreView,
    TaglineView,
} from 'react-native-admob-native-ad

[2021-03-07 09:38] Hassan709 commented on #130
here is my code

[2021-03-07 09:40] pairohit305 commented on #82
I tried 0.4.0 and its awesome 👏 but sadly I can’t use in real app because it take 3,4 sec to load an ad preloading is a must as ads are not preferred by user I am currently learning java so that i can create my own native packages .... I was visiting official google admob doc and they have example of preloading an ad what challenges are you facing ? to implement preloading ?

[2021-03-07 13:14] faz1993 commented on #131
@ammarahm-ed still same i tested with test ad still cant open facebook ads when i click on button CallToActionView

[2021-03-07 13:21] ammarahm-ed commented on #131
Can you click on icon/headline etc to open the ad?

[2021-03-07 13:23] faz1993 commented on #131
@ammarahm-ed yes when i click on Adbadge it redirect me to facebook audience info but when i click on text or ad or button nothing happen i did posted my code

[2021-03-07 13:26] ammarahm-ed commented on #131
`<View style={[adLoaded ?`

Remove this check and don't hide the ad and try again

[2021-03-07 13:29] faz1993 commented on #131
@ammarahm-ed i tried it still same

[2021-03-07 13:31] ammarahm-ed commented on #131
Can you test using the AdView in the example?

[2021-03-07 13:34] ammarahm-ed commented on #131
Also set nativeBanner to `true` in mediationOptions

[2021-03-07 14:59] faz1993 commented on #131
i have added example AdView still the same when i click nothing happen with facebook

[2021-03-07 15:00] faz1993 commented on #131
@ammarahm-ed can you give me example of set nativeBanner to true ? maybe i didnt set it the way it is

[2021-03-07 21:28] yaroslavnikiforov commented on #131
Hi @faz1993, if your unit id is mapped to Native Banner then you should add this prop for NativeAdView:
`mediationOptions={{ nativeBanner: true }}` and it should have IconView to be clickable. If it is a simple Native ad then NativeMediaView is required to be clickable.

<img width="664" alt="Screenshot 2021-03-07 at 23 22 37" src="https://user-images.githubusercontent.com/42115630/110255381-04f93

[2021-03-08 04:03] ammarahm-ed commented on #82
time

On Sun, Mar 7, 2021 at 2:40 PM Rohit Pai <notifications@github.com> wrote:

[2021-03-08 06:18] faz1993 commented on #131
@yaroslavnikiforov the Facebook ADs it show up and appear correctly but when i try to open it it doesnt open even when i press on button or anywhere the only thing which works on facebook ads when appear is the AD Info Icon

[2021-03-08 08:47] yaroslavnikiforov commented on #131
I understand, try what I wrote in the previous comment.

[2021-03-08 10:13] faz1993 commented on #131
@yaroslavnikiforov
[code]

[2021-03-08 12:08] yaroslavnikiforov commented on #131
I don't see anything wrong in your code if your unit id is mapped to Native Banner (double-check that please).

[2021-03-08 16:37] ammarahm-ed commented on #130
Ads cannot be preloaded using this library at the moment

[2021-03-08 16:40] Hassan709 commented on #130
ok but my android developer friends implements  this in android

[2021-03-08 17:00] ammarahm-ed commented on #130
Its possible but not implemented in this library as of yet.

[2021-03-08 17:01] Hassan709 commented on #130
Ok

On Mon, 8 Mar 2021, 10:00 PM Ammar Ahmed, <notifications@github.com> wrote:

[2021-03-09 08:07] tanwanjern opened #132 "refreshInterval on v0.3.9 is not working"
I'm trying to show the native ad unit from the ad manager using v0.3.9.

The ad unit will auto-refresh every 1 minute to another ad unit. I wanted to pause the refresh, but it couldn't so I tried to increase the interval but it doesn't work (it's still refreshing every 1 minute)

[code]
From the Ad Manager, the refresh rate of the ad unit is already set to no refresh
![image](https://user-images.g

[2021-03-09 11:26] Hassan709 commented on #82
is any one work on App Open Ads

[2021-03-09 11:41] Hassan709 commented on #132
when i can move to next screen NativeMediaAds videos sound not stop Why???

[2021-03-09 12:39] Hassan709 opened #133 "NativeMediaView issue"
NativeMediaView issue Video not Stop when navigate to another screen  .....?

const MediaViewAds = React.memo(({ index, loadOnMount = true }) => {
    const [aspectRatio, setAspectRatio] = useState(1.5);
    const [loading, setLoading] = useState(false);
    const [loaded, setLoaded] = useState(false);
    const [error, setError] = useState(false);
    const nativeAdRef = useRef();

    const onAd

[2021-03-12 07:17] Hassan709 commented on #133
@ammarahm-ed  please tell me how to mute Native media ads in react native

[2021-03-12 07:19] Hassan709 commented on #133
when i navigate to another screen native media ads not stop and i can hear volume in back of every screen...

[2021-03-12 07:38] Hassan709 commented on #132
import { NativeMediaView } from "react-native-admob-native-ads";

<MediaView
  style={{
    width: "100%",
    height: 250,
  }}
/>;
import is NativeMediaView  and use MediaView Why ???in offical document

[2021-03-13 00:05] faz1993 commented on #131
@faz1993 i will try again

[2021-03-18 20:35] devGuerra commented on #130
Any solution to use firebase adbmob and native-ads ?

[2021-03-19 00:11] rogerkerse opened #134 "Muted not working"
I have `muted` prop on both NativeAdView and NativeMediaView, still audio on Android always starts playing when the screen loads. How to make it stop or is it a bug?

[2021-03-19 09:58] tanwanjern commented on #130
I think the only way is to downgrade the version of the native ad to 0.3.9
`"react-native-admob-native-ads": "^0.3.9",`

https://github.com/ammarahm-ed/react-native-admob-native-ads/tree/v0.3.9

[2021-03-19 18:24] faz1993 commented on #131
@yaroslavnikiforov still same maybe because i didnt verified my facebook business ? or duo i didnt put it in live ?

[2021-03-22 11:52] yaroslavnikiforov commented on #134
Add this prop for NativeAdView: `videoOptions={{ muted: true }}`

[2021-03-22 11:57] yaroslavnikiforov opened #135 "Ads stop loading if unmount NativeAdView before it had finished downloading on iOS"
On iOS if you unmount NativeAdView during loading ad is in progress ads will stop loading anymore and you need to kill the app to make it work again. The issue is only present on iOS.
Steps to reproduce: run example app on ios, open some ad, for example, Ad with Video, and press the back button immediately while it is loading.

[2021-03-22 18:12] cokepizza opened #136 "loadAd() not working"
I followed the migration docs after upgrading to 0.3.9 => 0.4.0, but I can't render ad because there is no loadAd function. The same is true for your example.

"_nativeAdRef$current2.loadAd is not a function"

How can I run the loadAd function?

[2021-03-22 18:41] cokepizza commented on #136
I don't know if there was a cache, but after I cleared the package-lock.json and Podfile.lock a few times and reinstalled, I confirmed that the loadAd function works.

[2021-03-22 18:41] #136 closed

[2021-03-22 19:32] cokepizza opened #137 "about IconView borderRadius"

[2021-03-22 19:36] #137 closed

[2021-03-23 03:55] huyhai commented on #130
same, i am using 0.4.0 no migration and using  firebase adbmob together with this lib

[2021-03-24 09:03] ddtien510 opened #138 "Build failed in Android"
Hi, I'm build app on android studio, but I'm getting this error when build app.
![Screen Shot 2021-03-24 at 16 20 13](https://user-images.githubusercontent.com/37573746/112285405-df1ea580-8cbc-11eb-82b4-3bb4b627d076.png)

Tks all

[2021-03-24 09:45] #138 closed

[2021-03-24 11:21] ddtien510 opened #139 "Didn't find class "com.ammarahmed.rnadmob.nativeads.RNAdmobMediaView" on path: DexPathList[[zip file"
App crash when open.
<img width="414" alt="Screen Shot 2021-03-24 at 18 18 17" src="https://user-images.githubusercontent.com/37573746/112302442-adfaa100-8ccd-11eb-8b29-120ff13bb9e3.png">
Tks all

[2021-03-25 22:49] aleluiah opened #140 "Will Ad requests be made when the device screen is turned off"
hi, great project. will ad requests be made when the device screen is turned off, thanks.

[2021-03-28 16:23] Terfender opened #141 "Resolving multiple pod dependencies & versions"
Hello there,

I am trying to install both this lib for native ads and rnfirebase/admob for banner/rewarded ads.
I would love to use v0.4.0 of this lib as it solves the memory leak issue. However, when installing both pods, I get this error:

[code]

Do you know how I can resolve it please?
I know this is pod dependencies issue, but couldn't find a workaround and wondering if someone using my useca

[2021-03-28 16:52] RapunzlFounder opened #142 "Cannot render multiple NativeAdView components on a single screen since 0.4.0 update"
I am trying to implement a list with multiple NativeAdView components designed to be included in the list as the user scrolls. In previous version, 0.3.9, this was working, when the Ads were loaded imperatively.

Since the update to 0.4.0, I can only get the first NativeAdView on any given screen to render. The others, it appears as if the .loadAd() method does not fire, as there are no additional

[2021-03-31 09:32] m15r commented on #142
Also experiencing this problem since version 0.4.0.

[2021-04-01 07:21] comdeslezards commented on #141
I get this error too

[2021-04-01 10:04] haresh4d opened #144 "Build failed in ios"
I am using react-native-admob and react-native-admob-native-ads both the library. When I installed this library the build is now failed with following error:

The following build commands failed:
	CompileC /Users/haresh/Library/Developer/Xcode/DerivedData/dkt-hcmkqyitdpvkskbpnimrevfadqpm/Build/Intermediates.noindex/Pods.build/Debug-iphonesimulator/react-native-admob-native-ads.build/Objects-normal

[2021-04-05 00:31] tfkci opened #145 "NullPointerException for MediaContent"
I keep receiving the null pointer exception after upgrading the ^0.4.0". The issue appears in the flat list after scrolling.

[code]

My Implementation :

[code]

[2021-04-06 13:44] yaroslavnikiforov opened #146 "Doesn't work with latest Mobile Ads SDK on Android (20.0.0)"
After Google released SDK v20 this package stopped working as it uses the latest version.
[https://developers.google.com/admob/android/migration](https://developers.google.com/admob/android/migration)

[2021-04-06 19:03] JoonDong2 commented on #146
Use this temporarily.
https://github.com/JoonDong2/react-native-admob-native
`yarn add https://github.com/JoonDong2/react-native-admob-native`

[2021-04-07 07:27] Bsingh2697 commented on #146
inside node modules/react-native-admob-native-ads/android/build.gradle
comment this line
implementation "com.google.android.gms:play-services-ads:+"

[2021-04-07 07:29] Bsingh2697 commented on #146
inside node modules/react-native-admob-native-ads/android/build.gradle
comment this line
implementation "com.google.android.gms:play-services-ads:+"
or set it to 19.8.0
implementation "com.google.android.gms:play-services-ads:19.8.0"

[2021-04-07 22:42] teamzz111 commented on #146
Did you send PR ?

[2021-04-08 02:37] Bsingh2697 commented on #146
No

[2021-04-10 05:40] haresh4d commented on #130
@ammarahm-ed I am using 0.3.9 version of this library because I have to use react-native-admob for Interstitial ads. Problem is in iOS 14.2 native ads are not shown. Interstitial and banners works just fine. Please help me.

[2021-04-11 05:42] haresh4d opened #147 "In iOS 14 ads are not shown if using 0.3.9 version"
I am using 0.3.9 version of this library as I have to use react-native-admob simultaneously with this library. Ads are not shown if run application in ios 14.X

[2021-04-13 19:46] tariqproxym opened #148 "com.google.android.gms.ads.formats.AdChoicesView"
react-native-admob-native-ads\android\src\main\java\com\ammarahmed\rnadmob\nativeads\RNAdmobAdChoicesManager.java:8: error: cannot find symbol
import com.google.android.gms.ads.formats.**AdChoicesView**

[2021-04-14 18:43] RapunzlFounder commented on #148
I'm having this same problem when running on real android devices since the update to 0.4.0

[2021-04-15 19:12] losthakkun commented on #148
To fix this...

inside node modules/react-native-admob-native-ads/android/build.gradle
comment this line
implementation "com.google.android.gms:play-services-ads:+"

you only need to comment on that line, do not add version 19.8.0

[2021-04-18 02:51] #147 closed

[2021-04-18 19:04] tariqproxym commented on #148
@losthakkun Actually comment this line did not solve the issue.
but adding 19.8.0 solves it.

if I comment it should id do extra steps like clear cache or anything else

[2021-04-20 04:57] cokepizza opened #149 "i need a trigger for store touch event"
i generated issue before, but i need this functionality very much
in my application, when i swipe ad, i want to trigger store touch event, so that i can make viewer to see ads
in short, Is there any way I can get the store url or trigger a touch? Currently, I am looking for an action to give the same effect as pressing an advertisement.
I am using this great library very well, and I hope you make

[2021-04-20 07:36] fdobre commented on #142
@RapunzlFounder @m15r Have you found any workaround for this?
Do you think any of the next possible solution would work?
- using different adUnitID for each ad fix the issue
- using React Pure Component
- downgrading to 0.39

[2021-04-20 09:57] konradgalczynski07 commented on #144
Same with combination `@react-native-firebase/admob` and `react-native-admob-native-ads`

[2021-04-20 11:48] haresh4d commented on #144
Use 0.3.9 version of native library. It will work

[2021-04-20 11:50] fdobre commented on #146
PR: created https://github.com/ammarahm-ed/react-native-admob-native-ads/pull/150

Please let me know if there is anything that can be improved in the PR.

[2021-04-20 17:52] Bsingh2697 commented on #146
Thanks but as I said 19.8.0 is a better option. Coz that was the last supported version. Commenting the service can lead to some other issue. Idk yet but maybe.

[2021-04-21 15:24] RapunzlFounder commented on #142
@fdobre We couldn't downgrade to 0.39 because it caused breaking changes with other project dependencies for Android Devices.

Using a React Pure Component with 0.40 works for one ad, although AdView.loadAd() does not seem to consistently fetch an ad in componentDidMount when working on a simulator.

I haven't tried a different adUnitID but I believe that will not solve the issue. The issue is rel

[2021-04-22 12:56] fdobre commented on #146
@Bsingh2697   PR updated

[2021-04-22 13:01] Bsingh2697 commented on #146
Thanks 😊

[2021-04-25 12:09] halaei opened #151 "[Android] MoPub SDK requires an Activity context to initialize."
I was working with admob initialization and find out there is an issue with `setRequestConfiguration()` that I don't know how to fix.

Apparently, we should pass MainActivity context to MobileAds.initialize(), but currently application context is used, which causes issues for mopub. Here is my changes so far:
[code]
Output in javascript tells me that mopub is not ready and the reason is that it re

[2021-04-27 04:01] haresh4d opened #152 "Ads gets reloaded in background"
I have two screens "Home Screen" and "Detail Screen". I have put a Native Ad in the home screen. Even when I navigate to detail screen the Native Ad  in the home screen gets reloaded after 60 every minute(onAdLoaded) method is called. what to do? This is generating so many impressions on admob and thats why eCPM becomes too low. Please suggest how to dispose the AdView component after navigating t

[2021-04-27 04:17] ammarahm-ed commented on #152
@haresh4d what version of library are you using?

[2021-04-27 04:22] haresh4d commented on #152
I am using 0.3.9. And I have to use it because I am also using react-native-admob which requires Google Mobile SDK 7.69

[2021-04-27 06:59] fdobre commented on #142
I've tested using multiple adUnits when displaying multiple ads but only first ad is displayed.

[2021-04-27 09:13] ammarahm-ed commented on #152
If you are using v0.3.9 then you need to set "refreshInterval" to a big number so it never refreshes after first loading. Or you can destroy the AdView when use navigates to next screen.

The latest version does not have this issue.

[2021-04-27 09:21] haresh4d commented on #152
Thanks @ammarahm-ed for your reply. I have currently used a large number for refreshInterval to solve the issue. But I dont know how to destroy the AdView before navigating to another screen. Can you please share some link from where I can get it?

Thanks for the help.

[2021-04-27 09:32] ammarahm-ed commented on #152
Are you using `react-navigation`? If so there is a hook you can use "useFocusEffect" to detect it the screen is focused or not. Although it might affect performance a bit since it will cause rerender of whole screen.

Also test the `refreshInterval` workaround to see if it is actually working.

[2021-04-27 09:55] haresh4d commented on #152
```refreshInterval``` is a perfect workaround. It is working. After this soluions the impressions have drastically reduced. I think this is the best solution till I can use the latest version.

[2021-04-27 09:57] juceda commented on #148
Commenting the line is a wrong answer.  Because the module needs that dependency.

Also this module (react-native-admob-native-ads) needs an update to handle that issue,  Google SDK v20 changed package names so broke v <=0.4.0

I suggest to change the line to:

implementation "com.google.android.gms:play-services-ads:19.+"

so you will use the latest 19.x version that is still compatible with 0.4.

[2021-04-29 22:18] tfkci commented on #145
The part in RNAdmobNativeView (Lines 404-405) should change like this
[code]

`nativeAdView.getMediaView()!=null)` solved when implemented an additional null check

[2021-04-30 11:22] OooCleMooO commented on #130
Update Podfile with `pod 'Google-Mobile-Ads-SDK', '~> 8.4.0'` then pod install fixed this issue for me.

[2021-04-30 17:19] #146 closed

[2021-04-30 22:22] Berezhnov commented on #130
Hey guys, I installed Google-Mobile-Ads-SDK 8.4.0 and 0.4.0 library version. I have such errors. Did anyone get the same?

<img width="1328" alt="Снимок экрана 2021-05-01 в 03 21 41" src="https://user-images.githubusercontent.com/21060845/116759681-5b2eaa80-aa2c-11eb-8c56-fcd476e28d8e.png">

[2021-05-01 17:17] ammarahm-ed commented on #130
A month ago i updated the lib with the new api in v8.0.0 with a sh*t ton of breaking changes. And then again, they changed the api. I mean who does that honestly.....

Maybe we should go back go 7.69 until google is done playing around.

[2021-05-01 17:20] Berezhnov commented on #130
switched to 0.3.8. and 7.69. it is working both on android and ios

[2021-05-01 17:23] ammarahm-ed commented on #130
I will release a new version that downgrades the google mobile sdk to 7.69

[2021-05-01 17:24] Berezhnov commented on #130
btw, you did amazing work!

[2021-05-01 17:24] ammarahm-ed commented on #130
It's working but lacks a lot of optimizations and issues that were fixed in 0.4.0

[2021-05-01 17:39] haresh4d commented on #130
Please do it. We really need it.

[2021-05-01 17:42] ammarahm-ed commented on #142
@RapunzlFounder have you tried the example app? It demonstrates loading ads in a list etc. Each AdViews needs to have its own ref and on each ref you need to call loadAd separately. Ads do not load if you are not calling loadAd on all AdViews rendered.

[2021-05-01 18:52] ammarahm-ed commented on #145
fixed on master

[2021-05-01 18:52] #145 closed

[2021-05-01 18:56] ammarahm-ed commented on #130
@haresh4d & @Berezhnov  I have downgraded the lib version on master branch. try the master branch in your project. Make sure you follow the guidelines to load ad in `v0.4.0`

[code]

then run pod install

[code]

[2021-05-01 19:31] #152 closed

[2021-05-02 05:25] haresh4d commented on #130
Working like a charm. Thank you @ammarahm-ed

[2021-05-04 17:41] Bsingh2697 commented on #148
Replace this
          implementation "com.google.android.gms:play-services-ads:+"
with this
          implementation("com.google.android.gms:play-services-ads:19.8.0") { force = true; }

[2021-05-05 10:01] CYBERKING40 opened #153 "Task :react-native-admob-native-ads:compileDebugJavaWithJavac FAILED"
Deprecated Gradle features were used in this build, making it incompatible with Gradle 7.0.
Use '--warning-mode all' to show the individual deprecation warnings.
See https://docs.gradle.org/6.5/userguide/command_line_interface.html#sec:command_line_warnings
283 actionable tasks: 5 executed, 278 up-to-date
E:\React-Native Project\testApp\node_modules\react-native-admob-native-ads\android\src\main\j

[2021-05-05 10:08] CYBERKING40 commented on #153
Replace this
implementation "com.google.android.gms:play-services-ads:+"
with this
implementation("com.google.android.gms:play-services-ads:19.8.0") { force = true; }

this seems to work

[2021-05-05 10:14] #153 closed

[2021-05-06 06:35] nicoloso100 commented on #148
worked for me

[2021-05-06 18:43] ammarahm-ed commented on #149
@cokepizza kindly send me some more information about this. Have you seen it implemented in other libraries, how? send me some video or link to an app that uses it.

[2021-05-06 19:27] EnricoNapolitan opened #154 "StarRatingView color customisation"
Have you planned to add the customisation of the icons' color in _StarView_?
It will be a really cool features and I would need it!

[2021-05-07 09:55] ammarahm-ed commented on #154
I will be happy to add it if you can send a PR.

[2021-05-07 10:00] ammarahm-ed commented on #151
@halaei Can you give a bit of background context to your issue? You are trying to mediate ads from MoPub SDK using this library? is that correct? A little of what I understand, you can `getReactApplicationContext().getCurrentActivity() != null` and then do everything you need inside it so that, the application does not crash. Although you may note that after a few seconds the activity will be avai

[2021-05-07 10:01] ammarahm-ed commented on #148
fixed on master.

[2021-05-07 10:01] #148 closed

[2021-05-07 10:02] ammarahm-ed commented on #144
Fixed on master

[2021-05-07 10:02] #144 closed

[2021-05-07 10:02] #130 closed

[2021-05-07 10:03] #131 closed

[2021-05-07 10:03] ammarahm-ed commented on #132
update to 0.4.1

[2021-05-07 10:03] #132 closed

[2021-05-07 10:04] ammarahm-ed commented on #141
update to 0.4.1

[2021-05-07 10:04] #141 closed

[2021-05-07 10:05] ammarahm-ed commented on #140
If the app is running, yes I think so.

[2021-05-07 10:05] #140 closed

[2021-05-07 10:05] ammarahm-ed commented on #135
Fixed on master, reopen if face problem

[2021-05-07 10:05] #135 closed

[2021-05-07 10:15] ammarahm-ed commented on #154
added in 0.4.1

[2021-05-07 10:15] #154 closed

[2021-05-07 10:50] ammarahm-ed commented on #149
We do not have access to direct urls but possibly, a click event can be triggered. It depends if the SDK allows such functionality or not.

[2021-05-07 12:43] cokepizza commented on #149
If so, is there no way to do it with your library alone without sdk support? Is there a possibility that this feature will be introduced after sdk review? I really need this feature

[2021-05-07 14:51] ammarahm-ed commented on #149
@cokepizza no its not possible without sdk support however I think I have seen that it is possible. I will investigate.

[2021-05-07 14:53] ammarahm-ed commented on #133
use the paused prop on NativeMediaView for this to pause the video when you navigate away.

[2021-05-07 14:53] #133 closed

[2021-05-07 14:53] #134 closed

[2021-05-08 10:16] alexmngn opened #159 "react-native-vector-icons"
react-native-vector-icons is a library adding a huge amount of fonts/icons that are not needed for most projects.
Have it as a peer dependency is making most app 1MB bigger just to use a few small icons.
Would be worth looking into removing this peer dependency to use anything smaller, even maybe simple pngs might be better.

One better option would be to let anyone decide the icons they want to u

[2021-05-08 13:53] alexmngn commented on #142
I'm facing the same issue - I've created a component that I try to use multiple times on the same screen but only the first one is rendering.

With the following, only the first one renders:

[code]

[code]

[2021-05-08 16:14] cokepizza commented on #149
@ammarahm-ed , Thank you! This is a must-have feature for me. If supported, I'm looking forward to seeing that I can make a much more fancy app. Thank you for your kindness and for creating an amazing library. Thanks to you, I was able to easily apply most of admob.

[2021-05-08 16:42] halaei commented on #151
Yes, I am trying to use MoPub via AdMob mediation. Based on Admob docs, MoPub mediation has no extra code requirements, other than adding their sdk.
I think I can send a PR here that have these changes:
1. Use activity instead of application context, if activity is loaded.
2. Add a promise parameter to `setRequestConfiguration()` java function and resolve with initialization status when initializa

[2021-05-08 16:53] ammarahm-ed commented on #151
Hmm it does make sense. Converting it into a promise seems to be the safest way. Also there seems to be no benefit of calling it in index.js. Send in a PR then.

[2021-05-09 20:00] ammarahm-ed commented on #142
I need more info.

1. Does it happen on android and ios both?
2. You should set `adUnitID` using `setRequestConfiguration`.
3. What happens it each `NativeAdView is wrapped in another `View`?.
4. Have you seen the implementation in Example app. It loads ads in a List?

[2021-05-10 09:09] aleluiah commented on #140
won't it result in violation of admob policy

[2021-05-10 10:18] ammarahm-ed commented on #140
You have to handle that using `AppState`. Make sure you are on the latest version. And make sure you do not make ad requests when screen is off.

[2021-05-11 15:40] heinsaar commented on #144
I'm getting the same exact same error with all the latest code. @ammarahm-ed Could you please specify which fix are you referring to?

[2021-05-11 17:47] ammarahm-ed commented on #144
Use the latest version of library.

[2021-05-11 19:02] heinsaar commented on #144
I'm using version 0.4.1 alongside react-native 0.64 as in my package.json:
[code]
Did you mean 0.4.1 as the latest version? Is it compatible with react-native 0.64.0?

Just to try everything I tried downgrading to 0.3.9 and forcing dependencies during installation, but that didn't work either.

The error I receive is this (3 failures, as it says below - might be exactly the same as in the issue de

[2021-05-12 06:47] pqminh997 opened #161 "[IOS] Component 'RNGADMediaView' re-registered direct event 'topVideoEnd' as a bubbling event"
Error while running app. Please help me

//version
"react-native-admob-native-ads": "0.4.1"

//Podfile
pod 'Google-Mobile-Ads-SDK', '7.69.0'
pod 'GoogleMobileAdsMediationFacebook', '6.2.1.0'

![Screen Shot 2021-05-12 at 13 40 13](https://user-images.githubusercontent.com/58838161/117930298-07736980-b328-11eb-8865-6d821c16d9b4.png)

[2021-05-12 07:35] heinsaar commented on #144
Ok so I did some cleaning of the iOS build and now my build fails are down to just one (the first one for **react-native-admob-native-ads.build/Objects-normal/x86_64/RNGADNativeViewManager.o**, which is also the only one for issue creator I think).

It looks like this might be just a matter of proper cleaning so the linking and dependencies hook into each other correctly, but it'd be nice to have

[2021-05-12 08:18] ammarahm-ed commented on #144
You should open xcode and build your project there so you can see what is actually causing the build to fail. What version good "Good Mobile Ads Sdk" are you using. It should be `7.66` i think same as rn firebase. The log you provided don't help since they do not show where or what symbols are missing.

[2021-05-12 08:35] heinsaar commented on #144
The exact line causing the problem is this:

The “pod install” log shows:

Is 8.5.0 too high?

[2021-05-12 08:57] heinsaar commented on #144
I just tried setting in Podfile the version you mentioned:

Then in /ios dir I deleted Pods dir and reran `pod install`, but now it’s messing up other dependencies, I’m getting this error:

It looks to me that version 0.4.1 links to Facebook's mediation... which ends up dissatisfied with  Google-Mobile-Ads-SDK version 7.66, wants at least 8.4.0?

[2021-05-14 21:30] Dheeeraj commented on #142
i am using
`` "react-native-admob-native-ads":"0.4.1"
     "react-native": "0.63.4",
    "@react-native-firebase/admob": "^11.3.2", (not sure if it matters)
``
Every 5th element loaded for me. remaining never occupied with ad

can Conform
1. Only happening in IOS, android works as expected.
2. Tried it same result.
3. i wrapped ad component with a view and also gave them unique key for both View a

[2021-05-16 14:45] aleluiah opened #163 "CallToAction styling not working properly"
the call to action styling isn't working properly

[2021-05-16 19:40] aleluiah commented on #163
the CallToAction  button isn't styling properly, even when using the buttonAndroidStyle prop.

[2021-05-17 14:15] aleluiah commented on #163
i was able to fix this issue using a specified width for the button, i was formerly styling it as though it was touchableopacity. thanks

[2021-05-17 14:15] #163 closed

[2021-05-18 22:09] fredyonge opened #164 "iOS wont build"
Hey,

first of all thank you for the package!
I have a problem on mac, rn 0.63.4

The app wont build with
The following build commands failed:

  CompileC /Users/user/Library/Developer/Xcode/DerivedData/app-aiimymqncsxvllcvtjmeuofmdwaf/Build/Intermediates.noindex/Pods.build/Debug-iphonesimulator/react-native-admob-native-ads.build/Objects-normal/x86_64/RNGADNativeViewManager.o /Users/user/Document

[2021-05-19 19:10] Birat77 commented on #32
Same issue here too. Ad loads for given example ad on the documentation example, doesn't work for other created ads

[2021-05-19 21:15] FairWageFreelancing commented on #161
same here - bump.

[2021-05-19 22:00] FairWageFreelancing commented on #161
Try adding the following to your AppDelegate.m

#import <GoogleMobileAds/GoogleMobileAds.h>

and put this...

[[GADMobileAds sharedInstance] startWithCompletionHandler:nil];

in...

@implementation AppDelegate
- (BOOL)application:(UIApplication *)application    didFinishLaunchingWithOptions:(NSDictionary *)launchOptions {  // Initialize Google Mobile Ads SDK  [[GADMobileAds sharedInstance] startWi

[2021-05-20 07:13] ammarahm-ed commented on #164
@fredyonge what version of Google Mobile Ads Sdk are you using in Podfile?

[2021-05-20 07:14] ammarahm-ed commented on #161
Provide some detail to reproduce the problem.

[2021-05-22 07:51] zoobibackups opened #165 "TypeError: _nativeAdRef$current.loadAd is not a function"
I have tried the example folder but it is giving this error.

[code]

[2021-05-22 10:53] aleluiah opened #166 "User metrics not showing on dashboard"
user metrics in show in older version of library but now show all zero's in user metrics when using latest version of library

[2021-05-23 09:01] ajoykarmakar opened #167 "Blank ads in the version of 0.4.1"
After update to the latest version of this library the ad I got completely blank only ad badge is showing. How can I fix this? or should I need to use the old version of the library?

package -
[code]

[2021-05-24 03:38] #151 closed

[2021-05-25 20:55] rogerkerse commented on #142
I have same issue, when I add multiple ads, then only few of them call `onAdLoaded` or `onAdFailedToLoad`. Most of the ads just stay quite.

[2021-05-26 12:01] ammarahm-ed commented on #167
Read the documentation -> Migration guide for 0.4.0+ version of library

[2021-05-26 12:01] #167 closed

[2021-05-26 12:03] ammarahm-ed commented on #165
Kindly provide proper code/error and not just paste everything here.

[2021-05-26 12:03] #165 closed

[2021-05-26 12:04] ammarahm-ed commented on #164
closing due to inactivity

[2021-05-26 12:04] #164 closed

[2021-05-26 12:05] ammarahm-ed commented on #159
You can exclude the icons you do not want. You should check docs for react-native-vector-icons. Although i will make this configurable in a future release. If you would like to send a PR, please do.

[2021-05-26 12:07] ammarahm-ed commented on #142
@rogerkerse platform?

[2021-05-28 18:14] aleluiah opened #168 "Firebase cloud messaging and analysis consent"
do i need to show another consent form apart from ads consent form, to users in eea when using analytics and cloud messaging in my project or do they ad consent covers all firebase platform products example firebase analytics and cloud messaging

[2021-05-29 12:45] ninacoder-info opened #170 "Conflict with https://github.com/react-native-video/react-native-video"
Conflict with https://github.com/react-native-video/react-native-video

![59310973-9e7fa480-8c6d-11e9-8bc5-9be4080dec32](https://user-images.githubusercontent.com/63708869/120070783-5eae6380-c0b6-11eb-819c-e18d23fd3a50.png)

Sadly I need to use both of them :(

[2021-05-29 16:38] tfkci opened #171 "Admob Open Bidding/ Facebook Realm Time Bidding"
Facebook says they will only support real-time bidding for their platform soon. On the other hand, I couldn't succeed to have the impression from Facebook for bidding auction type while I have from classical waterfall mediation setup with this library.

When I implemented initialization to the application class, it started making requests while not showing ads.  Admob Open Bidding system works lik

[2021-05-29 18:21] bartzy commented on #142
@ammarahm-ed This happens to me as well on iOS, version 0.4.1 of the library.
From 5 ads in a list, 2-3 would not load, not fire any failed/loaded callbacks.

My implementation: https://gist.github.com/bartzy/3ad636795d9f1aba43eff72ca9508ab7

[2021-05-30 14:50] ammarahm-ed commented on #171
@tfkci Maybe that is because we are using older version of google mobile ads library and we can't update to newer version because it will cause incompatibility with other ad libraries that are not updated.

You can test out https://github.com/ammarahm-ed/react-native-admob-native-ads/tree/googleads-8.0.0 branch and see if changes anything for you.

[2021-05-30 14:51] ammarahm-ed commented on #168
I am not sure about that. You should check the respective docs etc for each feature to see what kind of consent you need for each or if only the ads consent is enough

[2021-05-30 14:51] #168 closed

[2021-05-30 14:53] #159 closed

[2021-05-30 14:53] #139 closed

[2021-05-30 14:54] #149 closed

[2021-05-31 16:39] teamzz111 opened #172 "Use of undeclared identifier 'kDFPSimulatorID'"
I'm running latest versions of react native admob-native-ads,

reactnative 0.64
<img width="427" alt="Captura de Pantalla 2021-05-31 a la(s) 11 39 35 a  m" src="https://user-images.githubusercontent.com/37392536/120221968-e1453900-c204-11eb-897c-b5d5275148e0.png">

<img width="1220" alt="Captura de Pantalla 2021-05-31 a la(s) 11 39 10 a  m" src="https://user-images.githubusercontent.com/37392536/1

[2021-06-01 07:59] Vrakoss commented on #82
I would like to start to work on this feature on my free time to support a project of a friend. Where should I start though? Is it sufficient to fork https://github.com/ha-younes72/react-native-admob-native-ads/tree/ad-preload ?

[2021-06-02 03:41] haresh4d opened #173 "Support for Interstitial Ads"
@ammarahm-ed, If someone can implement support for the Interstitial Ads in this library developers wont have to use different library for that. As Custom banners can be created with this library the only remaining part is Interstitial Ads. If there are possibilities, nothing wrong in exploring them.

[2021-06-02 04:08] ammarahm-ed commented on #173
You can make one yourself using the components provided.

[2021-06-02 04:37] haresh4d commented on #173
Great Idea. Do you mean we should display native ad in full screen modal?

[2021-06-02 05:53] ammarahm-ed commented on #173
Yes.

[2021-06-02 09:21] juceda commented on #172
I confirm that. It happened to me too, with XCode 12.4.

[2021-06-03 07:48] neocative commented on #172
+1

I am on Xcode Version 12.5 and RN 0.63.2

[2021-06-03 09:29] aftabaminzoobiapps opened #174 "Invariant Violation: Tried to register two views with the same name RNGADNativeView"
issue since i Update to version `  "react-native-admob-native-ads": "^0.4.1",`
`
Invariant Violation: Tried to register two views with the same name RNGADNativeView`

[2021-06-06 19:10] ammarahm-ed commented on #172
Seems like you have installed v8 of Google Mobile ads sdk. Downgrade to 7.6x

[2021-06-07 18:16] dev007github opened #176 "Ad Loaded...But Showing Blank (latest version of package)"
Iam Integrated package...and testing now on android...But invoking the method onAdloaded but ad not showing.....
This is my code... please help

import NativeAdView from "react-native-admob-native-ads";
import React, { Component,useState,useEffect,useRef } from "react";
import {View} from "react-native";

export const NativeAd = () => {
    const nativeAdViewRef = useRef();

    useEffect(() => {

[2021-06-08 19:06] dev007github commented on #176
anyone know solution? ....Thanks in advance

[2021-06-09 06:12] workpebojot commented on #176
Try to put **NativeAdView** outside **View** component. If it didn't work, try to wrap **NativeAdView** inside **React.Fragment**

[2021-06-09 18:35] dev007github commented on #176
Thanks for your reply...ad is now loading fine....used Example code given in the main repository

[2021-06-10 03:04] IyiolaOwabumowa commented on #172
Any solution?

[2021-06-10 17:02] joseym90 commented on #170
I have the same Issue

[2021-06-11 22:08] teamzz111 commented on #172
react-native-admob-native-ads (from `../node_modules/react-native-admob-native-ads`) was resolved to 0.4.0, which depends on
      GoogleMobileAdsMediationFacebook was resolved to 6.4.1.0, which depends on
        Google-Mobile-Ads-SDK (>= 8.4.0)

[2021-06-11 23:01] teamzz111 commented on #172
iN ADDITION
<img width="361" alt="Captura de Pantalla 2021-06-11 a la(s) 6 01 06 p  m" src="https://user-images.githubusercontent.com/37392536/121756224-00827700-cadf-11eb-80a2-250fa8fe6216.png">

[2021-06-12 00:15] teamzz111 commented on #174
+1

[2021-06-12 00:16] teamzz111 commented on #174
<img width="619" alt="Captura de Pantalla 2021-06-11 a la(s) 7 15 55 p  m" src="https://user-images.githubusercontent.com/37392536/121759027-72f85480-cae9-11eb-966c-7c9c5ee19a4d.png">

[2021-06-13 12:29] Haseeba393 commented on #176
I have used the same code in the repository but getting blank ads. Can you please share your code with me? @dev007github

[2021-06-13 16:28] xsephtion commented on #172
I fixed mine by adding `pod 'Google-Mobile-Ads-SDK' , '7.69.0'` to podfile

[2021-06-13 17:17] Haseeba393 commented on #176
I'm doing exactly same as the library saying me to do. Also I'm using test as well as live ads from my newly created account, but ads are blank nothing showing in there. Also it is giving me error {"error": {"message": "The ad request was successful, but no ad was returned due to lack of ad inventory."}}
![image](https://user-images.githubusercontent.com/41360976/121816452-1f2a6e80-cc95-11eb-925b-

[2021-06-13 18:20] dev007github commented on #176
You need to use Ad components as in the Example app....like IconView,header view etc.. first of all you need to ensure ad showing in the test mode...
In the case live ad you need to wait some days...especially because of new account..

[2021-06-16 16:29] #161 closed

[2021-06-16 16:33] ammarahm-ed commented on #176
This error means that admob has no ads for you to show. If your ad ids are new, this can happen. If you are using test ids and getting this error. Simply delete the app from phone. Clean build by running `./gradlew clean` in android folder. Run app and it should show app. Also sometimes use a vpn because maybe there are no ads for your location.

[2021-06-17 05:38] Haseeba393 commented on #176
I clean and build the app multiple times. Also, i put NativeAdView as per
document instruction in App.js but nothing is showing instead a blank screen

On Wed, 16 Jun 2021 at 21:34, Ammar Ahmed ***@***.***> wrote:

[2021-06-17 05:44] ammarahm-ed commented on #176
You have to set the adUnitID using the AdManager only once in the app. See docs

[2021-06-17 06:11] Haseeba393 commented on #176
Yes I did it too. First, I made new admob account. Then I make two AdUnits:
1. Interstitial
2. Banner
Then I copy appID in manifest file and then follow docs for showing ad but
nothing is showing. Now its been 4 days creating admob account still
nothing is visible

On Thu, 17 Jun 2021 at 10:44, Ammar Ahmed ***@***.***> wrote:

[2021-06-17 06:14] ammarahm-ed commented on #176
Because there are not enough requests being sent for admob to register your ids. While debugging and working on your project, use test adUnitIDs ONLY.

When you release your app to production and publish on Appstore/Playstore change the ids to the ones from your account. Once your app is published, ads will start showing in a few days.

[2021-06-17 15:38] #176 closed

[2021-06-17 15:38] ammarahm-ed commented on #174
fixed on master

[2021-06-17 15:38] #174 closed

[2021-06-17 15:38] #173 closed

[2021-06-17 15:39] #172 closed

[2021-06-17 15:39] #171 closed

[2021-06-17 15:39] ammarahm-ed commented on #170
fixed on master

[2021-06-17 15:39] #170 closed

[2021-06-17 15:40] ammarahm-ed commented on #166
closing due to incomplete information

[2021-06-17 15:40] #166 closed

[2021-06-17 15:40] #82 closed

[2021-06-17 15:40] ammarahm-ed commented on #142
PRS are welcome to fix the issue.

[2021-06-18 17:10] Haseeba393 commented on #176
Okay, I used test adunitIds and also test appID as well in my app but
nothing was visible

On Thu, 17 Jun 2021 at 20:38, Ammar Ahmed ***@***.***> wrote:

[2021-06-22 05:14] dev007github opened #180 "Video not pausing when navigating another page ( tried the Paused prop)"
Native video ad not pausing when navigating another page....when navigating to a page, true passed in the given prop pause...but ad not pausing...please help..

[2021-06-22 07:59] dev007github commented on #180
Anyone know solution? Thanks in advance..

[2021-06-23 11:53] dev007github commented on #180
Please help admin...Iam stuck here

[2021-06-25 01:37] aidanshilling opened #181 "Use of undeclared identifier 'kDFPSimulatorID'"
Anytime I try to build on iOS I get this error. I have installed everything based on docs and followed the instructions [here](https://developers.google.com/admob/ios/quick-start). The error appears on line 38 of RNAdmodNativeAdsManager.

[2021-06-26 16:37] ammarahm-ed commented on #181
@aidanshilling Check example, you have to used fixed version of Google Mobile Ads library with is `7.xx`. The error is thrown because you have installed newer version which is not supported

[2021-06-29 21:51] freakk101 opened #183 "Interstitial ads example"
Any example for implementation of interstitial ads ??

[2021-07-01 03:11] teamzz111 commented on #181
@ammarahm-ed it's a big problem if you are using firebase :/

[2021-07-01 22:04] rogerkerse commented on #124
Unfortunately lowering `Google-Mobile-Ads-SDK` version doesn't work together with react native firebase library because it is requiring the new one.

[2021-07-02 05:11] avrutisavaliya-logistic opened #184 "Many issues after pod install in iOS platform"
i am using
"react-native-admob-native-ads":"0.4.1"
"react-native": "0.64.2",

iOS build not working after pod install in IOS.

[2021-07-02 13:18] ammarahm-ed commented on #124
I see, well maybe we should upgrade the version too. I will find time to do it during the weekend.

[2021-07-02 13:40] avrutisavaliya-logistic commented on #184
![Screenshot 2021-07-02 at 4 35 54 PM](https://user-images.githubusercontent.com/68277221/124283059-1a0c6100-db69-11eb-98fb-823cd49b64f5.png)

[2021-07-07 06:47] #184 closed

[2021-07-11 11:48] ammarahm-ed commented on #183
It's easy. Use a Modal.

[2021-07-12 03:18] wjaykim opened #186 "[Android] Handler is sometimes null when removeCallbacks() calls"
Stack Trace:
`Fatal Exception: java.lang.NullPointerException
Attempt to invoke virtual method 'void android.os.Handler.removeCallbacks(java.lang.Runnable)' on a null object reference
com.ammarahmed.rnadmob.nativeads.RNAdmobNativeView.setNativeAd
com.ammarahmed.rnadmob.nativeads.RNAdmobNativeView$3.onNativeAdLoaded`

[2021-07-12 15:55] ammarahm-ed commented on #186
Fixed.

[2021-07-12 15:55] #186 closed

[2021-07-12 15:56] ammarahm-ed commented on #181
@teamzz111 Fixed on master

[2021-07-12 15:56] #181 closed

[2021-07-12 15:58] #183 closed

[2021-07-12 15:59] ammarahm-ed commented on #180
@dev007github which platform? iOS or Android?

[2021-07-19 07:01] avrutisavaliya-logistic opened #192 "Unknown type name 'DFPRequest'"
![Screenshot 2021-07-19 at 12 29 32 PM](https://user-images.githubusercontent.com/68277221/126116647-6c865892-ba1f-4e3f-a68a-9df609b866e3.png)

Unknown type name 'DFPRequest'
![Screenshot 2021-07-19 at 12 30 23 PM](https://user-images.githubusercontent.com/68277221/126116799-3f63b753-c4c1-4a95-bb45-c0a65d0e8c28.png)
![Screenshot 2021-07-19 at 12 31 10 PM](https://user-images.githubusercontent.com/

[2021-07-19 11:14] viveKing21 opened #193 "App not installing after install this package"
[code]

i got this error after adding this package on my app

I installed 0.3.6 version and its working, can you please fix this on latest version too

[2021-07-21 12:55] cristea2017 opened #194 "NSUserTrackingUsageDescription [IOS]"
after cloning this repo :  git clone https://github.com/ammarahm-ed/react-native-admob-native-ads.git
app is crashing at start.

To solve this you need to add NSUserTrackingUsageDescription key in your info.plist

[2021-07-21 13:24] wjaykim commented on #192
Add `pod 'Google-Mobile-Ads-SDK' , '7.69.0'` to your podfile.
Support for Google Mobile Ads SDK Version 8.x is currently not supported in this package.

[2021-07-21 13:28] wjaykim commented on #194
Is this issue is related to the example app?

[2021-07-21 13:34] wjaykim commented on #193
What react native version and your android project's gradle version are you using?

[2021-07-22 14:13] viveKing21 commented on #193
React native  0.63.4, React 16.13.1, Gradle 6.2

[2021-07-22 14:49] davidarnaub7 opened #196 "No type or protocol named 'GADUnifiedNativeAdLoaderDelegate'."
I've followed the guideline step by step. However after installing pods, cleaning the build folder the project does not compile on Ios (I don't try to compile it in Android yet).

Any idea?

[2021-07-23 07:04] cristea2017 commented on #194
YES

[2021-07-23 07:11] cristea2017 commented on #196
provide more details, show us a screenshot or smth that will help us  #_#

[2021-07-24 06:37] wjaykim commented on #196
https://github.com/ammarahm-ed/react-native-admob-native-ads/issues/192#issuecomment-884187512

[2021-07-24 06:39] wjaykim commented on #194
Fixes are added to #195 and will be merged

[2021-07-24 06:49] wjaykim commented on #193
What's your gradle version, not your gradle wrapper version?

[2021-07-25 18:52] munhyok opened #197 "Is it possible to implement Native Ads with Class component instead of Hook?"
First of all, I would like to thank @ammarahm-ed  for creating this library.
I am writing code with Class component, not Hook However, I am having a lot of trouble because there is no example written with a Class component. Can you show an example of implementing it with a Class component?

This is the code I've been writing so far.

<NativeAdView
                                  style={{

[2021-07-26 08:59] #194 closed

[2021-07-28 14:13] AlexanderLevinQU opened #198 "Failed to compile"
I am failing to install react native ad mobs:

Has anyone faced this issue?

The following build commands failed:
	CompileC /Users/alexlevin/Library/Developer/Xcode/DerivedData/lokal-ezmbwaelnnmrtvdaznfohlxxqtqm/Build/Intermediates.noindex/Pods.build/Debug-iphonesimulator/react-native-admob-native-ads.build/Objects-normal/x86_64/RNAdmobNativeAdsManager.o /Users/alexlevin/dev/lokal/node_modules/rea

[2021-07-29 14:35] galihlprakoso opened #199 "Building Failed, Error Android: Type com.google.android.gms.internal.measurement.zzib is referenced as an interface"
I just added react-native-admob-native-ads on my project and got this error on android:
<img width="1134" alt="Screen Shot 2021-07-29 at 21 33 05" src="https://user-images.githubusercontent.com/16918033/127511152-c4aee94a-d021-41ea-9ffd-fedcf11d43a6.png">